<h3 class="w-100 font-subheader font-weight-bold d-flex align-items-center mb-2">Coin Shop List</h3>
<table class="font-table w-100 table table-bordered table-hover mb-0">
    <thead>
        <tr>
            <th class="align-middle py-2">Shop Name</th>
            <th class="text-center align-middle py-2">Tools</th>
        </tr>
    </thead>
    <tbody>
        <% if(coinEventData.shops.length > 0) { %>
            <% coinEventData.shops.forEach((coinShop, index) => { %>
                <tr>
                    <td class="align-middle py-2">
                        <%= coinShop.shopName %>
                    </td>
                    <td class="table-cols-75 text-center align-middle py-2">
                        <a href="/admin/coin-event/<%= coinEventData.eventId %>/shop/<%= index %>" class="btn btn-outline-info btn-sm"><i class="fas fa-pen"></i></a>
                    </td>
                </tr>
            <% }) %>
        <% } else { %>
            <tr>
                <td class="table-cols-75 text-center" colspan="2">- No shops added yet. Why not add some? -</td>
            </tr>
        <% } %>
    </tbody>
</table>