<div class="font-content w-100 d-flex justify-content-center align-items-center flex-column mb-4">
    <div class="pot-list-section-subheader w-100">
        <h3 class="font-subheader index-collapse d-flex align-items-center cursor-pointer mb-0 px-3 py-2 collapsed" data-toggle="collapse" href="#coin-breakdown">
            <i class="fas fa-caret-down mr-2"></i> Coin Breakdown
        </h3>
    </div>
    <div class="pot-list-section w-100 px-0 collapse" id="coin-breakdown">
        <div class="w-100 d-flex justify-content-center flex-wrap px-3 pb-3 pt-3">
            
        </div>
    </div>
</div>