<div class="font-content w-100 d-flex justify-content-center align-items-center flex-column mb-4">
    <div class="collapsible-section-subheader w-100">
        <h3 class="font-subheader index-collapse d-flex align-items-center cursor-pointer mb-0 px-3 py-2 collapsed" data-toggle="collapse" href="#coin-breakdown">
            <i class="fas fa-caret-down mr-2"></i> Coin Numbers Breakdown
        </h3>
    </div>
    <div class="collapsible-section w-100 px-0 py-3 collapse" id="coin-breakdown">
        <%- include("./coinBreakdownDetails") %>
    </div>
</div>