<%- include("../partials/header") %>
<%- include("../partials/navbar") %>

<div class="container content h-100 d-flex p-0 pt-5">
	<%- include("../partials/admin/adminSidebar") %>
	<div class="main-content-div col-md-10 p-0 mt-2 position-relative">
		<div class="single-info-page active w-100 align-items-center flex-column px-4 pt-4 px-lg-0 pt-lg-4">
			<div class="info-section w-100 d-flex justify-content-center align-items-center flex-column px-lg-4 pb-3">
				<div class="w-100 d-flex justify-content-center align-items-center position-relative mb-2">
					<div class="w-100 border-top border-dark"></div>
					<h1 class="font-header w-100 text-center m-0">Add New Item</h1>
					<div class="w-100 border-top border-dark"></div>
				</div>
				<div class="w-100 mb-3">
					<h2 class="font-subheader font-weight-bold text-underline mb-2">Subheader</h2>
					<div class="font-content w-100 d-flex justify-content-center align-items-center flex-column mb-4">
						<p class="w-100 text-justify">Text about subheader here</p>
					</div>
				</div>
				<div class="w-100 mb-3">
					<h2 class="font-subheader w-100 font-weight-bold text-underline mb-2">Subheader</h2>
					<div class="font-content w-100 d-flex justify-content-center align-items-center flex-column mb-4">
						<p class="w-100 text-justify">Text about subheader here</p>
					</div>
				</div>
				<div class="w-100 mb-3">
					<h2 class="w-100 font-subheader font-weight-bold text-underline mb-2">Subheader</h2>
					<div class="font-content w-100 d-flex justify-content-center align-items-center flex-column mb-4">
						<h3 class="w-100 font-subsubheader font-italic mb-0">Subsubheader</h3>
						<p class="w-100 text-justify">Text about subsubheader here</p>
					</div>

					<div class="font-content w-100 d-flex justify-content-center align-items-center flex-column mb-4">
						<h3 class="w-100 font-subsubheader font-italic mb-0">Subsubheader</h3>
						<p class="w-100 text-justify">Text about subsubheader here</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<%- include("../partials/footer") %>