<nav class="sidebar sidebar-left font-sidebar col-12 col-lg-3 col-xl-2 p-0">
    <div class="col-12 d-lg-block collapse px-0" id="sidebar-nav">
        <div class="mb-0 px-4 px-lg-3 pt-4 mb-4">
            <h1 class="font-weight-bold">Admin Panel</h1>
            <ul class="mb-2 pl-3">
                <div class="mb-4">
                	<h2 class="list-style-type-none sidebar-collapse mb-1" data-toggle="collapse" href="#side-site">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-caret-down-fill" viewBox="0 0 16 16">
                          <path d="M7.247 11.14 2.451 5.658C1.885 5.013 2.345 4 3.204 4h9.592a1 1 0 0 1 .753 1.659l-4.796 5.48a1 1 0 0 1-1.506 0z"/>
                        </svg>&nbsp;Site Controls
                    </h2>
                    <ul class="pl-3 collapse show" id="side-site">
                    	<li class="list-style-type-none mb-0">
                            <a href="/admin/icons" class="sidebar-btn d-block py-1 text-decoration-none <% if(locals.branch && branch === "icons") { %>active<% } %>">&#8627; Icons</a>
                        </li>
                        <li class="list-style-type-none mb-0">
                            <a href="/admin/damage-skins" class="sidebar-btn d-block py-1 text-decoration-none <% if(locals.branch && branch === "damage-skins") { %>active<% } %>">&#8627; Damage Skins</a>
                        </li>
                        <li class="list-style-type-none mb-0">
                            <a href="/admin/coin-events" class="sidebar-btn d-block py-1 text-decoration-none <% if(locals.branch && branch === "coin-events") { %>active<% } %>">&#8627; Coin Events</a>
                        </li>
                    </ul>
                </div>

                <div class="mb-4">
                	<h2 class="list-style-type-none sidebar-collapse mb-1" data-toggle="collapse" href="#side-users">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-caret-down-fill" viewBox="0 0 16 16">
                          <path d="M7.247 11.14 2.451 5.658C1.885 5.013 2.345 4 3.204 4h9.592a1 1 0 0 1 .753 1.659l-4.796 5.48a1 1 0 0 1-1.506 0z"/>
                        </svg>&nbsp;Account Controls
                    </h2>
                    <ul class="pl-3 collapse show" id="side-users">
                    	<li class="list-style-type-none mb-0">
                            <a href="/logout" class="sidebar-btn d-block py-1 text-decoration-none">&#8627; Logout</a>
                        </li>
                    </ul>
                </div>
            </ul>
        </div>
    </div>
</nav>