<nav class="sidebar sidebar-right font-sidebar col-xl-2 d-none d-xl-block position-sticky px-3 pt-4">
    <div class="mb-3">
        <h1 class="font-weight-bold">Set Effects / Lucky Items</h1>
        <ul class="mb-2 pl-xl-2">
            <div class="mb-4">
                <h2 class="list-style-type-none mb-1">
                    <a class="sidebar-btn d-block py-1 text-decoration-none" href="/maple/extras/set-effects" target="_blank">&#8627; Calculator <sup><i class="fas fa-external-link-alt"></i></sup></a>
                </h2>
            </div>

            <div class="mb-4">
                <h2 class="list-style-type-none mb-1">
                    <a class="sidebar-btn d-block py-1 text-decoration-none" href="#info">&#8627; About Set Effects</a>
                </h2>
                <ul class="pl-3">
                    <li class="list-style-type-none mb-0">
                        <a href="#info-intro" class="sidebar-btn d-block py-1 text-decoration-none">&#8627; Introduction</a>
                    </li>
                    <li class="list-style-type-none mb-0">
                        <a href="#info-lucky-items" class="sidebar-btn d-block py-1 text-decoration-none">&#8627; Lucky Items</a>
                    </li>
                    <li class="list-style-type-none mb-0">
                        <a href="#info-priority" class="sidebar-btn d-block py-1 text-decoration-none">&#8627; Lucky Item Priority</a>
                    </li>
                    <li class="list-style-type-none mb-0">
                        <a href="#info-importance" class="sidebar-btn d-block py-1 text-decoration-none">&#8627; How Important Are Lucky Items?</a>
                    </li>
                </ul>
            </div>

            <div class="mb-4">
                <h2 class="list-style-type-none mb-1">
                    <a class="sidebar-btn d-block py-1 text-decoration-none" href="#credits">&#8627; Credits</a>
                </h2>
                <ul class="pl-3">
                    <li class="list-style-type-none mb-0">
                        <a href="#credits-ack" class="sidebar-btn d-block py-1 text-decoration-none">&#8627; Acknowledgements</a>
                    </li>
                    <li class="list-style-type-none mb-0">
                        <a href="#credits-contact" class="sidebar-btn d-block py-1 text-decoration-none">&#8627; Contact</a>
                    </li>
                </ul>
            </div>
        </ul>
    </div>
</nav>