@use '_global-styles' as globals;

.single-logo-div {
	height: 50px;
}

.about-logo {
	background-repeat: no-repeat;
	background-position: center;
	background-size: contain;

	&.single-logo {
		max-height: 50px;
	}

	&.single-logo-med {
		max-height: 40px;
	}

	&.single-logo-small {
		max-height: 30px;
	}

	&.discord-logo {
		background-image: url("../images/logos/discord.svg");
	}
}

.horz-partition {
	width: 75px;
	height: 1px;
}