@use '_global-styles' as globals;

.single-social {
	a {
		&:hover, &.active {
			background-color: globals.$light-mode-light-grey;
			color: globals.$light-mode-black;
			font-weight: bold;
			transition: all 0.3s;
		}
	}
}

.single-logo-div {
	height: 50px;
}

.single-logo {
	max-height: 50px;
}

.single-logo-small {
	max-height: 35px;
}

.horz-partition {
	width: 75px;
	height: 1px;
	border-top: 1px solid globals.$light-mode-grey;
}