@use '_global-styles' as globals;

.database-table {
	max-height: 500px;
	height: 100%;
	overflow: auto;
}

.coin-event-banner {
    object-fit: cover;
    transition: all 0.2s;

    &:hover {
        transform: scale(1.05);
        transition: all 0.2s;
    }

    &.small {
        height: 100px;
    }
}

.remove-latest-dmg-skin-btn {
	right: 0.25rem;
}

.delete-bulk-add-item-div {
    top: -8px;
    right: -5px;
}

.tradability-display {
    top: 3px;
    right: 5px;
}