@use '_global-styles' as globals;

body.dark-mode {
	background-image: linear-gradient(to bottom, globals.$dark-mode-black, globals.$dark-mode-black), url('../images/dark.jpg');
	background-color: globals.$dark-mode-black;
	color: globals.$dark-mode-white;

	// Navbar 
	.navbar {
		.nav-item {
			.nav-link {
				&:hover, &.active {
					color: globals.$dark-mode-white-opaque;
				}
			}

			.dropdown-menu {
				background-color: globals.$dark-mode-navy-grey-opaque;
				border: 1px solid globals.$dark-mode-grey;

				.dropdown-item {
					color: globals.$dark-mode-white;

					&:hover, &.active {
						color: globals.$dark-mode-white-opaque;
						background-color: globals.$dark-mode-grey;
					}
				}
			}
		}
	}
	
	// Sidebar
	.sidebar {
		#sidebar-nav {
			border-bottom: 1px solid globals.$dark-mode-navy-grey;

			@include globals.for-size(md) {
				border-bottom: none;
			}
		}

		&.sidebar-left {
			@include globals.for-size(md) {
				border-right: 1px solid globals.$dark-mode-navy-grey;
			}
		}

		&.sidebar-right {
			border-left: 1px solid globals.$dark-mode-navy-grey;
		}

		li {
			&.active {
				background-color: globals.$dark-mode-navy-grey-opaque;
				color: globals.$dark-mode-white;
			}
		}

		.sidebar-btn {
			color: globals.$dark-mode-white;

			a {
				color: globals.$dark-mode-white;
			}

			&:hover, &.active {
				background-color: globals.$dark-mode-navy-grey-opaque;
				color: globals.$dark-mode-white;
			}
		}
	}

	// Form
	form {
		.form-control {
			background-color: globals.$dark-mode-navy-grey;
			color: globals.$dark-mode-white;
			border: 1px solid globals.$dark-mode-grey;
		}
	}
	
	// Modal
	.modal {
		.modal-content {
			border: 1px solid globals.$dark-mode-grey;
			color: globals.$dark-mode-white;
			background-color: globals.$dark-mode-black-opaque;

			.modal-header {
				border-bottom: 1px solid globals.$dark-mode-grey;
			}

			.modal-footer {
				border-top: 1px solid globals.$dark-mode-grey;
			}

			.close {
				color: globals.$dark-mode-white;
				text-shadow: 0 1px 0 globals.$dark-mode-black;
			}
		}	
	}

	// Carousel
	.carousel.carousel-fade {
		.carousel-inner {
			.carousel-item {
				.carousel-caption {
					color: globals.$dark-mode-white;
				}
			}
		}
	}

	.carousel-control-prev, .carousel-control-next {
		color: globals.$dark-mode-white;

		&:hover, &:focus {
			color: globals.$dark-mode-white;
		}
	}

	// Table
	table {
		&.table-bordered {
			td, th {
				color: globals.$dark-mode-white;
			}
		}
	}

	// Radio
	.radio-select-group {
		.form-check {
			.radio-select {
				border: 1px solid globals.$dark-mode-grey;

				&:hover, &.active {
					background-color: globals.$dark-mode-navy-grey;
					color: globals.$dark-mode-white;
				}
			}
		}
	}

	// Maple Index
	.index-section-subheader, .index-section {
		border: 1px solid globals.$dark-mode-grey;
	}

	.page-select, .single-option-select {
		&:hover, &.active {
			background-color: globals.$dark-mode-navy-grey-opaque;
			color: globals.$dark-mode-white;
		}

		a {
			color: globals.$dark-mode-white;
		}
	}

	// Extras
	.job-choice-div, .equip-choice {
		.single-option-select {
			border: 1px solid globals.$dark-mode-grey;
		}
	}

	#soul-list-carousel {
		.carousel-nav {
			border-bottom: 1px solid globals.$dark-mode-grey;
		}

		.carousel-item, 
		.soul-skill-info, .soul-skill-info-header,
		.soul-stat-info, .soul-stat-info-header {
			border: 1px solid globals.$dark-mode-grey;
		}
	}
	
	.single-set-effect {
		background-color: globals.$dark-mode-navy-grey;
		border: 1px solid globals.$dark-mode-grey;
	}

	// About
	.single-social {
		a {
			color: globals.$dark-mode-white;

			&:hover, &.active {
				background-color: globals.$dark-mode-navy-grey-opaque;
				color: globals.$dark-mode-white;
				font-weight: bold;
			}
		}
	}

	.about-logo {
		&.gmail-logo {
			background-image: url("../images/logos/gmail-logo-dark.png");
		}

		&.youtube-logo {
			background-image: url("../images/logos/youtube-logo-dark.png");
		}
	}

	.horz-partition {
		border-top: 1px solid globals.$dark-mode-grey;
	}
}