@use '_global-styles' as globals;

body.dark-mode {
    color: globals.$dark-mode-white;

    .text-custom {
        color: globals.$highlight-orange;
    }

    .btn-outline-custom {
        color: globals.$highlight-orange;
        border-color: globals.$highlight-orange;

        &:hover {
            color: globals.$dark-mode-black-opaque;
            background-color: globals.$highlight-orange;
            border-color: globals.$highlight-orange;
        }
    }

    // Navbar 
    .navbar {
        border-bottom: 1px solid globals.$dark-mode-grey;

        .nav-item {
            .nav-link {
                &:hover, &.active {
                    color: globals.$dark-mode-white-opaque;
                }
            }

            .dropdown-menu {
                background-color: globals.$dark-mode-navy-grey-opaque;
                border: 1px solid globals.$dark-mode-grey;

                .dropdown-item {
                    color: globals.$dark-mode-white;

                    &.single-dropdown, &:hover, &.active {
                        color: globals.$dark-mode-white-opaque;
                        background-color: globals.$dark-mode-grey;
                    }
                }
            }
        }
    }
    
    // Sidebar
    .sidebar {
        border-bottom: 1px solid globals.$dark-mode-navy-grey;

        &.sidebar-left {
            background-color: globals.$dark-mode-black-opaque;

            @include globals.for-size(lg) {
                background: transparent;
                border-right: 1px solid globals.$dark-mode-navy-grey;
                border-bottom: none;
            }
        }

        &.sidebar-right {
            border-left: 1px solid globals.$dark-mode-navy-grey;
            border-bottom: none;
        }

        li {
            &.active {
                background-color: globals.$dark-mode-navy-grey-opaque;
                color: globals.$dark-mode-white;
            }
        }

        .sidebar-btn {
            color: globals.$dark-mode-white;

            a {
                color: globals.$dark-mode-white;
            }

            &:hover, &.active {
                background-color: globals.$dark-mode-navy-grey-opaque;
                color: globals.$dark-mode-white;
            }
        }
    }

    // Form
    form {
        .form-control {
            background-color: globals.$dark-mode-navy-grey;
            color: globals.$dark-mode-white;
            border: 1px solid globals.$dark-mode-grey;
        }

        .form-control-plaintext {
            color: globals.$dark-mode-white;
        }

        .form-check {
            .form-check-label {
                border: 1px solid globals.$dark-mode-grey;

                &:hover, &.active {
                    background-color: globals.$dark-mode-navy-grey;
                    color: globals.$dark-mode-white;
                }
            }
        }

        option:disabled {
            background-color: globals.$dark-mode-navy-grey-opaque;
            color: globals.$dark-mode-white;
        }
    }
    
    // Modal
    .modal-btn-trigger {
        border: 2px solid globals.$dark-mode-grey;
        background-color: globals.$dark-mode-black-opaque;
        transition: all 0.2s;

        &:hover {
            background-color: globals.$dark-mode-grey;
            transition: all 0.2s;
        }
    }

    .modal {
        .modal-content {
            border: 1px solid globals.$dark-mode-grey;
            color: globals.$dark-mode-white;
            background-color: globals.$dark-mode-black-opaque;

            .modal-header {
                border-bottom: 1px solid globals.$dark-mode-grey;
            }

            .modal-footer {
                border-top: 1px solid globals.$dark-mode-grey;
            }

            .close {
                color: globals.$dark-mode-white;
                text-shadow: 0 1px 0 globals.$dark-mode-black;
            }
        }   
    }

    // Carousel
    .carousel.carousel-fade {
        .carousel-inner {
            .carousel-item {
                .carousel-caption {
                    color: globals.$dark-mode-white;
                }
            }
        }
    }

    .carousel-control-prev, .carousel-control-next {
        color: globals.$dark-mode-white;

        &:hover, &:focus {
            color: globals.$dark-mode-white;
        }
    }

    // Collapsibles
    .collapsible-subheader, .collapsible-section {
        border: 1px solid globals.$dark-mode-grey;
    }

    .collapsible-section-subheader {
        background-color: globals.$dark-mode-navy-grey-opaque;
    }

    .collapsible-section {
        background-color: globals.$dark-mode-black;
    }

    // Pagination
    .pagination {
        .page-item {
            .page-link {
                background-color: globals.$dark-mode-black;
                border-color: globals.$dark-mode-grey;
                color: globals.$dark-mode-white;
            }

            &:hover, &.active {
                .page-link {
                    background-color: globals.$dark-mode-grey;
                }
            }
        }
    }

    // Table
    table {
        background-color: globals.$dark-mode-navy-grey-opaque;
        color: globals.$dark-mode-white;

        &.table-bordered {
            td, th, thead th {
                color: globals.$dark-mode-white;
                border-color: globals.$dark-mode-grey;
            }

            th {
                &.empty-row {
                    background-color: globals.$dark-mode-black;
                }
            }

            tr {
                &.tr-section-header {
                    background-color: globals.$dark-mode-black;
                }
            }

            &.table-hover {
                tbody {
                    tr:hover {
                        color: globals.$dark-mode-white;
                        background-color: globals.$dark-mode-white-transparent;
                    }
                }
            }
        }
    }

    // Radio
    .radio-select-group {
        .form-check {
            .radio-select {
                border: 1px solid globals.$dark-mode-grey;

                &:hover, &.active {
                    background-color: globals.$dark-mode-navy-grey;
                    color: globals.$dark-mode-white;
                }
            }
        }
    }

    // Button
    .action-button {
        color: globals.$dark-mode-white;
        border: 1px solid globals.$dark-mode-grey;
        transition: background-color 0.2s;

        &:hover {
            background-color: globals.$dark-mode-grey;
            transition: background-color 0.2s;
        }
    }

    // Tabs
    .nav-tabs {
        border-bottom: 1px solid globals.$dark-mode-grey;

        .nav-link {
            &:hover, &.active {
                background-color: globals.$dark-mode-grey;
                border-color: globals.$dark-mode-navy-grey;
            }
        }
    }

    .nav-pills {
        .nav-link {
            color: globals.$dark-mode-white;

            &:hover, &.active {
                background-color: globals.$dark-mode-grey;
                color: globals.$dark-mode-white;
            }
        }
    }

    .tab-pane {
        border: 1px solid globals.$dark-mode-navy-grey;

        .single-map-select {
            border: 1px solid globals.$dark-mode-navy-grey;
        }
    }

    // Maple Index
    .index-section-subheader, .index-section {
        border: 1px solid globals.$dark-mode-grey;
    }

    .page-select, .single-option-select {
        &:hover, &.active {
            background-color: globals.$dark-mode-navy-grey-opaque;
            color: globals.$dark-mode-white;
        }

        a {
            color: globals.$dark-mode-white;
        }
    }

    // Extras
    .main-content-div {
        background-color: globals.$dark-mode-black;
    }

    .single-option-select {
        border: 1px solid globals.$dark-mode-grey;
    }

    #soul-list-carousel {
        .carousel-nav {
            border-bottom: 1px solid globals.$dark-mode-grey;
        }

        .carousel-item, 
        .soul-skill-info, .soul-skill-info-header,
        .soul-stat-info, .soul-stat-info-header {
            border: 1px solid globals.$dark-mode-grey;
        }
    }
    
    .single-set-effect {
        background-color: globals.$dark-mode-navy-grey;
        border: 1px solid globals.$dark-mode-grey;
    }

    .todd-table {
        background-color: transparent;

        & > thead {
            background-color: globals.$dark-mode-navy-grey-opaque;
        }

        & > tbody {
            background-color: globals.$dark-mode-grey;
        }
    }

    .dmg-skin-section-subheader, .dmg-skin-section {
        border: 1px solid globals.$dark-mode-grey;
    }

    .dmg-skin-section-subheader {
        background-color: globals.$dark-mode-navy-grey-opaque;
    }

    .single-dmg-skin {
        & > div {
            border: 1px solid globals.$dark-mode-grey;

            .dmg-skin-header {
                background-color: globals.$dark-mode-navy-grey-opaque;
            }

            .dmg-skin-body {
                background-color: globals.$dark-mode-black-opaque;
            }

            .dmg-skin-tools {
                .view-dmg-skin-btn, .add-dmg-skin-btn, .remove-dmg-skin-btn {
                    border: 1px solid globals.$dark-mode-grey;
                    background-color: globals.$dark-mode-black-opaque;
                    transition: all 0.2s;

                    &:hover {
                        transition: all 0.2s;
                        color: globals.$dark-mode-black;
                    }
                }

                .view-dmg-skin-btn {
                    color: globals.$dark-mode-white;

                    &:hover {
                        background-color: globals.$dark-mode-white;
                    }
                }

                .add-dmg-skin-btn {
                    color: globals.$dark-mode-green;

                    &:hover {
                        background-color: globals.$dark-mode-green;
                    }
                }

                .remove-dmg-skin-btn {
                    color: globals.$red;
                    
                    &:hover {
                        background-color: globals.$red;
                    }
                }
            }
        }

        &.active > div {
            border: 1px solid globals.$dark-mode-green;
            
            .dmg-skin-header {
                background-color: globals.$dark-mode-green;
            }
        }
    }

    #num-selected-skins {
        border: 2px solid globals.$dark-mode-grey;
        background-color: globals.$dark-mode-black-opaque;
        transition: all 0.2s;
    }

    .btn-dmg-skin-modal {
        &:hover {
            #num-selected-skins {
                background-color: globals.$dark-mode-grey;
                transition: all 0.2s;
            }
        }
    }

    @keyframes flash {
        0% { background-color: globals.$dark-mode-black-opaque; }
        40% { background-color: globals.$dark-mode-green; }
        60% { background-color: globals.$dark-mode-green; }
        100% { background-color: globals.$dark-mode-black-opaque; }
    }

    @keyframes flash-danger {
        0% { background-color: globals.$dark-mode-black-opaque; }
        40% { background-color: globals.$red; }
        60% { background-color: globals.$red; }
        100% { background-color: globals.$dark-mode-black-opaque; }
    }

    .single-selected-skin {
        border: 1px solid globals.$dark-mode-grey;
        transition: background-color 0.2s;

        &:hover {
            background-color: globals.$dark-mode-grey;
            transition: background-color 0.2s;
        }

        .remove-selected-dmg-skin-btn {
            border: 1px solid globals.$dark-mode-grey;
            background-color: globals.$dark-mode-black-opaque;
            transition: all 0.2s;
            color: globals.$red;
            
            &:hover {
                transition: all 0.2s;
                color: globals.$dark-mode-black;
                background-color: globals.$red;
            }
        }
    }

    .quick-jump-div {
        border: 2px solid globals.$dark-mode-grey;
    }

    #dmg-skin-carousel {
        .carousel-nav {
            border-bottom: 1px solid globals.$dark-mode-grey;
        }

        .carousel-item {
            border: 1px solid globals.$dark-mode-grey;
        }
    }

    // EXP Stacking
    #char-level {
        border-bottom: 2px solid globals.$dark-mode-grey !important;
    }

    .pill-section {
        border: 1px solid globals.$dark-mode-grey;
    }

    .pill-section-subheader {
        background-color: globals.$dark-mode-navy-grey-opaque;
    }

    .pill-section-content {
        background-color: globals.$dark-mode-black-opaque;
    }

    #dailies-container {
        @include globals.for-size(md) { border-right: 1px solid globals.$dark-mode-grey; }
    }

    .single-exp-stack, .single-exp-content {
        border: 1px solid globals.$dark-mode-grey;
        transition: all 0.2s;

        &:hover {
            border: 1px solid globals.$dark-mode-green; 
            transition: all 0.2s;
        }

        &.active {
            background-color: globals.$dark-mode-green;
            transition: all 0.2s;
        }
    }

    .tab-pane {
        .single-map-select {
            border: 1px solid globals.$dark-mode-navy-grey;
            transition: all 0.2s;

            &:hover {
                border: 1px solid globals.$dark-mode-green;
                transition: all 0.2s;
            }

            &.active {
                background-color: globals.$dark-mode-green;
                transition: all 0.2s;
            }
        }
    }

    .single-daily-quest, .single-mp-dungeon {
        &.active {
            &:hover {
                background-color: globals.$dark-mode-grey;
            }
        }
    }

    #selected-mp-dungeon {
        background-color: globals.$dark-mode-black-opaque;
    }

    // Coin Events
    #active-profile {
        border: 2px solid globals.$dark-mode-navy-grey;
        background-color: globals.$dark-mode-black-opaque;
    }

    // Monster life
    .mlife-container {
        .mlife-container-div {
            border: 1px solid globals.$dark-mode-navy-grey;

            &:hover, &.copied {
                background: linear-gradient(to right, globals.$highlight-orange 0%, globals.$dark-mode-black 3%, globals.$dark-mode-black 100%) no-repeat;
            }

            &.copied {
                border-color: globals.$highlight-orange;
            }

            &.copied {
                .mlife-container-header {
                    color: globals.$highlight-orange;
                }
            }
        }
    }

    .single-monster-row {
        &:hover {
            background-color: globals.$dark-mode-grey;
        }

        .tool-display {
            border-right: 1px solid globals.$highlight-orange;
        }
    }

    // About
    .single-social {
        a {
            color: globals.$dark-mode-white;

            &:hover, &.active {
                background-color: globals.$dark-mode-navy-grey-opaque;
                color: globals.$dark-mode-white;
                font-weight: bold;
            }
        }
    }

    .about-logo {
        &.gmail-logo {
            background-image: url("https://whacky-website.s3-ap-southeast-1.amazonaws.com/images/logos/gmail-logo-dark.png");
        }

        &.youtube-logo {
            background-image: url("https://whacky-website.s3-ap-southeast-1.amazonaws.com/images/logos/youtube-logo-dark.png");
        }

        &.ko-fi-logo, &.paypal-logo {
            background-color: globals.$dark-mode-grey;
        }
    }

    .horz-partition {
        border-top: 1px solid globals.$dark-mode-grey;
    }

    // Symbol Calculator
    .single-symbol-btn {
        &:hover, &.active {
            background-color: globals.$dark-mode-navy-grey-opaque;
        }
    }

    .single-symbol-div {
        & > div {
            border: 1px solid globals.$dark-mode-grey;
        }

        .single-cost-breakdown {
            border-color: globals.$dark-mode-grey;
        }
    }
}