@use '_global-styles' as globals;

.small-boss-square {
	max-height: 40px;
}

.select-sort-type {
	width: 100px;
}

.sort-arrows-div {
	height: 20px;

	.fa-caret-up {
		top: -1px;
	}

	.fa-caret-down {
		bottom: -1px;
	}
}

.todd-item-img-div {
	height: 35px;

	.item-img.highlight {
		background-color: rgba(255, 0, 0, 0.5)
	}
}

.single-dmg-skin {
	& > div {
		transition: all 0.2s;

		.dmg-skin-header {
			transition: all 0.2s;
		}

		.dmg-skin-body {
			height: 150px;	
		}
	}

	&:hover > div, &.active > div {
		transition: all 0.2s;

		.dmg-skin-header {
			transition: all 0.2s;
		}
	}
}