@use '_global-styles' as globals;

.small-boss-square {
	max-height: 40px;
}

.select-sort-type {
	width: 100px;
}

.sort-arrows-div {
	height: 20px;

	.fa-caret-up {
		top: -1px;
	}

	.fa-caret-down {
		bottom: -1px;
	}
}