@use '_global-styles' as globals;

// Flame Calculator
#gear-level, #base-wa-ma {
    @include globals.for-size(lg) { width: 75px !important; }
}

// Boss Crystal List
.small-boss-square {
    max-height: 40px;
}

.select-sort-type {
    width: 100px;
}

.sort-arrows-div {
    height: 20px;

    .fa-caret-up {
        top: -1px;
    }

    .fa-caret-down {
        bottom: -1px;
    }
}

// Todding Sequence
.todd-item-img-div {
    height: 35px;

    .item-img.highlight {
        background-color: rgba(255, 0, 0, 0.5)
    }
}

// Damage skin list
.empty-box {
    height: 32px;
    width: 32px;
    border: 2px solid globals.$light-mode-white-opaque;
}

.single-dmg-skin {
    & > div {
        transition: all 0.2s;

        .dmg-skin-header {
            transition: all 0.2s;
        }

        .dmg-skin-body {
            height: 150px;  
        }

        .dmg-skin-tools {
            bottom: 5px;
            right: 5px;

            .view-dmg-skin-btn, .add-dmg-skin-btn, .remove-dmg-skin-btn {
                height: 30px;
                width: 30px;
            }

            .add-dmg-skin-btn, .remove-dmg-skin-btn {
                display: none;
            }
        }
    }

    &:hover > div, &.active > div {
        transition: all 0.2s;

        .dmg-skin-header {
            transition: all 0.2s;
        }
    }
}

.btn-dmg-skin-modal {
    bottom: 0.5rem;
    right: 1rem;
    border-radius: 50%;
    padding: 8px;

    &.flash {
        animation: flash 0.5s;

        #num-selected-skins {
            animation: flash 0.5s;          
        }
    }

    &.flash-danger {
        animation: flash-danger 0.5s;

        #num-selected-skins {
            animation: flash-danger 0.5s;           
        }
    }

    #num-selected-skins {
        top: -10px;
        right: -10px;
        border-radius: 50%;
        width: 25px;
        height: 25px;
    }
}

#selected-skins-modal {
    #selected-skins-list {
        .single-selected-skin {
            &:last-child {
                margin-bottom: 0 !important;
            }

            .remove-selected-dmg-skin-btn {
                height: 30px;
                width: 30px;
                right: 5px;
            }
        }
    }

    .modal-body {
        max-height: 300px;
    }
}

// Damage skin details
.single-quick-jump-square {
    height: 32px;
    width: 32px;
}

.dmg-skin-table {
    tbody {
        tr {
            th {
                width: 125px;
            }
        }
    }

    .dmg-skin-header:last-child {
        margin-bottom: 0 !important;
    }
}

// EXP Stacking table
.item-square {
    height: 40px;
    width: 40px;
    object-fit: scale-down;
}

.map-icon {
    height: 40px;
    width: 40px;
}

.single-map-tab {
    height: 400px;
    overflow-y: auto;

    .single-map-select {
        div {
            pointer-events: none;
        }
    }
}

.step-4-col {
    width: 100px;

    @include globals.for-size(sm) { width: 125px; }
    @include globals.for-size(md) { width: 175px; }
    @include globals.for-size(lg) { width: 200px; }
    @include globals.for-size(xl) { width: 225px; }
}

.mult-cols {
    width: 75px;

    @include globals.for-size(sm) { width: 100px; }
    @include globals.for-size(md) { width: 125px; }
}

.map-name-col {
    width: 150px;

    @include globals.for-size(sm) { width: 200px; }
    @include globals.for-size(md) { width: 250px; }
}

.quick-ref {
    right: 1rem;
}