@use '_global-styles' as globals;

/*****************

    Font sizes 

*****************/
.font-header {
    font-size: 1.5rem;
    font-weight: bold;
}

.font-subheader {
    font-size: 1.25rem;
}

.font-subsubheader {
    font-size: 1.1rem;
}

.font-content {
    font-size: 1rem;
}

.font-form, .font-button, 
.font-form .form-control, .font-form button {
    font-size: 1rem;

    @include globals.for-size(md) { font-size: 0.9rem; }
    @include globals.for-size(xl) { font-size: 0.875rem; }
}

.font-sidebar {
    font-size: 0.9rem;
}

.font-table {
    font-size: 0.9rem;

    @include globals.for-size(md) { font-size: 0.875rem; }
}

.font-small, .tooltip {
    font-size: 0.9rem;

    @include globals.for-size(md) { font-size: 0.875rem; }
    @include globals.for-size(xl) { font-size: 0.8rem; }
}

.font-caption, .font-footnote {
    font-size: 0.75rem;
}

/***********************

    General Utilities

***********************/
.text-underline {
    text-decoration: underline;
}

.list-style-type-none {
    list-style-type: none;
}

.cursor-pointer {
    cursor: pointer;
}

.size-350 {
    max-width: 350px;
}

.size-720 {
    max-width: 720px;
}

.size-900 {
    max-width: 900px;
}

.index-collapse svg,
.sidebar-collapse svg{
    transition: all linear 0.25s;
}

.index-collapse.collapsed svg,
.sidebar-collapse.collapsed svg {
    transform: rotate(-90deg) ;
}

.li-img {
    height: 25px;
}

.pointer-events-none {
    pointer-events: none;
}

/**********************

    HTML Document

**********************/
html, body {
    font-size: 12px;
    scroll-padding-top: 3rem;

    @include globals.for-size(sm) { font-size: 13px; }
    @include globals.for-size(md) { font-size: 14px; }
    @include globals.for-size(lg) { font-size: 15px; }
    @include globals.for-size(xl) { font-size: 16px; }
}

body {
    background: transparent;
    height: 100%;

    .content {
        min-height: 100%;
    }
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

input[type="number"] {
    -moz-appearance: textfield;
    -webkit-appearance: textfield;
}

input[type="radio"], input[type="checkbox"] {
    visibility: hidden;
}

.main-content-div {
    padding-top: 3rem !important;
    max-width: 1200px;
}

/**********************

    Images

**********************/
img {
    height: auto;
    width: auto;

    &.item-img {
        cursor: help;

        &.standard-img-size {
            width: 30px;
            height: 30px;
            object-fit: scale-down;
        }
    }

    &.item-img-inline {
        cursor: help;
        height: 24px;
    }

    &.border-img {
        border: 1px solid black;
    }

    &.small-img {
        height: 24px;
    }
}

/**********************

    Tables

**********************/
.table-cols-header {
    width: 75px;

    @include globals.for-size(sm) { width: 90px; }
    @include globals.for-size(md) { width: 100px; }
    @include globals.for-size(lg) { width: 125px; }
    @include globals.for-size(xl) { width: 150px; }
}

.table-cols-50 {
    width: 50px;

    @include globals.for-size(sm) { width: 60px; }
    @include globals.for-size(md) { width: 70px; }
    @include globals.for-size(lg) { width: 85px; }
    @include globals.for-size(xl) { width: 100px; }
}

.table-cols-75 {
    width: 75px;

    @include globals.for-size(sm) { width: 90px; }
    @include globals.for-size(md) { width: 105px; }
    @include globals.for-size(lg) { width: 120px; }
    @include globals.for-size(xl) { width: 150px; }
}

.table-cols-100 {
    width: 100px;

    @include globals.for-size(sm) { width: 125px; }
    @include globals.for-size(md) { width: 150px; }
    @include globals.for-size(lg) { width: 175px; }
    @include globals.for-size(xl) { width: 200px; }
}

.table-cols-125 {
    width: 125px;

    @include globals.for-size(sm) { width: 150px; }
    @include globals.for-size(md) { width: 175px; }
    @include globals.for-size(lg) { width: 200px; }
    @include globals.for-size(xl) { width: 250px; }
}

.table-item-img,
.table-user-controls {
    width: 50px;
    height: 50px;
}

.table-sort-div {
    .table-sort-header {
        .table-sort-icon {
            opacity: 0.3;

            &.active {
                opacity: 1.0;
            }
        }
    }   
}

/**********************

    Forms

**********************/
form {
    .form-control, .form-control-plaintext {
        height: 32px;
    }

    .form-check {
        height: 32px;

        &:first-of-type {
            padding-left: 0 !important;

            .radio-select {
                border-top-left-radius: 3px;
                border-bottom-left-radius: 3px;
            }
        }

        &:last-of-type {
            padding-right: 0 !important;

            .radio-select {
                border-top-right-radius: 3px;
                border-bottom-right-radius: 3px;
            }
        }

        .radio-select {
            height: 32px;
            transition: all 0.3s;
            line-height: 1;

            &:hover, &.active {
                font-weight: bold;
                transition: all 0.3s;
            }
        }

        .form-check-input {
            visibility: hidden;
        }

        .form-check-label {
            left: 0;
            transition: all 0.3s;

            &:hover, &.active {
                font-weight: bold;
                transition: all 0.3s;
            }
        }
    }
}

/**********************

    Modals

**********************/
.modal {
    .modal-dialog {
        max-width: 720px;
    }
}

/**********************

    Carousel

**********************/
.carousel.carousel-fade {
    .carousel-inner {
        .carousel-item {
            display: block;
            opacity: 0;
            transition: all ease-out .7s;

            &.active {
                opacity: 1 !important;
            }

            .carousel-caption {
                position: initial;
                right: initial;
                bottom: initial;
                left: initial;
            }
        }
    }
}

.carousel-control {
    height: 35px;

    .carousel-control-prev,
    .carousel-control-next {
        width: initial;
        top: initial;

        & > i {
            height: 18px;
        }

        &:hover, &:focus {
            color: initial;
        }
    }
}

/**********************

    Pagination

**********************/

.pagination {
    .page-item {
        &.active {
            font-weight: bold;
        }

        .page-link:focus {
            box-shadow: none;
        }
    }
}

/**********************

    Other

**********************/
.single-option-select {
    height: 32px;
    transition: all 0.3s;

    &:hover, &.active {
        font-weight: bold;
        transition: all 0.3s;
    }
}

#equip-grid {
    display: grid;
    grid-template-areas:
        "ring1  .        hat    .        emblem"
        "ring2  pendant2 face   .        badge"
        "ring3  pendant1 eye    earring  medal"
        "ring4  weapon   top    shoulder secondary"
        "pocket belt     bottom gloves   cape"
        ".      .        shoes  android  heart";
    top: 0;
    grid-gap: 4px;
    padding: 6px;

    .equip-slot {
        border-radius: 4px;
        cursor: pointer;
        background-position: center;
        background-repeat: no-repeat;

        &:hover, &.active {
            background-color: globals.$light-mode-salmon;
        }

        &.disabled {
            cursor: initial;
            background-color: globals.$dark-mode-black;
        }

        &#ring-1-slot { grid-area: ring1; }
        &#ring-2-slot { grid-area: ring2; }
        &#ring-3-slot { grid-area: ring3; }
        &#ring-4-slot { grid-area: ring4; }
        &#pocket-slot { grid-area: pocket; }
        &#pendant-1-slot { grid-area: pendant1; }
        &#pendant-2-slot { grid-area: pendant2; }
        &#weapon-slot { grid-area: weapon; }
        &#belt-slot { grid-area: belt; }
        &#hat-slot { grid-area: hat; }
        &#face-slot { grid-area: face; }
        &#eye-slot { grid-area: eye; }
        &#top-slot { grid-area: top; }
        &#bottom-slot { grid-area: bottom; }
        &#shoes-slot { grid-area: shoes; }
        &#earring-slot { grid-area: earring; }
        &#shoulder-slot { grid-area: shoulder; }
        &#gloves-slot { grid-area: gloves; }
        &#android-slot { grid-area: android; }
        &#emblem-slot { grid-area: emblem; }
        &#badge-slot { grid-area: badge; }
        &#medal-slot { grid-area: medal; }
        &#secondary-slot { grid-area: secondary; }
        &#cape-slot { grid-area: cape; }
        &#heart-slot { grid-area: heart; }
    }
}