@use '_global-styles' as globals;

.navbar {
    height: 3rem;

    .nav-item {
        &.active {
            font-weight: bold;
        }
    }
}

.fa-moon {
    transform: scaleX(-1);
}

#sidebar-collapse-btn {
    &:focus {
        box-shadow: none;
    }
}