#equip-grid {
    .equip-slot {
        &#ring-1-slot { background-image: url("https://whacky-website.s3-ap-southeast-1.amazonaws.com/images/equips/ring/meister-signet.png"); }
        &#ring-2-slot {  }
        &#ring-3-slot {  }
        &#ring-4-slot {  }
        &#pocket-slot {  }
        &#pendant-1-slot { background-image: url("https://whacky-website.s3-ap-southeast-1.amazonaws.com/images/equips/pendant/dom-pendant.png"); }
        &#pendant-2-slot {  }
        &#weapon-slot { background-image: url("https://whacky-website.s3-ap-southeast-1.amazonaws.com/images/equips/weapon/genesis-staff.png"); }
        &#belt-slot { background-image: url("https://whacky-website.s3-ap-southeast-1.amazonaws.com/images/equips/belt/tyrant-belt.png"); }
        &#hat-slot { background-image: url("https://whacky-website.s3-ap-southeast-1.amazonaws.com/images/equips/hat/faf-mage-hat.png"); }
        &#face-slot { background-image: url("https://whacky-website.s3-ap-southeast-1.amazonaws.com/images/equips/face/meister-symbol.png"); }
        &#eye-slot { background-image: url("https://whacky-website.s3-ap-southeast-1.amazonaws.com/images/equips/eye/papulatus-mark.png"); }
        &#top-slot { background-image: url("https://whacky-website.s3-ap-southeast-1.amazonaws.com/images/equips/top/faf-mage-top.png"); }
        &#bottom-slot { background-image: url("https://whacky-website.s3-ap-southeast-1.amazonaws.com/images/equips/bottom/faf-mage-bottom.png"); }
        &#shoes-slot { background-image: url("https://whacky-website.s3-ap-southeast-1.amazonaws.com/images/equips/shoes/acs-shoes.png"); }
        &#earring-slot { background-image: url("https://whacky-website.s3-ap-southeast-1.amazonaws.com/images/equips/earring/meister-studs.png"); }
        &#shoulder-slot { background-image: url("https://whacky-website.s3-ap-southeast-1.amazonaws.com/images/equips/shoulder/acs-shoulder.png"); }
        &#gloves-slot { background-image: url("https://whacky-website.s3-ap-southeast-1.amazonaws.com/images/equips/gloves/acs-glove.png"); }
        &#android-slot {  }
        &#emblem-slot { background-image: url("https://whacky-website.s3-ap-southeast-1.amazonaws.com/images/equips/emblem/gold-evan-emblem.png"); }
        &#badge-slot {  }
        &#medal-slot {  }
        &#secondary-slot { background-image: url("https://whacky-website.s3-ap-southeast-1.amazonaws.com/images/equips/secondary/deimos-sage-shield.png"); }
        &#cape-slot { background-image: url("https://whacky-website.s3-ap-southeast-1.amazonaws.com/images/equips/cape/acs-cape.png"); }
        &#heart-slot { background-image: url("https://whacky-website.s3-ap-southeast-1.amazonaws.com/images/equips/heart/outlaw-heart.png"); }
    }
}