@use '_global-styles' as globals;

.job-choice-div {
    .single-option-select {
        width: 75px;
    }
}

#setItemSelectModal {
    .slot-exceed-msg {
        left: 0;
        bottom: 5px;
    }

    .single-equip-choice {
        height: 50px;
        cursor: pointer;
        transition: background-color 0.3s;

        &:hover, &.active {
            font-weight: bold;
            transition: background-color 0.3s;
        }

        .equip-choice-img-div {
            min-width: 50px;
            max-width: 50px;
        }
    }

    .carousel.carousel-fade {
        .carousel-inner {
            min-height: 300px;
            max-height: 300px;

            .carousel-item {
                max-height: 300px;
                overflow: auto;
            }
        }
    }
}

.total-stat {
    opacity: 0.2;

    &.active {
        opacity: 1.0;
    }
}

.set-item-effect-div {
    .single-set-effect {
        .set-items, .num-wearing-div {
            .set-effect {
                opacity: 0.3;

                &.active {
                    opacity: 1.0;
                    font-weight: bold;
                }
            }
        }
    }
}