@use '_global-styles' as globals;

.sidebar {
	height: 100%;

	.sidebar-btn {
		height: 48px;
		line-height: 1.1;
		cursor: pointer;
		border-right: none;
		border-top-left-radius: 5px;
		border-bottom-left-radius: 5px;
		transition: all 0.3s;

		&:hover, &.active {
			font-weight: bold;
			transition: all 0.3s;
			border-right: none;
		}
	}
}