@use '_global-styles' as globals;

.sidebar {
	top: 4rem;
	overflow: auto;
	height: calc(100vh - 4rem);

	h1 {
		font-size: 1.25rem;

		@include globals.for-size(md) {
			font-size: 1.15rem;
		}
	}

	h2 {
		font-size: 1rem;
		cursor: pointer;
	}

	h3 {
		font-size: 0.9rem;
	}

	.sidebar-btn {
		cursor: pointer;
		transition: all 0.3s;

		&:hover, &.active {
			transition: all 0.3s;
		}
	}
}