@use '_global-styles' as globals;

.sidebar {
	height: 100%;
	border-right: 2px solid globals.$light-mode-grey;

	.sidebar-btn {
		height: 48px;
		line-height: 1.1;
		cursor: pointer;
		border: 2px solid globals.$light-mode-white;
		background-color: globals.$light-mode-white;
		color: globals.$light-mode-black;
		border-right: none;
		border-top-left-radius: 5px;
		border-bottom-left-radius: 5px;
		transition: all 0.3s;

		&:hover, &.active {
			font-weight: bold;
			transition: all 0.3s;
			background-color: globals.$light-mode-light-grey;
			color: globals.$light-mode-black;
			border: 2px solid globals.$light-mode-grey;
			border-right: none;
		}

		a {
			color: initial;
		}
	}
}