@use '_global-styles' as globals;

.crossword-board-form {
    width: 425px;
    height: 475px;

    @include globals.for-size(lg) {
        width: 510px;
        height: 570px;
    }

    @include globals.for-size(xl) {
        width: 595px;
        height: 665px;
    }

    .crossword-board {
        display: grid;
        grid-template: repeat(19, 25px) / repeat(17, 25px);

        @include globals.for-size(lg) {
            grid-template: repeat(19, 30px) / repeat(17, 30px);
        }

        @include globals.for-size(xl) {
            grid-template: repeat(19, 35px) / repeat(17, 35px);
        }

        .board-clue-num {
            top: 0;
            padding-left: 3px;
            font-size: 0.7rem;
            pointer-events: none;
            color: black;
        }
    }

    .crossword-board-blocker {
        top: 0;
    }
}

.submit-ans-btn {
    top: 5px;
    right: 5px;
}

.color-clue-single {
    height: 35px;

    div {
        width: 35px;
    }
}