<div class="font-content w-100 d-flex justify-content-center align-items-center flex-column">
    <div class="w-100 d-flex flex-column justify-content-center px-3 py-3">
        <div class="pill-section rounded-sm mb-5">
            <div class="pill-section-subheader text-center">
                <h2 class="font-subsubheader font-weight-bold d-flex justify-content-center align-items-center py-1 mb-0">
                    <img src="<%= icons['map-dojo-center'].imgUrl %>" class="mr-2"> Mu Lung Dojo Training Center
                </h2>
                <p class="pb-2 mb-0">
                    EXP every 5 seconds inside a sauna~
                </p>
            </div>
            <div class="pill-section-content table-responsive font-form d-flex flex-wrap justify-content-center pt-3" id="dojo-exp-table-details">
                <table class="font-table size-720 w-100 table table-sm table-bordered table-hover">
                    <thead>
                        <tr>
                            <th scope="col" class="text-center">Level</th>
                            <th scope="col" class="text-center">EXP obtained</th>
                            <th scope="col" class="text-center text-custom">%</th>
                        </tr>
                    </thead>
                    <tbody class="mb-3" id='dojo-exp-table'>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="pill-section rounded-sm mb-5">
            <div class="pill-section-subheader text-center">
                <h2 class="font-subsubheader font-weight-bold d-flex justify-content-center align-items-center mb-0">
                    <img src="<%= icons['exp-pocket'].imgUrl %>" class="mr-2"> AFK EXP Pouch
                </h2>
                <p class="pb-2 mb-0">
                    Get EXP every 10 seconds (or 20 seconds when offline) by doing nothing!
                </p>
            </div>
            <div class="pill-section-content table-responsive font-form d-flex flex-wrap justify-content-center pt-3" id="exp-pouch-table-details">
                <table class="font-table size-720 w-100 table table-sm table-bordered table-hover">
                    <thead>
                        <tr>
                            <th scope="col" class="text-center">Level</th>
                            <th scope="col" class="text-center">EXP obtained</th>
                            <th scope="col" class="text-center text-custom">%</th>
                        </tr>
                    </thead>
                    <tbody class="mb-3" id='exp-pouch-table'>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>