<div class="font-content w-100 d-flex justify-content-center align-items-center flex-column">
    <div class="w-100 d-flex flex-column justify-content-center py-3">
        <div class="pill-section rounded-sm mb-5">
            <div class="pill-section-subheader text-center">
                <h2 class="font-subsubheader font-weight-bold d-flex justify-content-center align-items-center py-1 mb-0">
                    <img src="<%= icons['map-dojo-center'].imgUrl %>" class="mr-2"> 
                    <span class="lang lang-en">Mu Lung Dojo Training Center</span>
                    <span class="lang lang-tw">武陵道场训练中心</span>
                </h2>
                <p class="pb-2 mb-0">
                    <span class="lang lang-en">EXP every 5 seconds inside a sauna~</span>
                    <span class="lang lang-tw">经验每5秒内桑拿~</span>
                </p>
            </div>
            <div class="pill-section-content table-responsive font-form d-flex flex-wrap justify-content-center pt-3" id="dojo-exp-table-details">
                <table class="font-table size-720 w-100 table table-sm table-bordered table-hover">
                    <thead>
                        <tr>
                            <th scope="col" class="text-center">
                                <span class="lang lang-en">Level</span>
                                <span class="lang lang-tw">等級</span>
                            </th>
                            <th scope="col" class="text-center">
                                <span class="lang lang-en">EXP obtained</span>
                                <span class="lang lang-tw">获得经验值</span>
                            </th>
                            <th scope="col" class="text-center text-custom">%</th>
                        </tr>
                    </thead>
                    <tbody class="mb-3" id='dojo-exp-table'>
                    </tbody>
                </table>
            </div>
        </div>

        <!-- Horizontal -->
        <ins class="adsbygoogle ad-space horz-ad rounded-lg p-2 mb-3"
             style="display:block"
             data-ad-client="ca-pub-9569715514342803"
             data-ad-slot="9935306861"
             data-ad-format="auto"
             data-full-width-responsive="true">
                 <p class="ad-space-text text-center font-bold font-small mb-0">Advertisement</p>
             </ins>
        <script>
            window.onload = function() {
             (adsbygoogle = window.adsbygoogle || []).push({});
            }
        </script>
        
        <div class="pill-section rounded-sm mb-5">
            <div class="pill-section-subheader text-center">
                <h2 class="font-subsubheader font-weight-bold d-flex justify-content-center align-items-center mb-0">
                    <img src="<%= icons['exp-pocket'].imgUrl %>" class="mr-2"> 
                    <span class="lang lang-en">AFK EXP Pouch</span>
                    <span class="lang lang-tw">挂機经验值</span>
                </h2>
                <p class="pb-2 mb-0">
                    <span class="lang lang-en">Get EXP every 10 seconds (or 20 seconds when offline) by doing nothing!</span>
                    <span class="lang lang-tw">什么都不做，每 10 秒（或离线时 20 秒）获得经验值！</span>
                </p>
            </div>
            <div class="pill-section-content table-responsive font-form d-flex flex-wrap justify-content-center pt-3" id="exp-pouch-table-details">
                <table class="font-table size-720 w-100 table table-sm table-bordered table-hover">
                    <thead>
                        <tr>
                            <th scope="col" class="text-center">
                                <span class="lang lang-en">Level</span>
                                <span class="lang lang-tw">等級</span>
                            </th>
                            <th scope="col" class="text-center">
                                <span class="lang lang-en">EXP obtained</span>
                                <span class="lang lang-tw">获得经验值</span>
                            </th>
                            <th scope="col" class="text-center text-custom">%</th>
                        </tr>
                    </thead>
                    <tbody class="mb-3" id='exp-pouch-table'>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>