<div class="font-content w-100 d-flex justify-content-center align-items-center flex-column">
    <div class="w-100 d-flex flex-column justify-content-center px-3 py-3">
        <div class="pill-section rounded-sm">
            <div class="pill-section-subheader text-center">
                <h2 class="font-subsubheader font-weight-bold d-flex justify-content-center align-items-center mb-0">
                    <img src="<%= icons['exp-pocket'].imgUrl %>" class="mr-2"> EXP Table
                </h2>
            </div>
            <div class="pill-section-content font-form d-flex flex-wrap justify-content-center pt-3">
                <div class="w-100 d-flex flex-column justify-content-start align-items-center px-3">
                    <p class="mb-4">The latest EXP table in MapleSEA is replicated below for easier reference. For past/future EXP tables, see the Credits tab.</p>

                    <div class="w-100 d-flex flex-wrap" id="curr-exp-tables"></div>
                </div>
            </div>
        </div>
    </div>
</div>