<div class="font-content w-100 d-flex justify-content-center align-items-center flex-column">
    <div class="w-100 d-flex flex-column justify-content-center px-3 py-3">
        <div class="exp-stack-section rounded-sm mb-5">
            <div class="exp-stack-section-subheader text-center">
                <h2 class="font-subsubheader font-weight-bold d-flex justify-content-center align-items-center py-1 mb-0">
                    <img src="<%= icons['growth-potion'].imgUrl %>" class="mr-2"> Summary
                </h2>
            </div>
            <div class="exp-stack-section-content font-form d-flex flex-wrap justify-content-center pt-2">
            </div>
        </div>

        <div class="exp-stack-section rounded-sm mb-5">
            <div class="exp-stack-section-subheader text-center">
                <h2 class="font-subsubheader font-weight-bold d-flex justify-content-center align-items-center py-1 mb-0">
                    <img src="<%= icons['growth-potion'].imgUrl %>" class="mr-2"> Calculator
                </h2>
            </div>
            <div class="exp-stack-section-content font-form d-flex flex-wrap justify-content-center pt-2">
            </div>
        </div>

        <div class="exp-stack-section rounded-sm mb-5">
            <div class="exp-stack-section-subheader text-center">
                <h2 class="font-subsubheader font-weight-bold d-flex justify-content-center align-items-center py-1 mb-0">
                    <img src="<%= icons['growth-potion'].imgUrl %>" class="mr-2"> EXP Tables
                </h2>
            </div>
            <div class="exp-stack-section-content font-form d-flex flex-wrap justify-content-center pt-2">
            </div>
        </div>
    </div>
</div>