<div class="font-content w-100 d-flex justify-content-center align-items-center flex-column">
    <div class="w-100 d-flex flex-column justify-content-center py-3">
        <div class="pill-section rounded-sm">
            <div class="pill-section-subheader text-center">
                <h2 class="font-subsubheader font-weight-bold d-flex justify-content-center align-items-center py-1 mb-0">
                    <img src="<%= icons['boss-icon'].imgUrl %>" class="mr-2"> Monster EXP
                </h2>
                <div class="pb-2">
                    <button class="btn btn-sm btn-outline-custom font-weight-bold" id="btn-refresh-monster-list">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-clockwise" viewBox="0 0 16 16">
                          <path fill-rule="evenodd" d="M8 3a5 5 0 1 0 4.546 2.914.5.5 0 0 1 .908-.417A6 6 0 1 1 8 2v1z"/>
                          <path d="M8 4.466V.534a.25.25 0 0 1 .41-.192l2.36 1.966c.12.1.12.284 0 .384L8.41 4.658A.25.25 0 0 1 8 4.466z"/>
                        </svg>&nbsp;Refresh / Retrieve Monster List
                    </button>
                    <p class="mb-0 d-none" id="refresh-cd">Refresh cooldown... (<span id="refresh-cd-num-secs">10</span> seconds)</p>
                </div>
            </div>
            <div class="pill-section-content font-form d-flex flex-wrap justify-content-center pt-3">
                <div class="w-100 d-flex flex-column justify-content-start align-items-center px-3">
                    <p class="w-100 mb-1">Notes:</p>
                    <ul class="w-100">
                        <li>Click on <span class="text-custom font-weight-bold">Refresh / Retrieve Monster List</span> button above to begin, or to refresh data if any changes (e.g. EXP Buff multiplier) was made.</li>
                        <li>Only monsters above level 70 are displayed. Monster lists are generated up to &#177;10 levels of character level.</li>
                        <li>Level difference to monsters affects Base EXP per monster kill: &#177;1 Level = 20% bonus / &#177;4 Levels = 10% bonus / &#177;9 Levels = 5% bonus.</li>
                        <li>EXP Buff multiplier value is obtained from the EXP Multipliers tab.</li>
                    </ul>

                    <form class="w-100">
                        <div class="w-100 d-flex flex-column align-items-center" id="monster-list-container">

                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>