<div class="info-div" id="flame-calculator">
	<div class="settings-div">
		<h1 class="font-header page-header">Settings</h1>
		<div>
			<form class="font-form" id="options-form">
				<div id="options-form-div">
					<div class="input-div" id="gear-level-div">
						<div class="input-header">Equip Level</div>
						<input class="input-number" type="number" id="gear-level" min="0" max="275" value="0" required>
					</div>
					<div class="input-div" id="gear-type-div">
						<div>
							<div class="input-header">Equip Type</div>
							<div class="radio-select-div">
								<div class="radio-select equip-type-input leftmost-radio active" data-equip-type="normal">Normal</div>
								<div class="radio-select equip-type-input rightmost-radio" data-equip-type="boss">Boss</div>
							</div>
						</div>
						<div class="notes-small">Note: Zero weapons are considered "Normal" weapons.</div>
					</div>
					<div class="input-div" id="base-wa-ma-div">
						<div class="input-header" id="long-header">Weapon Base WA/MA</div>
						<input class="input-number" type="number" id="base-wa-ma" min="0" value="0" required>
					</div>
					<div class="input-div" id="flame-type-div">
						<div class="input-header">Flame Type</div>
						<div class="radio-select-div">
							<div class="radio-select flame-type-input flame-radio leftmost-radio active" data-flame-type="crimson">Crimson</div>
							<div class="radio-select flame-type-input flame-radio rightmost-radio" data-flame-type="rainbow">Rainbow</div>
						</div>
					</div>
					<div class="input-div" id="stat-type-div">
						<div class="input-header">Stat Type</div>
						<div class="radio-select-div">
							<div class="radio-select stat-type-input stat-radio leftmost-radio active" data-stat-type="str">STR</div>
							<div class="radio-select stat-type-input stat-radio" data-stat-type="dex">DEX</div>
							<div class="radio-select stat-type-input stat-radio" data-stat-type="int">INT</div>
							<div class="radio-select stat-type-input stat-radio rightmost-radio" data-stat-type="luk">LUK</div>
						</div>
					</div>
				</div>
				<div>
					<button type="submit" class="btn btn-outline-primary" id="flame-submit-btn">Show Possible Flame Values</button>
				</div>
			</form>
		</div>
	</div>
	<hr class="horz-divider">
	<div class="flame-values-div">
		<h1 class="font-header page-header">Possible Flame Values</h1>
		<div class="font-content" id="flame-values-table">
			<table class="table table-sm table-bordered table-hover">
				<thead>
					<tr>
						<th></th>
						<th class="table-cols" scope="col">Tier 1</th>
						<th class="table-cols" scope="col">Tier 2</th>
						<th class="table-cols" scope="col">Tier 3</th>
						<th class="table-cols" scope="col">Tier 4</th>
						<th class="table-cols" scope="col">Tier 5</th>
						<th class="table-cols" scope="col">Tier 6</th>
						<th class="table-cols" scope="col">Tier 7</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<th class="table-cols-header">Weapon WA/MA</th>
						<td class="table-cols"><span class="weapon-wa-ma-output flame-tier-1"></span></td>
						<td class="table-cols"><span class="weapon-wa-ma-output flame-tier-2"></span></td>
						<td class="table-cols"><span class="weapon-wa-ma-output flame-tier-3"></span></td>
						<td class="table-cols"><span class="weapon-wa-ma-output flame-tier-4"></span></td>
						<td class="table-cols"><span class="weapon-wa-ma-output flame-tier-5"></span></td>
						<td class="table-cols"><span class="weapon-wa-ma-output flame-tier-6"></span></td>
						<td class="table-cols"><span class="weapon-wa-ma-output flame-tier-7"></span></td>
					</tr>
					<tr>
						<th class="table-cols-header">Boss%</th>
						<td class="table-cols"><span class="boss-dmg-output flame-tier-1"></span></td>
						<td class="table-cols"><span class="boss-dmg-output flame-tier-2"></span></td>
						<td class="table-cols"><span class="boss-dmg-output flame-tier-3"></span></td>
						<td class="table-cols"><span class="boss-dmg-output flame-tier-4"></span></td>
						<td class="table-cols"><span class="boss-dmg-output flame-tier-5"></span></td>
						<td class="table-cols"><span class="boss-dmg-output flame-tier-6"></span></td>
						<td class="table-cols"><span class="boss-dmg-output flame-tier-7"></span></td>
					</tr>
					<tr>
						<th class="table-cols-header">Pure Stats</th>
						<td class="table-cols"><span class="pure-stats-output flame-tier-1"></span></td>
						<td class="table-cols"><span class="pure-stats-output flame-tier-2"></span></td>
						<td class="table-cols"><span class="pure-stats-output flame-tier-3"></span></td>
						<td class="table-cols"><span class="pure-stats-output flame-tier-4"></span></td>
						<td class="table-cols"><span class="pure-stats-output flame-tier-5"></span></td>
						<td class="table-cols"><span class="pure-stats-output flame-tier-6"></span></td>
						<td class="table-cols"><span class="pure-stats-output flame-tier-7"></span></td>
					</tr>
					<tr>
						<th class="table-cols-header">All Stats%</th>
						<td class="table-cols"><span class="all-stats-output flame-tier-1"></span></td>
						<td class="table-cols"><span class="all-stats-output flame-tier-2"></span></td>
						<td class="table-cols"><span class="all-stats-output flame-tier-3"></span></td>
						<td class="table-cols"><span class="all-stats-output flame-tier-4"></span></td>
						<td class="table-cols"><span class="all-stats-output flame-tier-5"></span></td>
						<td class="table-cols"><span class="all-stats-output flame-tier-6"></span></td>
						<td class="table-cols"><span class="all-stats-output flame-tier-7"></span></td>
					</tr>
					<tr>
						<th class="table-cols-header">Mixed Stats</th>
						<td class="table-cols"><span class="mixed-stats-output flame-tier-1"></span></td>
						<td class="table-cols"><span class="mixed-stats-output flame-tier-2"></span></td>
						<td class="table-cols"><span class="mixed-stats-output flame-tier-3"></span></td>
						<td class="table-cols"><span class="mixed-stats-output flame-tier-4"></span></td>
						<td class="table-cols"><span class="mixed-stats-output flame-tier-5"></span></td>
						<td class="table-cols"><span class="mixed-stats-output flame-tier-6"></span></td>
						<td class="table-cols"><span class="mixed-stats-output flame-tier-7"></span></td>
					</tr>
					<tr>
						<th class="table-cols-header">Damage%</th>
						<td class="table-cols"><span class="damage-output flame-tier-1"></span></td>
						<td class="table-cols"><span class="damage-output flame-tier-2"></span></td>
						<td class="table-cols"><span class="damage-output flame-tier-3"></span></td>
						<td class="table-cols"><span class="damage-output flame-tier-4"></span></td>
						<td class="table-cols"><span class="damage-output flame-tier-5"></span></td>
						<td class="table-cols"><span class="damage-output flame-tier-6"></span></td>
						<td class="table-cols"><span class="damage-output flame-tier-7"></span></td>
					</tr>
					<tr>
						<th class="table-cols-header">Armor WA/MA</th>
						<td class="table-cols"><span class="armor-wa-ma-output flame-tier-1"></span></td>
						<td class="table-cols"><span class="armor-wa-ma-output flame-tier-2"></span></td>
						<td class="table-cols"><span class="armor-wa-ma-output flame-tier-3"></span></td>
						<td class="table-cols"><span class="armor-wa-ma-output flame-tier-4"></span></td>
						<td class="table-cols"><span class="armor-wa-ma-output flame-tier-5"></span></td>
						<td class="table-cols"><span class="armor-wa-ma-output flame-tier-6"></span></td>
						<td class="table-cols"><span class="armor-wa-ma-output flame-tier-7"></span></td>
					</tr>
					<tr>
						<th class="table-cols-header">HP/MP</th>
						<td class="table-cols"><span class="hp-mp-output flame-tier-1"></span></td>
						<td class="table-cols"><span class="hp-mp-output flame-tier-2"></span></td>
						<td class="table-cols"><span class="hp-mp-output flame-tier-3"></span></td>
						<td class="table-cols"><span class="hp-mp-output flame-tier-4"></span></td>
						<td class="table-cols"><span class="hp-mp-output flame-tier-5"></span></td>
						<td class="table-cols"><span class="hp-mp-output flame-tier-6"></span></td>
						<td class="table-cols"><span class="hp-mp-output flame-tier-7"></span></td>
					</tr>
					<tr>
						<th class="table-cols-header">Defense</th>
						<td class="table-cols"><span class="defense-output flame-tier-1"></span></td>
						<td class="table-cols"><span class="defense-output flame-tier-2"></span></td>
						<td class="table-cols"><span class="defense-output flame-tier-3"></span></td>
						<td class="table-cols"><span class="defense-output flame-tier-4"></span></td>
						<td class="table-cols"><span class="defense-output flame-tier-5"></span></td>
						<td class="table-cols"><span class="defense-output flame-tier-6"></span></td>
						<td class="table-cols"><span class="defense-output flame-tier-7"></span></td>
					</tr>
					<tr>
						<th class="table-cols-header">Equip Level Reduction</th>
						<td class="table-cols"><span class="level-reduce-output flame-tier-1"></span></td>
						<td class="table-cols"><span class="level-reduce-output flame-tier-2"></span></td>
						<td class="table-cols"><span class="level-reduce-output flame-tier-3"></span></td>
						<td class="table-cols"><span class="level-reduce-output flame-tier-4"></span></td>
						<td class="table-cols"><span class="level-reduce-output flame-tier-5"></span></td>
						<td class="table-cols"><span class="level-reduce-output flame-tier-6"></span></td>
						<td class="table-cols"><span class="level-reduce-output flame-tier-7"></span></td>
					</tr>
					<tr>
						<th class="table-cols-header">Speed/Jump</th>
						<td class="table-cols"><span class="speed-jump-output flame-tier-1"></span></td>
						<td class="table-cols"><span class="speed-jump-output flame-tier-2"></span></td>
						<td class="table-cols"><span class="speed-jump-output flame-tier-3"></span></td>
						<td class="table-cols"><span class="speed-jump-output flame-tier-4"></span></td>
						<td class="table-cols"><span class="speed-jump-output flame-tier-5"></span></td>
						<td class="table-cols"><span class="speed-jump-output flame-tier-6"></span></td>
						<td class="table-cols"><span class="speed-jump-output flame-tier-7"></span></td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</div>