<div class="sidebar font-sidebar" id="flame-sidebar">
	<div class="sidebar-btn active">Calculator</div>
	<div class="sidebar-btn">What are bonus stats & flames?</div>
	<div class="sidebar-btn">Credits</div>
</div>