<div class="single-info-page w-100 align-items-center flex-column px-4 pt-4 px-lg-0 pt-lg-4 mt-lg-2" id="flame-credits">
	<div class="info-section w-100 d-flex justify-content-center align-items-center flex-column mb-3 px-lg-4">
		<div class="page-header-box w-100 d-flex justify-content-center align-items-center position-relative border-top border-dark mb-4">
			<h1 class="font-header page-header d-flex align-items-center text-uppercase position-absolute px-3">Credits</h1>
		</div>
		<div class="w-100 mb-3">
			<h2 class="font-subheader font-weight-bold mb-2">Acknowledgements</h2>
			<div class="font-content w-100 mb-4">
				<p class="text-justify">Credits go to Nexon and Maplestory for images seen on this page. Many thanks to <a href="https://strategywiki.org/wiki/MapleStory/Bonus_Stats" target="_blank">StrategyWiki's Bonus Stats</a> page for the wealth of information presented in this section, and users of the <a href="https://discord.gg/NNpqZsZ" target="_blank">MapleSEA Discord</a> for providing valuable feedback in making this section better!</p>
			</div>
		</div>
		<div class="w-100 mb-3">
			<h2 class="font-subheader font-weight-bold mb-2">Contact</h2>
			<div class="font-content w-100">
				<p class="text-justify">If you spot any errors, please contact whacky#7051 on Discord with the list of corrections to make. Thank you!</p>
			</div>
		</div>
	</div>
</div>