<div class="sidebar font-sidebar col-md-2 d-none d-md-block p-0 pt-4" id="flame-sidebar">
	<div class="font-button sidebar-btn active d-flex justify-content-center align-items-center text-center p-2 mb-3" data-tab="calculator">Calculator</div>
	<div class="font-button sidebar-btn d-flex justify-content-center align-items-center text-center p-2 mb-3" data-tab="info">About Flames</div>
	<div class="font-button sidebar-btn d-flex justify-content-center align-items-center text-center p-2 mb-3" data-tab="credits">Credits</div>
</div>