<div class="info-div" id="flame-info">
	<div class="info-section">
		<div class="page-header-box">
			<div class="horz-line"></div>
			<h1 class="font-header page-header">Introduction</h1>
			<div class="horz-line"></div>
		</div>
		<div class="font-content info-section-details">
			<p class="text-justify">Bonus stats are displayed as green numbers on your equipment. You can use Resurrection Flames to reroll the item's bonus stats. Double click on a flame and your inventory's Equip tab will be shown, then click on an item to apply the flame on it. Note that certain equipment types <strong>cannot</strong> receive bonus stats (indicated with a red background when flaming). These types are detailed in the next section.</p>

			<p class="text-justify">The number of bonus stats lines and the value of the bonus stats depends on 1) what item you are flaming, and 2) what flame is being used. Items can get up to 4 lines of bonus stats, and there are 7 possible flame tiers. Each bonus stat line is rolled separately, so it is possible to get different tiers for each bonus stat.</p>

			<table class="font-table table table-sm table-bordered table-hover">
				<thead>
					<tr>
						<th></th>
						<th class="table-cols text-center">"Normal" Equips</th>
						<th class="table-cols text-center">"Elite Boss" Equips</th>
						<th class="table-cols text-center">"Boss" Equips</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<th class="table-cols-header text-center">No. of Bonus Stat Lines</th>
						<td class="table-cols text-center align-middle">1 to 4</td>
						<td class="table-cols text-center align-middle">1 to 4</td>
						<td class="table-cols text-center align-middle">4</td>
					</tr>
					<tr>
						<th class="table-cols-header text-center">Possible Tiers<br/>(upon looting item)</th>
						<td class="table-cols text-center align-middle">1 to 5</td>
						<td class="table-cols text-center align-middle">3 to 7</td>
						<td class="table-cols text-center align-middle">3 to 7</td>
					</tr>
					<tr>
						<th class="table-cols-header text-center">Possible Tiers<br/>(Level / Crimson / Obsidian Flames)</th>
						<td class="table-cols text-center align-middle">1 to 4</td>
						<td class="table-cols text-center align-middle">1 to 4</td>
						<td class="table-cols text-center align-middle">3 to 6</td>
					</tr>
					<tr>
						<th class="table-cols-header text-center">Possible Tiers<br/>(Rainbow / Black Flames)</th>
						<td class="table-cols text-center align-middle">2 to 5</td>
						<td class="table-cols text-center align-middle">2 to 5</td>
						<td class="table-cols text-center align-middle">4 to 7</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
	<div class="info-section">
		<div class="page-header-box">
			<div class="horz-line"></div>
			<div class="font-header page-header">Item Types</div>
			<div class="horz-line"></div>
		</div>
		<div class="font-content info-section-details">
			<p>Several item types <strong>cannot</strong> receive bonus stats and cannot be flamed, namely:</p>
			<ul>
				<li class="list-items">Rings</li>
				<li class="list-items">Shoulderpads except <img src="/images/flames/flame-100.png"> Scarlet Shoulderpads</li>
				<li class="list-items">Emblems</li>
				<li class="list-items">Badges</li>
				<li class="list-items">Medals</li>
				<li class="list-items">Android & Android Hearts</li>
				<li class="list-items">Secondary Weapons (shield and katara included)</li>
			</ul>
			<p>When hovering over equipment, you may notice that on the top left corner of the zoomed-in item, certain items have transparent dots, while others have white dots. Any flame can be used on items with a transparent dot, while only non-level restricted flames can be used on items with a white dot.</p>

			<p>The table below describes each item type and several examples of items in each category. Mouse over each item image to see the item name.</p>
			<table class="font-table table table-sm table-bordered table-hover">
				<thead>
					<tr>
						<th></th>
						<th class="table-cols table-cols-desc text-center">"Normal" Equips</th>
						<th class="table-cols table-cols-desc text-center">"Elite Boss" Equips</th>
						<th class="table-cols table-cols-desc text-center">"Boss" Equips</th>
					</tr>
				</thead>
				<tbody>
					<tr class="table-rows">
						<th class="table-cols-header align-middle text-center">Description</th>
						<td class="table-cols table-cols-desc align-middle text-center font-small">Most equipment dropped by regular monsters fall into this category. Zero class weapons are also considered "Normal" weapons. Chaos Root Abyss hats are "Normal" items as well.</td>
						<td class="table-cols table-cols-desc align-middle text-center font-small">Equipment collected during the Bonus Stage after killing Elite Bosses fall into this category.</td>
						<td class="table-cols table-cols-desc align-middle text-center font-small">Unique equipment dropped directly by bosses and equipment crafted by shards/materials obtained from these bosses are considered "Boss" items. There are also certain special items not obtainable through bosses that belong to this category.</td>
					</tr>
					<tr class="table-rows">
						<th class="table-cols-header text-center">Examples</th>
						<td class="table-cols table-cols-desc align-middle text-center font-small">
							<img class="item-img" src="/images/flames/flame-100.png">
							<img class="item-img" src="/images/flames/flame-110.png">
							<img class="item-img" src="/images/flames/flame-120.png">
						</td>
						<td class="table-cols table-cols-desc align-middle text-center font-small">
							N/A, see description above
						</td>
						<td class="table-cols table-cols-desc align-middle text-center font-small">
							<img class="item-img" src="/images/flames/flame-130.png">
							<img class="item-img" src="/images/flames/flame-140.png">
							<img class="item-img" src="/images/flames/flame-150.png">
							<img class="item-img" src="/images/flames/flame-crimson.png">
						</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
	<div class="info-section">
		<div class="page-header-box">
			<div class="horz-line"></div>
			<div class="font-header page-header">Flame Types</div>
			<div class="horz-line"></div>
		</div>
		<div class="font-content info-section-details">

		</div>
	</div>
</div>