<div class="col-md-2 sidebar font-sidebar" id="flame-sidebar">
	<div class="font-button sidebar-btn active" data-tab="calculator">Calculator</div>
	<div class="font-button sidebar-btn" data-tab="info">What are bonus stats & flames?</div>
	<div class="font-button sidebar-btn" data-tab="credits">Credits</div>
</div>