<div class="info-div" id="flame-credits">
	<div class="info-section">
		<div class="page-header-box">
			<div class="horz-line"></div>
			<h1 class="font-header page-header">Credits</h1>
			<div class="horz-line"></div>
		</div>
		<div class="font-content info-section-details">
			<p>Many thanks to <a href="https://strategywiki.org/wiki/MapleStory/Bonus_Stats" target="_blank">StrategyWiki's Bonus Stats</a> page for the wealth of information presented in this section, and users of the <a href="https://discord.gg/NNpqZsZ" target="_blank">MapleSEA Discord</a> for providing valuable feedback in making this section better!</p>
		</div>
	</div>
	<div class="info-section">
		<div class="page-header-box">
			<div class="horz-line"></div>
			<h1 class="font-header page-header">Contact</h1>
			<div class="horz-line"></div>
		</div>
		<div class="font-content info-section-details">
			<p>If you spot any errors, please contact whacky#7051 on Discord with the list of corrections to make. Thank you!</p>
		</div>
	</div>
</div>