<div class="info-div" id="flame-info">
	<div class="info-section">
		<div class="page-header-box">
			<div class="horz-line"></div>
			<h1 class="font-header page-header">Introduction</h1>
			<div class="horz-line"></div>
		</div>
		<div class="font-content info-section-details">
			<p class="text-justify">Bonus stats are displayed as green numbers on your equipment. You can use Resurrection Flames to reroll the item's bonus stats. Double click on a flame and your inventory's Equip tab will be shown, then click on an item to apply the flame on it. Note that certain equipment types <strong>cannot</strong> receive bonus stats (indicated with a red background when flaming). These types are detailed in the next section.</p>

			<p class="text-justify">The number of bonus stats lines and the value of the bonus stats depends on 1) what item you are flaming, and 2) what flame is being used. Items can get up to 4 lines of bonus stats, and there are 7 possible flame tiers. Each bonus stat line is rolled separately, so it is possible to get different tiers for each bonus stat.</p>

			<table class="font-table table table-sm table-bordered table-hover">
				<thead>
					<tr>
						<th></th>
						<th class="table-cols">"Normal" Equips</th>
						<th class="table-cols">"Elite Boss" Equips</th>
						<th class="table-cols">"Boss" Equips</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<th class="table-cols-header text-center">No. of Bonus Stat Lines</th>
						<td class="table-cols">1 to 4</td>
						<td class="table-cols">1 to 4</td>
						<td class="table-cols">4</td>
					</tr>
					<tr>
						<th class="table-cols-header text-center">Possible Tiers<br/>(upon looting item)</th>
						<td class="table-cols">1 to 5</td>
						<td class="table-cols">3 to 7</td>
						<td class="table-cols">3 to 7</td>
					</tr>
					<tr>
						<th class="table-cols-header text-center">Possible Tiers<br/>(Level / Crimson / Obsidian Flames)</th>
						<td class="table-cols">1 to 4</td>
						<td class="table-cols">1 to 4</td>
						<td class="table-cols">3 to 6</td>
					</tr>
					<tr>
						<th class="table-cols-header text-center">Possible Tiers<br/>(Rainbow / Black Flames)</th>
						<td class="table-cols">2 to 5</td>
						<td class="table-cols">2 to 5</td>
						<td class="table-cols">4 to 7</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
	<div class="info-section">
		<div class="page-header-box">
			<div class="horz-line"></div>
			<div class="font-header page-header">Item Types</div>
			<div class="horz-line"></div>
		</div>
		<div class="font-content info-section-details">

		</div>
	</div>
	<div class="info-section">
		<div class="page-header-box">
			<div class="horz-line"></div>
			<div class="font-header page-header">Flame Types</div>
			<div class="horz-line"></div>
		</div>
		<div class="font-content info-section-details">

		</div>
	</div>
</div>