<!DOCTYPE html>
<html>
<head>
	<title>Maple Info Corner</title>
	<base href="https://www.whacky-test.herokuapp.com">
	<meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<!--<link href="https://fonts.googleapis.com/css?family=Varela+Round&display=swap" rel="stylesheet">-->
	<style type="text/css">
		.hidden { display: none; }
	</style>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
	<link rel="stylesheet" type="text/css" href="./public/stylesheets/lightmodeStyles.css">
	<link rel="stylesheet" type="text/css" href="./public/stylesheets/darkmodeStyles.css">
	<link rel="stylesheet" type="text/css" href="./public/stylesheets/generalStyles.css">
	<link rel="stylesheet" type="text/css" href="./public/stylesheets/navbarStyles.css">
	<link rel="stylesheet" type="text/css" href="./public/stylesheets/sidebarStyles.css">
	<% if(locals.extraStylesheet) { %>
	<link rel="stylesheet" type="text/css" href="./public/stylesheets/<%= extraStylesheet %>.css">
	<% } %>

	<script src="https://code.jquery.com/jquery-3.5.0.min.js" integrity="sha256-xNzN2a4ltkB44Mc/Jz3pT4iU1cmeR0FkXs4pru/JxaQ=" crossorigin="anonymous"></script>
	<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
	<script type="text/javascript">
		$("html").addClass("hidden");
		$(document).ready(function() {
			$("html").removeClass("hidden");
		})
	</script>
	<script src="https://kit.fontawesome.com/6d7440431d.js"></script>
</head>
<body>
	