<!DOCTYPE html>
<html>
<head>
	<title>Maple Info Corner</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link href="https://fonts.googleapis.com/css?family=Varela+Round&display=swap" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="/stylesheets/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="/stylesheets/navbarStyles.css">
	<link rel="stylesheet" type="text/css" href="/stylesheets/generalStyles.css">
	<link rel="stylesheet" type="text/css" href="/stylesheets/sidebarStyles.css">
	<link rel="stylesheet" type="text/css" href="/stylesheets/styles.css">
	<script type="text/javascript" src="/scripts/jquery-3.3.1.min.js"></script>
	<script type="text/javascript" src="/scripts/bootstrap.bundle.min.js"></script>
	<script src="https://kit.fontawesome.com/6d7440431d.js"></script>
</head>
<body>
	