<!DOCTYPE html>
<html lang="en" class="dark-mode">
<head>
    <title><% if(locals.title) { %><%= locals.title %> - <% } %>Maple Info Corner</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
    <style type="text/css">
        html {
            background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0.7)), url("/public-images/light.webp");
            background-size: cover;
            background-position: center center;
            background-attachment: fixed;
        }

        html.dark-mode {
            background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url('/public-images/dark.webp');
        }

        .hidden { display: none }
    </style>
    <link rel="shortcut icon" href="/public-images/favicon.png" type="image/x-icon">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="/stylesheets/lightStyles.css">
    <link rel="stylesheet" type="text/css" href="/stylesheets/darkStyles.css">
    <link rel="stylesheet" type="text/css" href="/stylesheets/generalStyles.css">
    <link rel="stylesheet" type="text/css" href="/stylesheets/navbarStyles.css">
    <link rel="stylesheet" type="text/css" href="/stylesheets/sidebarStyles.css">
    <% if(locals.extraStylesheet) { %>
    <link rel="stylesheet" type="text/css" href="/stylesheets/<%= extraStylesheet %>.css">
    <% } %>

    <script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous" defer></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous" defer></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous" defer></script>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-ZHMYZ8F0SW"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'G-ZHMYZ8F0SW');
    </script>
    <script type="text/javascript">
        document.addEventListener("DOMContentLoaded", function(event) { 
            document.body.classList.remove("hidden");
        })
    </script>
    <script src="https://kit.fontawesome.com/6d7440431d.js" crossorigin="anonymous" defer></script>
</head>
<body class="hidden dark-mode">
    