<nav class="navbar fixed-top navbar-expand">
    <div class="container-fluid px-0">
        <a class="navbar-brand d-flex mr-3 mr-sm-2" href="/">
            <img src="/public-images/logo.png" alt="Homepage Icon">
        </a>
        <ul class="navbar-nav mr-auto">
            <li class="nav-item d-flex align-items-center mx-1 mx-md-2 <% if(locals.section !== "about") { %>active<% } %>">
                <a class="nav-link d-flex align-items-center" href="/">
                    <span class="d-none d-sm-inline">Maple Info Corner</span>
                    <span class="d-inline d-sm-none">Info</span>
                </a>
            </li>
            <li class="nav-item d-flex align-items-center mx-1 mx-md-2 <% if(locals.section === "about") { %>active<% } %>">
                <a class="nav-link d-flex align-items-center" href="/about">
                    About
                </a>
            </li>
            <li class="nav-item d-flex align-items-center dropdown mx-1 mx-md-2">
                <a class="nav-link d-flex align-items-center dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Support
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item single-dropdown mb-2" href="https://ko-fi.com/whackybeanz">
                        <div class="w-100 single-logo-div d-flex justify-content-center align-items-center">
                            <div class="about-logo single-logo-small w-100 h-100 ko-fi-logo"></div>
                        </div>
                    </a>
                    <a class="dropdown-item single-dropdown " href="https://paypal.me/whackybeanz">
                        <div class="w-100 single-logo-div d-flex justify-content-center align-items-center">
                            <img src="https://www.paypalobjects.com/webstatic/en_US/i/buttons/PP_logo_h_150x38.png" alt="PayPal logo" class="about-logo single-logo-small paypal-logo" />
                        </div>
                    </a>
                </div>
            </li>
        </ul>
        <ul class="navbar-nav">
            <li class="nav-item toggle-mode cursor-pointer toggle-light d-none align-items-center" data-mode="light-mode">
                <div class="nav-link font-weight-bold p-0">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-sun-fill" viewBox="0 0 16 16">
                      <path d="M8 12a4 4 0 1 0 0-8 4 4 0 0 0 0 8zM8 0a.5.5 0 0 1 .5.5v2a.5.5 0 0 1-1 0v-2A.5.5 0 0 1 8 0zm0 13a.5.5 0 0 1 .5.5v2a.5.5 0 0 1-1 0v-2A.5.5 0 0 1 8 13zm8-5a.5.5 0 0 1-.5.5h-2a.5.5 0 0 1 0-1h2a.5.5 0 0 1 .5.5zM3 8a.5.5 0 0 1-.5.5h-2a.5.5 0 0 1 0-1h2A.5.5 0 0 1 3 8zm10.657-5.657a.5.5 0 0 1 0 .707l-1.414 1.415a.5.5 0 1 1-.707-.708l1.414-1.414a.5.5 0 0 1 .707 0zm-9.193 9.193a.5.5 0 0 1 0 .707L3.05 13.657a.5.5 0 0 1-.707-.707l1.414-1.414a.5.5 0 0 1 .707 0zm9.193 2.121a.5.5 0 0 1-.707 0l-1.414-1.414a.5.5 0 0 1 .707-.707l1.414 1.414a.5.5 0 0 1 0 .707zM4.464 4.465a.5.5 0 0 1-.707 0L2.343 3.05a.5.5 0 1 1 .707-.707l1.414 1.414a.5.5 0 0 1 0 .708z"/>
                    </svg>
                    <span class="d-none d-sm-inline">Light</span>
                </div>
            </li>
            <li class="nav-item toggle-mode cursor-pointer toggle-dark d-flex align-items-center" data-mode="dark-mode">
                <div class="nav-link font-weight-bold p-0">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-moon-fill" viewBox="0 0 16 16">
                      <path d="M6 .278a.768.768 0 0 1 .08.858 7.208 7.208 0 0 0-.878 3.46c0 4.021 3.278 7.277 7.318 7.277.527 0 1.04-.055 1.533-.16a.787.787 0 0 1 .81.316.733.733 0 0 1-.031.893A8.349 8.349 0 0 1 8.344 16C3.734 16 0 12.286 0 7.71 0 4.266 2.114 1.312 5.124.06A.752.752 0 0 1 6 .278z"/>
                    </svg>
                <span class="d-none d-sm-inline">Dark</span>
                </div>
            </li>
        </ul>
        <button class="btn <% if(locals.section !== "maple-index" && locals.section !== "about") { %>d-block<% } else { %>d-none<% } %> d-lg-none ml-3" id="sidebar-collapse-btn" data-toggle="collapse" data-target="#sidebar-nav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle sidebar navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</nav>