<nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark">
	<div class="container">
		<a class="navbar-brand mr-4" href="#">whackybeanz</a>
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="navbarNav">
			<ul class="navbar-nav mr-auto">
				<li class="nav-item active mx-3" data-tab="calculator">
					<a class="nav-link" href="#">Maple Info Corner</a>
				</li>
				<li class="nav-item mx-3" data-tab="info">
					<a class="nav-link" href="#">Stories</a>
				</li>
				<li class="nav-item mx-3" data-tab="credits">
					<a class="nav-link" href="#">About Me</a>
				</li>
			</ul>
		</div>
	</div>
</nav>