<nav class="sidebar sidebar-left font-sidebar col-12 col-lg-3 col-xl-2 px-3">
    <div class="col-12 d-lg-block collapse px-0 mb-4" id="sidebar-nav">
        <div class="mb-0 pt-3 pt-lg-4 mb-4">
            <h1 class="font-weight-bold">Quicklinks</h1>
            <ul class="mb-2 pl-2">
                <div class="mb-4">
                    <h2 class="list-style-type-none sidebar-collapse mb-1 <% if(section !== "guides") { %>collapsed<% } %>" data-toggle="collapse" href="#side-begin-guide">
                        <div class="custom-caret d-inline-block">&#9207;</div> Guides
                    </h2>
                    <ul class="pl-3 pl-lg-2 collapse <% if(section === "guides") { %>show<% } %>" id="side-begin-guide">
                        <div class="d-flex flex-wrap">
                            <li class="col-6 col-sm-4 col-md-4 col-lg-12 pl-0 px-lg-2 list-style-type-none mb-1">
                                <a href="/guides/spell-trace" class="sidebar-btn d-block py-1 text-decoration-none <% if(branch === "spell-trace") { %>active<% } %>">
                                    <div class="px-2 px-lg-1">&#8614; Spell Trace / Scrolls</div>
                                </a>
                            </li>
                            <li class="col-6 col-sm-4 col-md-4 col-lg-12 pl-0 px-lg-2 list-style-type-none mb-1">
                                <a href="/guides/star-force" class="sidebar-btn d-block py-1 text-decoration-none <% if(branch === "star-force") { %>active<% } %>">
                                    <div class="px-2 px-lg-1">&#8614; Star Force</div>
                                </a>
                            </li>
                            <li class="col-6 col-sm-4 col-md-4 col-lg-12 pl-0 px-lg-2 list-style-type-none mb-1">
                                <a href="/guides/potentials" class="sidebar-btn d-block py-1 text-decoration-none <% if(branch === "potentials") { %>active<% } %>">
                                    <div class="px-2 px-lg-1">&#8614; Potentials / Cubes</div>
                                </a>
                            </li>
                            <li class="col-6 col-sm-4 col-md-4 col-lg-12 pl-0 px-lg-2 list-style-type-none mb-1">
                                <a href="/guides/flames" class="sidebar-btn d-block py-1 text-decoration-none <% if(branch === "flames") { %>active<% } %>">
                                    <div class="px-2 px-lg-1">&#8614; Bonus Stats / Flames</div>
                                </a>
                            </li>
                            <li class="col-6 col-sm-4 col-md-4 col-lg-12 pl-0 px-lg-2 list-style-type-none mb-1">
                                <a href="/guides/soul-weapons" class="sidebar-btn d-block py-1 text-decoration-none <% if(branch === "soul-weapons") { %>active<% } %>">
                                    <div class="px-2 px-lg-1">&#8614; Soul Weapons</div>
                                </a>
                            </li>
                            <li class="col-6 col-sm-4 col-md-4 col-lg-12 pl-0 px-lg-2 list-style-type-none mb-1">
                                <a href="/guides/set-effects" class="sidebar-btn d-block py-1 text-decoration-none <% if(branch === "set-effects") { %>active<% } %>">
                                    <div class="px-2 px-lg-1">&#8614; Set Effects / Lucky Items</div>
                                </a>
                            </li>
                            <li class="col-6 col-sm-4 col-md-4 col-lg-12 pl-0 px-lg-2 list-style-type-none mb-1">
                                <a href="/guides/todd-hammer" class="sidebar-btn d-block py-1 text-decoration-none <% if(branch === "todd-hammer") { %>active<% } %>">
                                    <div class="px-2 px-lg-1">&#8614; Todd's Hammer</div>
                                </a>
                            </li>
                        </div>
                    </ul>
                </div>

                <div class="mb-4">
                    <h2 class="list-style-type-none sidebar-collapse mb-1 <% if(section !== "calc") { %>collapsed<% } %>" data-toggle="collapse" href="#side-calc">
                        <div class="custom-caret d-inline-block">&#9207;</div> Calculators
                    </h2>
                    <ul class="pl-3 pl-lg-2 collapse <% if(section === "calc") { %>show<% } %>" id="side-calc">
                        <div class="d-flex flex-wrap">
                            <li class="col-6 col-sm-4 col-md-4 col-lg-12 pl-0 px-lg-2 list-style-type-none mb-1">
                                <a href="/calc/coin-events" class="sidebar-btn d-block py-1 text-decoration-none <% if(branch === "coin-events") { %>active<% } %>">
                                    <div class="px-2 px-lg-1">&#8614; Coin Events</div>
                                </a>
                            </li>
                            <li class="col-6 col-sm-4 col-md-4 col-lg-12 pl-0 px-lg-2 list-style-type-none mb-1">
                                <a href="/calc/everything-exp" class="sidebar-btn d-block py-1 text-decoration-none <% if(branch === "calc-exp-stacking") { %>active<% } %>">
                                    <div class="px-2 px-lg-1">&#8614; Everything EXP</div>
                                </a>
                            </li>
                            <li class="col-6 col-sm-4 col-md-4 col-lg-12 pl-0 px-lg-2 list-style-type-none mb-1">
                                <a href="/calc/symbols" class="sidebar-btn d-block py-1 text-decoration-none <% if(branch === "calc-symbol-calc") { %>active<% } %>">
                                    <div class="px-2 px-lg-1">&#8614; Everything Symbols</div>
                                </a>
                            </li>
                            <li class="col-6 col-sm-4 col-md-4 col-lg-12 pl-0 px-lg-2 list-style-type-none mb-1">
                                <a href="/calc/flames" class="sidebar-btn d-block py-1 text-decoration-none <% if(branch === "calc-flames") { %>active<% } %>">
                                    <div class="px-2 px-lg-1">&#8614; Flame Stats</div>
                                </a>
                            </li>
                            <li class="col-6 col-sm-4 col-md-4 col-lg-12 pl-0 px-lg-2 list-style-type-none mb-1">
                                <a href="/calc/set-effects" class="sidebar-btn d-block py-1 text-decoration-none <% if(branch === "calc-set-effects") { %>active<% } %>">
                                    <div class="px-2 px-lg-1">&#8614; Set Effects</div>
                                </a>
                            </li>
                            <li class="col-6 col-sm-4 col-md-4 col-lg-12 pl-0 px-lg-2 list-style-type-none mb-1">
                                <a href="/calc/tactical-relay" class="sidebar-btn d-block py-1 text-decoration-none <% if(branch === "tactical-relay") { %>active<% } %>">
                                    <div class="px-2 px-lg-1">&#8614; Tactical Relay Planner</div>
                                </a>
                            </li>
                            <li class="col-6 col-sm-4 col-md-4 col-lg-12 pl-0 px-lg-2 list-style-type-none mb-1">
                                <a href="/calc/6th-job" class="sidebar-btn d-block py-1 text-decoration-none <% if(branch === "calc-6th-job") { %>active<% } %>">
                                    <div class="px-2 px-lg-1">&#8614; 6th Job</div>
                                </a>
                            </li>
                        </div>
                    </ul>
                </div>

                <div class="mb-4">
                    <h2 class="list-style-type-none sidebar-collapse mb-1 <% if(section !== "info") { %>collapsed<% } %>" data-toggle="collapse" href="#side-info">
                        <div class="custom-caret d-inline-block">&#9207;</div> Info Sheets
                    </h2>
                    <ul class="pl-3 pl-lg-2 collapse <% if(section === "info") { %>show<% } %>" id="side-info">
                        <div class="d-flex flex-wrap">
                            <li class="col-6 col-sm-4 col-md-4 col-lg-12 pl-0 px-lg-2 list-style-type-none mb-1">
                                <a href="/info/boss-crystal" class="sidebar-btn d-block py-1 text-decoration-none <% if(branch === "boss-crystal") { %>active<% } %>">
                                    <div class="px-2 px-lg-1">&#8614; Boss Crystal Prices</div>
                                </a>
                            </li>
                            <li class="col-6 col-sm-4 col-md-4 col-lg-12 pl-0 px-lg-2 list-style-type-none mb-1">
                                <a href="/info/damage-skins" class="sidebar-btn d-block py-1 text-decoration-none <% if(branch === "damage-skins") { %>active<% } %>">
                                    <div class="px-2 px-lg-1">&#8614; Damage Skins</div>
                                </a>
                            </li>
                            <li class="col-6 col-sm-4 col-md-4 col-lg-12 pl-0 px-lg-2 list-style-type-none mb-1">
                                <a href="/info/potential-list" class="sidebar-btn d-block py-1 text-decoration-none <% if(branch === "potential-list") { %>active<% } %>">
                                    <div class="px-2 px-lg-1">&#8614; List of Potentials</div>
                                </a>
                            </li>
                            <li class="col-6 col-sm-4 col-md-4 col-lg-12 pl-0 px-lg-2 list-style-type-none mb-1">
                                <a href="/info/monster-life" class="sidebar-btn d-block py-1 text-decoration-none <% if(branch === "monster-life") { %>active<% } %>">
                                    <div class="px-2 px-lg-1">&#8614; Monster Life</div>
                                </a>
                            </li>
                            <li class="col-6 col-sm-4 col-md-4 col-lg-12 pl-0 px-lg-2 list-style-type-none mb-1">
                                <a href="/info/soul-tier-list" class="sidebar-btn d-block py-1 text-decoration-none <% if(branch === "soul-tier-list") { %>active<% } %>">
                                    <div class="px-2 px-lg-1">&#8614; Soul Tier List</div>
                                </a>
                            </li>
                            <li class="col-6 col-sm-4 col-md-4 col-lg-12 pl-0 px-lg-2 list-style-type-none mb-1">
                                <a href="/info/todd-sequence" class="sidebar-btn d-block py-1 text-decoration-none <% if(branch === "todd-sequence") { %>active<% } %>">
                                    <div class="px-2 px-lg-1">&#8614; Todding Sequence</div>
                                </a>
                            </li>
                        </div>
                    </ul>
                </div>

                <div class="mb-4">
                    <h2 class="list-style-type-none sidebar-collapse mb-1 <% if(section !== "fun") { %>collapsed<% } %>" data-toggle="collapse" href="#side-fun">
                        <div class="custom-caret d-inline-block">&#9207;</div> Fun Corner
                    </h2>
                    <ul class="pl-3 pl-lg-2 collapse <% if(section === "fun") { %>show<% } %>" id="side-fun">
                        <div class="d-flex flex-wrap">
                            <li class="col-6 col-sm-4 col-md-4 col-lg-12 pl-0 px-lg-2 list-style-type-none mb-1">
                                <a href="/fun/crossword" class="sidebar-btn d-block py-1 text-decoration-none <% if(branch === "crossword") { %>active<% } %>">
                                    <div class="px-2 px-lg-1">&#8614; Crossword</div>
                                </a>
                            </li>
                            <li class="col-6 col-sm-4 col-md-4 col-lg-12 pl-0 px-lg-2 list-style-type-none mb-1">
                                <a href="/fun/word-search" class="sidebar-btn d-block py-1 text-decoration-none <% if(branch === "word-search") { %>active<% } %>">
                                    <div class="px-2 px-lg-1">&#8614; Word Search</div>
                                </a>
                            </li>
                        </div>
                    </ul>
                </div>

                <div class="mb-4">
                    <h2 class="list-style-type-none sidebar-collapse mb-1 collapsed" data-toggle="collapse" href="#side-others">
                        <div class="custom-caret d-inline-block">&#9207;</div> Other References
                    </h2>
                    <ul class="pl-3 pl-lg-2 collapse" id="side-others">
                        <div class="d-flex flex-wrap">
                            <li class="col-6 col-sm-4 col-md-4 col-lg-12 pl-0 px-lg-2 list-style-type-none mb-0">
                                <a href="https://strategywiki.org/wiki/MapleStory" class="sidebar-btn d-block py-1 text-decoration-none" target="_blank">
                                    <div class="px-2 px-lg-1">&#8614; StrategyWiki</div>
                                </a>
                            </li>
                            <li class="col-6 col-sm-4 col-md-4 col-lg-12 pl-0 px-lg-2 list-style-type-none mb-0">
                                <a href="https://maplestorywiki.net/" class="sidebar-btn d-block py-1 text-decoration-none" target="_blank">
                                    <div class="px-2 px-lg-1">&#8614; MapleWiki</div>
                                </a>
                            </li>
                            <li class="col-6 col-sm-4 col-md-4 col-lg-12 pl-0 px-lg-2 list-style-type-none mb-0">
                                <a href="https://dexless.com/" class="sidebar-btn d-block py-1 text-decoration-none" target="_blank">
                                    <div class="px-2 px-lg-1">&#8614; Dexless.com</div>
                                </a>
                            </li>
                            <li class="col-6 col-sm-4 col-md-4 col-lg-12 pl-0 px-lg-2 list-style-type-none mb-0">
                                <a href="https://www.reddit.com/r/Maplestory/" class="sidebar-btn d-block py-1 text-decoration-none" target="_blank">
                                    <div class="px-2 px-lg-1">&#8614; Maplestory Reddit</div>
                                </a>
                            </li>
                            <li class="col-6 col-sm-4 col-md-4 col-lg-12 pl-0 px-lg-2 list-style-type-none mb-0">
                                <a href="http://m.inven.co.kr//maple/" class="sidebar-btn d-block py-1 text-decoration-none" target="_blank">
                                    <div class="px-2 px-lg-1">&#8614; Maplestory Inven</div>
                                </a>
                            </li>
                            <li class="col-6 col-sm-4 col-md-4 col-lg-12 pl-0 px-lg-2 list-style-type-none mb-0">
                                <a href="https://namu.wiki/w/%EB%B6%84%EB%A5%98:%EB%A9%94%EC%9D%B4%ED%94%8C%EC%8A%A4%ED%86%A0%EB%A6%AC" class="sidebar-btn d-block py-1 text-decoration-none" target="_blank">
                                    <div class="px-2 px-lg-1">&#8614; Namu Wiki</div>
                                </a>
                            </li>
                        </div>
                    </ul>
                </div>

                <div class="mb-4">
                    <h2 class="list-style-type-none sidebar-collapse mb-1 collapsed" data-toggle="collapse" href="#side-services">
                        <div class="custom-caret d-inline-block">&#9207;</div> Maplestory Services
                    </h2>
                    <ul class="pl-3 pl-lg-2 collapse" id="side-services">
                        <div class="d-flex flex-wrap">
                            <li class="col-6 col-sm-4 col-md-4 col-lg-12 pl-0 px-lg-2 list-style-type-none mb-1">
                                <a href="https://maplestory.nexon.com/" class="sidebar-btn d-block py-1 text-decoration-none" target="_blank">
                                    <div class="px-2 px-lg-1">&#8614; KMS</div>
                                </a>
                            </li>
                            <li class="col-6 col-sm-4 col-md-4 col-lg-12 pl-0 px-lg-2 list-style-type-none mb-1">
                                <a href="https://maplestory.nexon.com/Testworld/Main" class="sidebar-btn d-block py-1 text-decoration-none" target="_blank">
                                    <div class="px-2 px-lg-1">&#8614; KMST</div>
                                </a>
                            </li>
                            <li class="col-6 col-sm-4 col-md-4 col-lg-12 pl-0 px-lg-2 list-style-type-none mb-1">
                                <a href="https://maplestory.nexon.co.jp/" class="sidebar-btn d-block py-1 text-decoration-none" target="_blank">
                                    <div class="px-2 px-lg-1">&#8614; JMS</div>
                                </a>
                            </li>
                            <li class="col-6 col-sm-4 col-md-4 col-lg-12 pl-0 px-lg-2 list-style-type-none mb-1">
                                <a href="https://tw.beanfun.com/maplestory/main.aspx" class="sidebar-btn d-block py-1 text-decoration-none" target="_blank">
                                    <div class="px-2 px-lg-1">&#8614; TMS</div>
                                </a>
                            </li>
                            <li class="col-6 col-sm-4 col-md-4 col-lg-12 pl-0 px-lg-2 list-style-type-none mb-1">
                                <a href="http://mxd.sdo.com/" class="sidebar-btn d-block py-1 text-decoration-none" target="_blank">
                                    <div class="px-2 px-lg-1">&#8614; CMS</div>
                                </a>
                            </li>
                            <li class="col-6 col-sm-4 col-md-4 col-lg-12 pl-0 px-lg-2 list-style-type-none mb-1">
                                <a href="http://maplestory.nexon.net/" class="sidebar-btn d-block py-1 text-decoration-none" target="_blank">
                                    <div class="px-2 px-lg-1">&#8614; GMS</div>
                                </a>
                            </li>
                            <li class="col-6 col-sm-4 col-md-4 col-lg-12 pl-0 px-lg-2 list-style-type-none mb-1">
                                <a href="http://www.maplesea.com/" class="sidebar-btn d-block py-1 text-decoration-none" target="_blank">
                                    <div class="px-2 px-lg-1">&#8614; MSEA</div>
                                </a>
                            </li>
                        </div>
                    </ul>
                </div>
            </ul>
        </div>
    </div>

    <!-- Vertical -->
    <ins class="adsbygoogle ad-space vert-ad"
         data-ad-client="ca-pub-9569715514342803"
         data-ad-slot="1330274136"
         data-ad-format="auto"
         data-full-width-responsive="true">
         </ins>
    <script>
        document.addEventListener("DOMContentLoaded", function() {
            (adsbygoogle = window.adsbygoogle || []).push({});
        });
    </script>
</nav>