<div class="w-100 d-flex align-items-center flex-column px-4 pt-4 px-lg-0 pt-lg-4" id="info">
	<div class="info-section w-100 d-flex justify-content-center align-items-center flex-column px-lg-4 pb-3">
		<div class="w-100 d-flex justify-content-center align-items-center position-relative mb-2">
			<div class="w-100 flex-grow-1 border-top border-dark"></div>
			<h1 class="font-header w-100 text-center m-0 px-0">About Flames</h1>
			<div class="w-100 flex-grow-1 border-top border-dark"></div>
		</div>
		<div class="w-100 mb-3">
			<h2 class="font-subheader font-weight-bold text-underline mb-2" id="info-intro">Introduction</h2>
			<div class="font-content w-100 d-flex justify-content-center align-items-center flex-column mb-4">
				<p class="text-justify">Bonus stats are displayed as green numbers on your equipment. You can use Resurrection Flames to reroll the item's bonus stats. Double click on a flame and your inventory's Equip tab will be shown, then click on an item to apply the flame on it. Note that certain equipment types <strong class="text-danger">cannot</strong> receive bonus stats (indicated with a red background when flaming). These types are detailed in the next section.</p>

				<div class="w-100 d-flex flex-column justify-content-center align-items-center text-center">
					<div class="size-350 d-flex">
						<img src="./public/images/equips/flame-stats.png">
					</div>
					<p class="size-350 font-caption">Green numbers displayed on your equipment are bonus stats.</p>
				</div>

				<p class="text-justify">The number of bonus stats lines and the value of the bonus stats depends on 1) what item you are flaming, and 2) what flame is being used. Items can get up to 4 lines of bonus stats, and there are 7 possible flame tiers. Each bonus stat line is rolled separately, so it is possible to get different tiers for each bonus stat.</p>

				<table class="font-table size-720 table table-sm table-bordered table-hover mb-0">
					<thead>
						<tr>
							<th rowspan="2"></th>
							<th rowspan="2" class="table-cols-50 text-center align-middle">No. of Bonus Stat Lines</th>
							<th colspan="3" class="table-cols-50 text-center">Possible Tiers</th>
						</tr>
						<tr>
							<th class="table-cols-50 text-center align-middle">Upon Looting</th>
							<th class="table-cols-50 text-center align-middle">Level / Crimson / Obsidian Flames</th>
							<th class="table-cols-50 text-center align-middle">Rainbow / Black Flames</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<th class="table-cols-header text-center align-middle">"Normal" Equips</th>
							<td class="table-cols-50 text-center align-middle font-small">1 to 4 Lines</td>
							<td class="table-cols-50 text-center align-middle font-small">Tiers 1 to 5</td>
							<td class="table-cols-50 text-center align-middle font-small">Tiers 1 to 4</td>
							<td class="table-cols-50 text-center align-middle font-small">Tiers 2 to 5</td>
						</tr>
						<tr>
							<th class="table-cols-header text-center align-middle">"Elite Boss" Equips</th>
							<td class="table-cols-50 text-center align-middle font-small">1 to 4 Lines</td>
							<td class="table-cols-50 text-center align-middle font-small">Tiers 3 to 7</td>
							<td class="table-cols-50 text-center align-middle font-small">Tiers 1 to 4</td>
							<td class="table-cols-50 text-center align-middle font-small">Tiers 2 to 5</td>
						</tr>
						<tr>
							<th class="table-cols-header text-center align-middle">"Special" Equips</th>
							<td class="table-cols-50 text-center align-middle font-small">4 Lines</td>
							<td class="table-cols-50 text-center align-middle font-small">Tiers 3 to 7</td>
							<td class="table-cols-50 text-center align-middle font-small">Tiers 3 to 6</td>
							<td class="table-cols-50 text-center align-middle font-small">Tiers 4 to 7</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
		<div class="w-100 mb-3">
			<h2 class="font-subheader w-100 font-weight-bold text-underline mb-2" id="info-item-types">Item Types</h2>
			<div class="font-content w-100 d-flex justify-content-center align-items-center flex-column mb-4">
				<p class="w-100">Several item categories <strong class="text-danger">cannot</strong> receive bonus stats and cannot be flamed, namely:</p>
				<ul class="w-100">
					<li class="my-2">Rings</li>
					<li class="my-2">Shoulderpads except <img class="item-img-inline mx-1" src="./public/images/equips/shoulder/scarlet-pad.png"> Scarlet Shoulderpads</li>
					<li class="my-2">Emblems</li>
					<li class="my-2">Badges</li>
					<li class="my-2">Medals</li>
					<li class="my-2">Android & Android Hearts</li>
					<li class="my-2">Secondary Weapons (shield and katara included)</li>
				</ul>
				<p class="w-100 text-justify">When hovering over equipment, you may notice that on the top left corner of the zoomed-in item, certain items have transparent dots, while others have white dots. Any flame can be used on items with a transparent dot, while only non-level restricted flames can be used on items with a white dot.</p>

				<div class="w-100 d-flex flex-column justify-content-center align-items-center text-center">
					<div class="size-350 d-flex">
						<img src="./public/images/equips/transparent-dot.png" class="mx-2">
						<img src="./public/images/equips/white-dot.png" class="mx-2">
					</div>
					<p class="size-350 font-caption">Greed Pendants (left) have a transparent dot, so any flames can be used on it. Meister Ear Studs (right) have a white dot, so only non-level restricted flames can be used on it.</p>
				</div>

				<p class="w-100 text-justify">The table below describes each item type and several examples of such items. <span class="d-none d-md-inline">Mouse over</span><span class="d-inline d-md-none">Tap on</span> each item image for more information.</p>
				<table class="font-table size-720 table table-sm table-bordered table-hover mb-0">
					<thead>
						<tr>
							<th></th>
							<th class="table-cols-125 align-middle text-center">Description</th>
							<th class="table-cols-header align-middle text-center">Examples</th>

							<!--<th class="table-cols table-cols-desc text-center">"Normal" Equips</th>
							<th class="table-cols table-cols-desc text-center">"Elite Boss" Equips</th>
							<th class="table-cols table-cols-desc text-center">"Special" Equips</th>-->
						</tr>
					</thead>
					<tbody>
						<tr class="table-rows">
							<th class="table-cols-header align-middle text-center">"Normal" Equips</th>
							<td class="table-cols-125 align-middle text-center font-small">Most equipment dropped by regular monsters fall into this category. Zero class weapons are also considered "Normal" weapons. Chaos Root Abyss boss helmets are "Normal" items as well.</td>
							<td class="table-cols-50 align-middle text-center">
								<img class="item-img m-1" src="./public/images/equips/weapon/abs-lapis.png" data-toggle="tooltip" data-placement="bottom" title="Zero class weapons">
								<img class="item-img m-1" src="./public/images/equips/hat/chaos-bellum.png" data-toggle="tooltip" data-placement="bottom" title="Chaos Root Abyss boss helmets">
								<img class="item-img m-1" src="./public/images/equips/face/meister-symbol.png" data-toggle="tooltip" data-placement="bottom" title="Meister Symbols">
								<img class="item-img m-1" src="./public/images/equips/pendant/cht-pendant.png" data-toggle="tooltip" data-placement="bottom" title="Horntail Necklace (both types)">
								<img class="item-img m-1" src="./public/images/equips/gloves/fens-glove.png" data-toggle="tooltip" data-placement="bottom" title="Fensalir items">
							</td>
						</tr>
						<tr class="table-rows">
							<th class="table-cols-header align-middle text-center">"Elite Boss" Equips</th>
							<td class="table-cols-125 align-middle text-center font-small">Equipment collected during the Bonus Stage after killing Elite Bosses fall into this category.</td>
							<td class="table-cols-50 align-middle text-center font-small">
								N/A, see Description
							</td>
						</tr>
						<tr class="table-rows">
							<th class="table-cols-header align-middle text-center">"Special" Equips</th>
							<td class="table-cols-125 align-middle text-center font-small">Most unique equipment dropped directly by bosses and equipment crafted by shards/materials obtained from these bosses are considered "Special" items. There are also certain items not obtainable through bosses that belong to this category.</td>
							<td class="table-cols-50 align-middle text-center">
								<img class="item-img m-1" src="./public/images/equips/weapon/genesis-staff.png" data-toggle="tooltip" data-placement="bottom" title="Genesis weapons">
								<img class="item-img m-1" src="./public/images/equips/hat/acs-knight-hat.png" data-toggle="tooltip" data-placement="bottom" title="Arcaneshade items">
								<img class="item-img m-1" src="./public/images/equips/hat/abs-cabalist-crown.png" data-toggle="tooltip" data-placement="bottom" title="Absolabs items">
								<img class="item-img m-1" src="./public/images/equips/weapon/faf-fan.png" data-toggle="tooltip" data-placement="bottom" title="Chaos Root Abyss set items">
								<img class="item-img m-1" src="./public/images/equips/pocket/will-red-book.png" data-toggle="tooltip" data-placement="bottom" title="Hard Boss set accessories">
								<img class="item-img m-1" src="./public/images/equips/eye/papulatus-mark.png" data-toggle="tooltip" data-placement="bottom" title="Boss set accessories">
								<img class="item-img m-1" src="./public/images/equips/earring/meister-studs.png" data-toggle="tooltip" data-placement="bottom" title="Meister Ear Studs">
							</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
		<div class="w-100 mb-3">
			<h2 class="w-100 font-subheader font-weight-bold text-underline mb-2" id="info-flame-types">Flame Types</h2>
			<div class="font-content w-100 d-flex justify-content-center align-items-center flex-column mb-4">
				<h3 class="w-100 font-subsubheader font-italic mb-0">Level-restricted Flames</h3>
				<p class="w-100 text-justify">Flames shown in the table below can only be used on equipment up to a certain level as displayed in the respective item names. Also, these flames can only be applied on equipment that have transparent dots. <span class="d-inline d-md-none">Tap on each image for more information.</span></p>
				<table class="font-table size-720 table table-sm table-bordered table-hover mb-0">
					<thead>
						<tr>
							<th></th>
							<th class="text-center align-middle d-none d-md-table-cell">Item Name</th>
							<th class="text-center align-middle">Where to get?</th>
						</tr>
					</thead>
					<tbody>
						<tr class="table-rows">
							<th class="text-center align-middle"><img src="./public/images/flames/flame-100.png" data-toggle="tooltip" data-placement="bottom" title="Resurrection Flame Level 100"></th>
							<td class="table-cols-50 text-center align-middle font-small d-none d-md-table-cell">Resurrection Flame Level 100</td>
							<td class="text-center align-middle">
								<img class="item-img m-1" src="./public/images/items/gachapon.png" data-toggle="tooltip" data-placement="bottom" title="Gachapon">
							</td>
						</tr>
						<tr class="table-rows">
							<th class="text-center align-middle"><img src="./public/images/flames/flame-110.png" data-toggle="tooltip" data-placement="bottom" title="Resurrection Flame Level 110"></th>
							<td class="table-cols-50 text-center align-middle font-small d-none d-md-table-cell">Resurrection Flame Level 110</td>
							<td class="text-center align-middle">
								<img class="item-img border-img m-1" src="./public/images/boss/zakum.png" data-toggle="tooltip" data-placement="bottom" title="Zakum (Normal, Chaos)">
								<img class="item-img border-img m-1" src="./public/images/boss/vellum.png" data-toggle="tooltip" data-placement="bottom" title="Root Abyss bosses (Normal)">
								<img class="item-img border-img m-1" src="./public/images/boss/kawoong.png" data-toggle="tooltip" data-placement="bottom" title="Kawoong (Normal)">
								<img class="item-img border-img m-1" src="./public/images/boss/magnus-1.png" data-toggle="tooltip" data-placement="bottom" title="Magnus (Easy, Normal)">
							</td>
						</tr>
						<tr class="table-rows">
							<th class="text-center align-middle"><img src="./public/images/flames/flame-120.png" data-toggle="tooltip" data-placement="bottom" title="Resurrection Flame Level 120"></th>
							<td class="table-cols-50 text-center align-middle font-small d-none d-md-table-cell">Resurrection Flame Level 120</td>
							<td class="text-center align-middle">
								<img class="item-img border-img m-1" src="./public/images/boss/hilla.png" data-toggle="tooltip" data-placement="bottom" title="Hilla (Normal)">
								<img class="item-img border-img m-1" src="./public/images/boss/von-leon.png" data-toggle="tooltip" data-placement="bottom" title="Von Leon (Easy, Normal)">
								<img class="item-img border-img m-1" src="./public/images/boss/horntail.png" data-toggle="tooltip" data-placement="bottom" title="Horntail (Easy, Normal, Chaos)">
								<img class="item-img border-img m-1" src="./public/images/boss/pink-bean.png" data-toggle="tooltip" data-placement="bottom" title="Pink Bean (Normal)">
							</td>
						</tr>
						<tr class="table-rows">
							<th class="text-center align-middle"><img src="./public/images/flames/flame-130.png" data-toggle="tooltip" data-placement="bottom" title="Resurrection Flame Level 130"></th>
							<td class="table-cols-50 text-center align-middle font-small d-none d-md-table-cell">Resurrection Flame Level 130</td>
							<td class="text-center align-middle">
								<img class="item-img border-img m-1" src="./public/images/boss/hilla.png" data-toggle="tooltip" data-placement="bottom" title="Hilla (Hard)">
								<img class="item-img border-img m-1" src="./public/images/boss/von-leon.png" data-toggle="tooltip" data-placement="bottom" title="Von Leon (Hard)">
								<img class="item-img border-img m-1" src="./public/images/boss/pink-bean.png" data-toggle="tooltip" data-placement="bottom" title="Pink Bean (Chaos)">
								<img class="item-img border-img m-1" src="./public/images/boss/arkarium.png" data-toggle="tooltip" data-placement="bottom" title="Arkarium (Easy, Normal)">
							</td>
						</tr>
						<tr class="table-rows">
							<th class="text-center align-middle"><img src="./public/images/flames/flame-140.png" data-toggle="tooltip" data-placement="bottom" title="Resurrection Flame Level 140"></th>
							<td class="table-cols-50 text-center align-middle font-small d-none d-md-table-cell">Resurrection Flame Level 140</td>
							<td class="text-center align-middle">
								<img class="item-img border-img m-1" src="./public/images/boss/cygnus.png" data-toggle="tooltip" data-placement="bottom" title="Cygnus (Easy, Normal)">
							</td>
						</tr>
						<tr class="table-rows">
							<th class="text-center align-middle"><img src="./public/images/flames/flame-150.png" data-toggle="tooltip" data-placement="bottom" title="Resurrection Flame Level 150"></th>
							<td class="table-cols-50 text-center align-middle font-small d-none d-md-table-cell">Resurrection Flame Level 150</td>
							<td class="text-center align-middle">
								<img class="item-img border-img m-1" src="./public/images/boss/magnus-1.png" data-toggle="tooltip" data-placement="bottom" title="Magnus (Hard)">
								<img class="item-img border-img m-1" src="./public/images/boss/vellum.png" data-toggle="tooltip" data-placement="bottom" title="Root Abyss bosses (Chaos)">
								<img class="item-img border-img m-1" src="./public/images/boss/damien-1.png" data-toggle="tooltip" data-placement="bottom" title="Damien (Normal, Hard)">
								<img class="item-img border-img m-1" src="./public/images/boss/lotus-3.png" data-toggle="tooltip" data-placement="bottom" title="Lotus (Normal, Hard)">
								<img class="item-img border-img m-1" src="./public/images/boss/lucid.png" data-toggle="tooltip" data-placement="bottom" title="Lucid (Normal, Hard)">
								<img class="item-img border-img m-1" src="./public/images/boss/will-3.png" data-toggle="tooltip" data-placement="bottom" title="Will (Normal, Hard)">
								<img class="item-img border-img m-1" src="./public/images/boss/dusk.png" data-toggle="tooltip" data-placement="bottom" title="Dusk (Normal)">
								<img class="item-img border-img m-1" src="./public/images/boss/heretic-hilla.png" data-toggle="tooltip" data-placement="bottom" title="Heretic Hilla (Hard)">
								<img class="item-img border-img m-1" src="./public/images/boss/djunkel.png" data-toggle="tooltip" data-placement="bottom" title="Djunkel (Normal)">
								<img class="item-img border-img m-1" src="./public/images/boss/bm-2.png" data-toggle="tooltip" data-placement="bottom" title="Black Mage (Hard)">
							</td>
						</tr>
					</tbody>
				</table>
			</div>

			<div class="font-content w-100 d-flex justify-content-center align-items-center flex-column mb-4">
				<h3 class="w-100 font-subsubheader font-italic mb-0">Unrestricted Flames</h3>
				<p class="w-100 text-justify">Flames shown in the table below can be used on any equipment (both transparent dot and white dot) of any level.</p>
				<table class="font-table size-720 table table-sm table-bordered table-hover mb-0">
					<thead>
						<tr>
							<th></th>
							<th class="text-center align-middle d-none d-md-table-cell">Item Name</th>
							<th class="text-center align-middle">Where to get?</th>
							<th class="text-center align-middle">Crafting Materials</th>
						</tr>
					</thead>
					<tbody>
						<tr class="table-rows">
							<th class="text-center align-middle"><img src="./public/images/flames/flame-crimson.png" data-toggle="tooltip" data-placement="bottom" title="Crimson Resurrection Flame"></th>
							<td class="table-cols-50 text-center align-middle font-small d-none d-md-table-cell">Crimson Resurrection Flame</td>
							<td class="text-center align-middle font-small">
								<img class="item-img standard-img-size m-1" src="./public/images/items/accessory-recipe.png" data-toggle="tooltip" data-placement="bottom" title="Accessory Crafting (Master Craftsman)">
								<img class="item-img standard-img-size m-1" src="./public/images/items/union-coin.png" data-toggle="tooltip" data-placement="bottom" title="Union coin shop">
								<img class="item-img standard-img-size m-1" src="./public/images/maps/dojo.png" data-toggle="tooltip" data-placement="bottom" title="Mu Lung Dojo shop">
								<img class="item-img border-img m-1" src="./public/images/boss/ursus.png" data-toggle="tooltip" data-placement="bottom" title="Ursus shop">
								<img class="item-img standard-img-size m-1" src="./public/images/items/advanced-pouch.png" data-toggle="tooltip" data-placement="bottom" title="Bounty Hunter Pouches (Advanced, Premium)">
								<img class="item-img standard-img-size m-1" src="./public/images/items/treasure-chest.png" data-toggle="tooltip" data-placement="bottom" title="Rare Treasure Chests from Elite Bosses">
								<img class="item-img standard-img-size m-1" src="./public/images/items/alicia-box-4.png" data-toggle="tooltip" data-placement="bottom" title="The Seed boxes (rank 4 and better)">
								<img class="item-img standard-img-size m-1" src="./public/images/items/wonky-buff.png" data-toggle="tooltip" data-placement="bottom" title="Fairy Bros Daily Gift - Day 11">
								<img class="item-img standard-img-size m-1" src="./public/images/items/good-explore-box.png" data-toggle="tooltip" data-placement="bottom" title="Monster Collection exploration rewards (6 hours, 24 hours)"><br/>
								Sudden Missions, Event coin shops
							</td>
							<td class="table-cols-50 text-center align-middle font-small">
								30 x <img class="item-img m-1" src="./public/images/items/magic-crystal.png" data-toggle="tooltip" data-placement="bottom" title="Magic Crystal"><br/>
								5 x <img class="item-img m-1" src="./public/images/flames/flame-fragment.png" data-toggle="tooltip" data-placement="bottom" title="Resurrection Fragment"><br/>
								30 x <img class="item-img m-1" src="./public/images/items/mid-spell-essence.png" data-toggle="tooltip" data-placement="bottom" title="Mid Spell Essence"><br/>
								5 x <img class="item-img m-1" src="./public/images/flames/flame-unextinguished.png" data-toggle="tooltip" data-placement="bottom" title="Unextinguished Flame">
							</td>
						</tr>
						<tr class="table-rows">
							<th class="text-center align-middle"><img src="./public/images/flames/flame-obsidian.png" data-toggle="tooltip" data-placement="bottom" title="Obsidian Resurrection Flame"></th>
							<td class="table-cols-50 text-center align-middle font-small d-none d-md-table-cell">Obsidian Resurrection Flame</td>
							<td class="text-center align-middle font-small">
								<img class="item-img m-1" src="./public/images/items/gachapon.png" data-toggle="tooltip" data-placement="bottom" title="Gachapon"><br/>
								Cash shop
							</td>
							<td class="table-cols table-cols-50 text-center align-middle font-small">
								-
							</td>
						</tr>
						<tr class="table-rows">
							<th class="text-center align-middle"><img src="./public/images/flames/flame-rainbow.png" data-toggle="tooltip" data-placement="bottom" title="Rainbow Resurrection Flame"></th>
							<td class="table-cols-50 text-center align-middle font-small d-none d-md-table-cell">Rainbow Resurrection Flame</td>
							<td class="text-center align-middle font-small">
								<img class="item-img standard-img-size m-1" src="./public/images/items/accessory-recipe.png" data-toggle="tooltip" data-placement="bottom" title="Accessory Crafting (Meister)">
								<img class="item-img standard-img-size m-1" src="./public/images/items/premium-pouch.png" data-toggle="tooltip" data-placement="bottom" title="Bounty Hunter Pouches (Premium)">
								<img class="item-img standard-img-size m-1" src="./public/images/items/treasure-chest.png" data-toggle="tooltip" data-placement="bottom" title="Rare Treasure Chests from Elite Bosses">
								<img class="item-img standard-img-size m-1" src="./public/images/items/alicia-box-2.png" data-toggle="tooltip" data-placement="bottom" title="The Seed boxes (rank 2 and better)">
								<img class="item-img standard-img-size m-1" src="./public/images/items/wonky-buff.png" data-toggle="tooltip" data-placement="bottom" title="Fairy Bros Daily Gift - Day 25">
								<img class="item-img standard-img-size m-1" src="./public/images/items/best-explore-box.png" data-toggle="tooltip" data-placement="bottom" title="Monster Collection exploration rewards (24 hours)"><br/>
								Sudden Missions, Event coin shops
							</td>
							<td class="table-cols-50 text-center align-middle font-small">
								40 x <img class="item-img m-1" src="./public/images/items/magic-crystal.png" data-toggle="tooltip" data-placement="bottom" title="Magic Crystal"><br/>
								10 x <img class="item-img m-1" src="./public/images/flames/flame-fragment.png" data-toggle="tooltip" data-placement="bottom" title="Resurrection Fragment"><br/>
								20 x <img class="item-img m-1" src="./public/images/items/high-spell-essence.png" data-toggle="tooltip" data-placement="bottom" title="High Spell Essence"><br/>
								5 x <img class="item-img m-1" src="./public/images/flames/flame-never-extinguishing.png" data-toggle="tooltip" data-placement="bottom" title="Never Extinguishing Flame">
							</td>
						</tr>
						<tr class="table-rows">
							<th class="text-center align-middle"><img src="./public/images/flames/flame-black.png" data-toggle="tooltip" data-placement="bottom" title="Black Resurrection Flame"></th>
							<td class="table-cols-50 text-center align-middle font-small d-none d-md-table-cell">Black Resurrection Flame</td>
							<td class="text-center align-middle font-small">
								Event coin shops
							</td>
							<td class="table-cols-50 text-center align-middle font-small">
								-
							</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
		<div class="w-100 mb-3">
			<h2 class="w-100 font-subheader font-weight-bold text-underline mb-2" id="info-crafting">Crafting & Extraction</h2>
			<div class="font-content w-100 d-flex justify-content-center align-items-center flex-column mb-4">
				<p class="w-100 text-justify">Flames can be extracted for Resurrection Fragments, which are used for crafting Crimson/Rainbow Resurrection Flames. Extraction of flames is done through a Cube Extractor (Alchemy - Master Craftsman rank). The easiest way to get many Resurrection Fragments is to extract Level-restricted Flames and use the fragments to craft the flames of your choice. The table below shows where to get each crafting material for flames. <span class="d-inline d-md-none">Tap on each image for more information.</span></p>
				<table class="font-table size-720 table table-sm table-bordered table-hover mb-0">
					<thead>
						<tr>
							<th></th>
							<th class="text-center align-middle d-none d-md-table-cell">Item Name</th>
							<th class="text-center align-middle">Where to get?</th>
						</tr>
					</thead>
					<tbody>
						<tr class="table-rows">
							<th class="text-center align-middle"><img src="./public/images/flames/flame-fragment.png" data-toggle="tooltip" data-placement="bottom" title="Resurrection Fragment"></th>
							<td class="table-cols-50 text-center align-middle font-small d-none d-md-table-cell">Resurrection Fragment</td>
							<td class="text-center align-middle font-small">
								<img class="item-img m-1" src="./public/images/items/scroll-extractor.png" data-toggle="tooltip" data-placement="bottom" title="Extract flames using a Scroll Extractor"><br/>
								Disassemble items as an Alchemist (Master Craftsman, Meister)
							</td>
						</tr>
						<tr class="table-rows">
							<th class="text-center align-middle"><img src="./public/images/flames/flame-unextinguished.png" data-toggle="tooltip" data-placement="bottom" title="Unextinguished Flame"></th>
							<td class="table-cols-50 text-center align-middle font-small d-none d-md-table-cell">Unextinguished Flame</td>
							<td class="text-center align-middle font-small">
								<img class="item-img m-1" src="./public/images/equips/shovel.png" data-toggle="tooltip" data-placement="bottom" title="Harvesting Gold Flower, Mysterious Flower, Legendary Mysterious Flower successfully">
								<img class="item-img m-1" src="./public/images/equips/pickaxe.png" data-toggle="tooltip" data-placement="bottom" title="Mining Heartstone, Mysterious Vein, Legendary Mysterious Vein successfully">
								<img class="item-img m-1" src="./public/images/items/kritias-coin.png" data-toggle="tooltip" data-placement="bottom" title="Kritias coin shop">
								<img class="item-img standard-img-size m-1" src="./public/images/items/alicia-box-4.png" data-toggle="tooltip" data-placement="bottom" title="The Seed boxes (rank 4 and better)"><br/>
								Sudden Mission
							</td>
						</tr>
						<tr class="table-rows">
							<th class="text-center align-middle"><img src="./public/images/flames/flame-never-extinguishing.png" data-toggle="tooltip" data-placement="bottom" title="Never Extinguishing Flame"></th>
							<td class="table-cols-50 text-center align-middle font-small d-none d-md-table-cell">Never Extinguishing Flame</td>
							<td class="text-center align-middle font-small">
								<img class="item-img m-1" src="./public/images/equips/shovel.png" data-toggle="tooltip" data-placement="bottom" title="Harvesting Gold Flower, Mysterious Flower, Legendary Mysterious Flower successfully">
								<img class="item-img m-1" src="./public/images/equips/pickaxe.png" data-toggle="tooltip" data-placement="bottom" title="Mining Heartstone, Mysterious Vein, Legendary Mysterious Vein successfully">
								<img class="item-img m-1" src="./public/images/items/kritias-coin.png" data-toggle="tooltip" data-placement="bottom" title="Kritias coin shop">
								<img class="item-img standard-img-size m-1" src="./public/images/items/alicia-box-2.png" data-toggle="tooltip" data-placement="bottom" title="The Seed boxes (rank 2 and better)"><br/>
								Sudden Mission
							</td>
						</tr>
						<tr class="table-rows">
							<th class="text-center align-middle"><img src="./public/images/items/magic-crystal.png" data-toggle="tooltip" data-placement="bottom" title="Magic Crystal"></th>
							<td class="table-cols-50 text-center align-middle font-small d-none d-md-table-cell">Magic Crystal</td>
							<td class="text-center align-middle font-small" rowspan="3">
								<img class="item-img m-1" src="./public/images/items/scroll-extractor.png" data-toggle="tooltip" data-placement="bottom" title="Extract scrolls using a Scroll Extractor"><br/>
								Monster loot
							</td>
						</tr>
						<tr class="table-rows">
							<th class="text-center align-middle"><img src="./public/images/items/mid-spell-essence.png" data-toggle="tooltip" data-placement="bottom" title="Mid Spell Essence"></th>
							<td class="table-cols-50 text-center align-middle font-small d-none d-md-table-cell">Mid Spell Essence</td>
						</tr>
						<tr class="table-rows">
							<th class="text-center align-middle"><img src="./public/images/items/high-spell-essence.png" data-toggle="tooltip" data-placement="bottom" title="High Spell Essence"></th>
							<td class="table-cols-50 text-center align-middle font-small d-none d-md-table-cell">High Spell Essence</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>
</div>