#equip-grid .equip-slot#ring-1-slot {
  background-image: url("https://whacky-website.s3-ap-southeast-1.amazonaws.com/images/equips/ring/meister-signet.png");
}
#equip-grid .equip-slot#pendant-1-slot {
  background-image: url("https://whacky-website.s3-ap-southeast-1.amazonaws.com/images/equips/pendant/dom-pendant.png");
}
#equip-grid .equip-slot#weapon-slot {
  background-image: url("https://whacky-website.s3-ap-southeast-1.amazonaws.com/images/equips/weapon/genesis-staff.png");
}
#equip-grid .equip-slot#belt-slot {
  background-image: url("https://whacky-website.s3-ap-southeast-1.amazonaws.com/images/equips/belt/tyrant-belt.png");
}
#equip-grid .equip-slot#hat-slot {
  background-image: url("https://whacky-website.s3-ap-southeast-1.amazonaws.com/images/equips/hat/faf-mage-hat.png");
}
#equip-grid .equip-slot#face-slot {
  background-image: url("https://whacky-website.s3-ap-southeast-1.amazonaws.com/images/equips/face/meister-symbol.png");
}
#equip-grid .equip-slot#eye-slot {
  background-image: url("https://whacky-website.s3-ap-southeast-1.amazonaws.com/images/equips/eye/papulatus-mark.png");
}
#equip-grid .equip-slot#top-slot {
  background-image: url("https://whacky-website.s3-ap-southeast-1.amazonaws.com/images/equips/top/faf-mage-top.png");
}
#equip-grid .equip-slot#bottom-slot {
  background-image: url("https://whacky-website.s3-ap-southeast-1.amazonaws.com/images/equips/bottom/faf-mage-bottom.png");
}
#equip-grid .equip-slot#shoes-slot {
  background-image: url("https://whacky-website.s3-ap-southeast-1.amazonaws.com/images/equips/shoes/acs-shoes.png");
}
#equip-grid .equip-slot#earring-slot {
  background-image: url("https://whacky-website.s3-ap-southeast-1.amazonaws.com/images/equips/earring/meister-studs.png");
}
#equip-grid .equip-slot#shoulder-slot {
  background-image: url("https://whacky-website.s3-ap-southeast-1.amazonaws.com/images/equips/shoulder/acs-shoulder.png");
}
#equip-grid .equip-slot#gloves-slot {
  background-image: url("https://whacky-website.s3-ap-southeast-1.amazonaws.com/images/equips/gloves/acs-glove.png");
}
#equip-grid .equip-slot#emblem-slot {
  background-image: url("https://whacky-website.s3-ap-southeast-1.amazonaws.com/images/equips/emblem/gold-evan-emblem.png");
}
#equip-grid .equip-slot#secondary-slot {
  background-image: url("https://whacky-website.s3-ap-southeast-1.amazonaws.com/images/equips/secondary/deimos-sage-shield.png");
}
#equip-grid .equip-slot#cape-slot {
  background-image: url("https://whacky-website.s3-ap-southeast-1.amazonaws.com/images/equips/cape/acs-cape.png");
}
#equip-grid .equip-slot#heart-slot {
  background-image: url("https://whacky-website.s3-ap-southeast-1.amazonaws.com/images/equips/heart/outlaw-heart.png");
}

.bg-legendary {
  background-color: #77EE00;
  color: rgba(0, 0, 0, 0.8) !important;
}

.bg-unique {
  background-color: #FFBB00;
  color: rgba(0, 0, 0, 0.8) !important;
}

.bg-epic {
  background-color: #5500CC;
}

.bg-rare {
  background-color: #0099FF;
}

.bg-rareWeak {
  background-color: #66FFFF;
  color: rgba(0, 0, 0, 0.8) !important;
}

.stat-type {
  width: 125px;
}
@media (min-width: 768px) {
  .stat-type {
    width: 150px;
  }
}
@media (min-width: 992px) {
  .stat-type {
    width: 25%;
  }
}

.red-cube, .black-cube, .additional-cube {
  width: 20px;
  height: 20px;
  line-height: 1;
}
.red-cube.big-cube, .black-cube.big-cube, .additional-cube.big-cube {
  width: 30px;
  height: 30px;
}

.red-cube {
  border: 2px solid #FFAA00;
  background-color: #DD2222;
  color: #FFEEEE;
}

.black-cube {
  border: 2px solid #FFAA00;
  background-color: #111111;
  color: #FFAA11;
}

.additional-cube {
  background-color: #77DD00;
  border: 2px solid #FFAA00;
  color: #FFEEEE;
}

.line-height-1-5 {
  line-height: 1.5;
}

/*# sourceMappingURL=potentialListStyles.css.map */
