<% include partials/header %>
<% include partials/navbar %>

<div class="container content h-100 d-flex p-0 pt-5">
	<div class="main-content-div w-100 p-0 mt-2 position-relative">
		<div class="single-info-page w-100 d-flex align-items-center flex-column px-4 pt-4 px-lg-0 pt-lg-4">
			<div class="info-section w-100 d-flex justify-content-center align-items-center flex-column px-lg-4 pb-3">
				<div class="w-100 d-flex justify-content-center align-items-center position-relative mb-2">
					<div class="w-100 border-top border-dark"></div>
					<h1 class="font-header w-100 text-center m-0">About Me</h1>
					<div class="w-100 border-top border-dark"></div>
				</div>
				<div class="w-100 mb-3">
					<h2 class="font-subheader font-weight-bold text-underline mb-2">Introduction</h2>
					<div class="font-content w-100 d-flex justify-content-center align-items-center flex-column mb-4">
						<p class="text-justify"></p>
					</div>
				</div>
				<div class="w-100 mb-3">
					<h2 class="font-subheader font-weight-bold text-underline mb-2">Social / Contact</h2>
					<div class="font-content w-100 d-flex flex-wrap mb-4">
						<div class="single-social col-4 d-flex flex-column align-items-center mb-3">
							<div class="w-100 single-logo-div d-flex justify-content-center align-items-center">
								<img src="/images/logos/discord.svg" class="single-logo">
							</div>
							<div class="horz-partition my-1"></div>
							whacky#7051
						</div>
						<div class="single-social col-4 d-flex flex-column align-items-center mb-3">
							<div class="w-100 single-logo-div d-flex justify-content-center align-items-center">
								<img src="/images/logos/gmail-logo-dark.png" class="single-logo d-inline">
							</div>
							<div class="horz-partition my-1"></div>
							whackybeanz at gmail.com
						</div>
						<div class="single-social col-4 d-flex flex-column align-items-center mb-3">
							<div class="w-100 d-flex justify-content-center align-items-center py-2">
								<img src="/images/logos/twitch-logo.svg" class="single-logo-small d-inline">
								<img src="/images/logos/twitch-text.svg" class="single-logo-small d-inline">
							</div>
							<div class="horz-partition my-1"></div>
							whackybeanz
						</div>
						<div class="single-social col-4 d-flex flex-column align-items-center mb-3">
							<a href="https://www.youtube.com/user/whackybeanz" target="_blank" class="w-100 d-flex flex-column align-items-center">
								<div class="w-100 single-logo-div d-flex justify-content-center align-items-center">
									<img src="/images/logos/youtube-logo-dark.png" class="single-logo-small d-inline">
								</div>
								<div class="horz-partition my-1"></div>
								whackybeanz
							</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<% include partials/footer %>