<% include partials/header %>
<% include partials/navbar %>

<div class="container content h-100 d-flex p-0 pt-5">
	<div class="main-content-div w-100 p-0 mt-2 position-relative">
		<div class="single-info-page w-100 d-flex align-items-center flex-column px-4 pt-4 px-lg-0 pt-lg-4">
			<div class="info-section w-100 d-flex justify-content-center align-items-center flex-column px-lg-4 pb-3">
				<div class="w-100 d-flex justify-content-center align-items-center position-relative mb-2">
					<div class="w-100 border-top border-dark"></div>
					<h1 class="font-header w-100 text-center m-0">About Me</h1>
					<div class="w-100 border-top border-dark"></div>
				</div>
			</div>
		</div>
	</div>
</div>

<% include partials/footer %>