<%- include("partials/header") %>
<%- include("partials/navbar") %>

<div class="container-fluid content d-flex flex-column flex-md-row p-0">
	<div class="col-xl-2 d-none d-xl-block p-0"></div>
	<div class="main-content-div col px-0 position-relative">
		<div class="w-100 d-flex align-items-center flex-column px-4 pt-4">
			<div class="w-100 d-flex justify-content-center align-items-center flex-column px-lg-4 pb-3">
				<div class="w-100 d-flex justify-content-center align-items-center position-relative mb-2">
					<div class="w-100 border-top border-dark"></div>
					<h1 class="font-header w-100 text-center m-0">About Me</h1>
					<div class="w-100 border-top border-dark"></div>
				</div>
				<div class="w-100 mb-3">
					<h2 class="font-subheader font-weight-bold text-underline mb-2">Introduction</h2>
					<div class="font-content w-100 d-flex justify-content-center align-items-center flex-column mb-4">
						<p class="text-justify mb-0">Hello! I'm a web developer with a lot of love for a 2D mushroom game called Maplestory. This site is built from scratch using knowledge I've picked up across the years, and will continue to be updated as and when possible. I hope you enjoy your stay here!</p>
					</div>
				</div>
				<div class="w-100 mb-3">
					<h2 class="font-subheader font-weight-bold text-underline mb-2">Social / Contact</h2>
					<div class="font-content w-100 d-flex flex-wrap mb-4">
						<div class="single-social col-6 col-md-4 col-lg-3 d-flex flex-column align-items-center mb-3 py-2">
							<div class="w-100 single-logo-div d-flex justify-content-center align-items-center">
								<div class="about-logo single-logo w-100 h-100 discord-logo"></div>
							</div>
							<div class="horz-partition my-1"></div>
							whacky#7051
						</div>
						<div class="single-social col-6 col-md-4 col-lg-3 d-flex flex-column align-items-center text-center mb-3 py-2">
							<div class="w-100 single-logo-div d-flex justify-content-center align-items-center">
								<div class="about-logo single-logo-med w-100 h-100 gmail-logo"></div>
							</div>
							<div class="horz-partition my-1"></div>
							whackybeanz (Other) /<br/>engtc1 (Work)
						</div>
						<div class="single-social col-6 col-md-4 col-lg-3 d-flex flex-column align-items-center mb-3">
							<a href="https://www.twitch.tv/whackybeanz" target="_blank" class="w-100 d-flex flex-column align-items-center text-decoration-none py-2 rounded-lg">
								<div class="w-100 single-logo-div d-flex justify-content-center align-items-center py-2">
									<img class="about-logo single-logo-small" src="./public/images/logos/twitch-logo.svg">
									<img class="about-logo single-logo-small" src="./public/images/logos/twitch-text.svg">
								</div>
								<div class="horz-partition my-1"></div>
								whackybeanz
							</a>
						</div>
						<div class="single-social col-6 col-md-4 col-lg-3 d-flex flex-column align-items-center mb-3">
							<a href="https://www.youtube.com/user/whackybeanz" target="_blank" class="w-100 d-flex flex-column align-items-center text-decoration-none py-2 rounded-lg">
								<div class="w-100 single-logo-div d-flex justify-content-center align-items-center">
									<div class="about-logo single-logo-small w-100 h-100 youtube-logo"></div>
								</div>
								<div class="horz-partition my-1"></div>
								whackybeanz
							</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<%- include("partials/footer") %>