<% include partials/header %>
<% include partials/navbar %>

<div class="container content h-100 d-flex p-0 pt-5">
	<div class="main-content-div w-100 p-0 mt-2 position-relative">
		<div class="single-info-page w-100 d-flex align-items-center flex-column px-4 pt-4 px-lg-0 pt-lg-4" id="info">
			<div class="w-100 d-flex justify-content-center align-items-center flex-column px-lg-4 pb-3">
				<div class="page-header-box w-100 d-flex justify-content-center align-items-center position-relative mb-2">
					<div class="w-100 border-top border-dark"></div>
					<h1 class="font-header w-100 text-center m-0">Maplestory Info Corner</h1>
					<div class="w-100 border-top border-dark"></div>
				</div>
				<div class="w-100 mb-3">
					<h2 class="font-subheader w-100 font-weight-bold mb-2">Resources</h2>
					<ul>
						<li><a href="/bonus-stats">Flames & Bonus Stats</a></li>
						<li><a href="/set-items">Set Effects & Lucky Items</a></li>
					</ul>
				</div>
				<div class="w-100 mb-3">
					<h2 class="font-subheader w-100 font-weight-bold mb-2">Other Resources</h2>
				</div>
				<div class="w-100 mb-3">
					<h2 class="font-subheader w-100 font-weight-bold mb-2">Quick Links</h2>
				</div>
			</div>
		</div>
	</div>
</div>

<% include partials/footer %>