<% include partials/header %>
<% include partials/navbar %>

<div class="container-fluid content">
	<% include partials/flameSidebar %>
	<div class="main-content-div">
		<% include partials/flameCalculator %>
		<% include partials/flameInfo %>
		<% include partials/flameCredits %>
	</div>
</div>

<script type="text/javascript" src="/scripts/flameScript.js"></script>
<% include partials/footer %>