<% include partials/header %>
<% include partials/navbar %>

<div class="container content h-100 d-flex p-0 pt-5">
	<div class="main-content-div w-100 p-0 mt-2 position-relative">
		<div class="single-info-page w-100 d-flex align-items-center flex-column px-4 pt-4 px-lg-0 pt-lg-4" id="info">
			<div class="w-100 d-flex justify-content-center align-items-center flex-column px-lg-4 pb-3">
				<div class="page-header-box w-100 d-flex justify-content-center align-items-center position-relative mb-2">
					<div class="w-100 border-top border-dark"></div>
					<h1 class="font-header w-100 text-center m-0">Maplestory Info Corner</h1>
					<div class="w-100 border-top border-dark"></div>
				</div>
				<div class="w-100 mb-3">
					<h2 class="font-subheader w-100 font-weight-bold mb-2">Resources</h2>
					<div class="d-flex flex-wrap">
						<div class="col-12 col-sm-6 col-lg-4 w-100 mb-2 px-2 d-flex align-items-center">
							<a href="/bonus-stats" class="page-select w-100 text-decoration-none rounded-lg">
								<div class="w-100 d-flex align-items-center">
									<div class="page-select-img-div h-100 mr-2 d-flex justify-content-center align-items-center">
										<img src="/images/flames/flame-crimson.png" class="m-2">
									</div>
									<p class="page-name m-0 mr-2">Flames & Bonus Stats</p>
								</div>
							</a>
						</div>
						<div class="col-12 col-sm-6 col-lg-4 w-100 mb-2 px-2 d-flex align-items-center">
							<a href="/set-items" class="page-select w-100 text-decoration-none rounded-lg">
								<div class="w-100 d-flex align-items-center">
									<div class="page-select-img-div h-100 mr-2 d-flex justify-content-center align-items-center">
										<img src="/images/flames/flame-crimson.png" class="m-2">
									</div>
									<p class="page-name m-0 mr-2">Set Effects & Lucky Items</p>
								</div>
							</a>
						</div>
						<div class="col-12 col-sm-6 col-lg-4 w-100 mb-2 px-2 d-flex align-items-center">
							<a href="#" class="page-select w-100 text-decoration-none rounded-lg">
								<div class="w-100 d-flex align-items-center">
									<div class="page-select-img-div h-100 mr-2 d-flex justify-content-center align-items-center">
										<img src="/images/flames/flame-crimson.png" class="m-2">
									</div>
									<p class="page-name m-0 mr-2">Star Force</p>
								</div>
							</a>
						</div>
					</div>
				</div>
				<div class="w-100 mb-3">
					<h2 class="font-subheader w-100 font-weight-bold mb-2">Other Resources</h2>
				</div>
				<div class="w-100 mb-3">
					<h2 class="font-subheader w-100 font-weight-bold mb-2">Quick Links</h2>
				</div>
			</div>
		</div>
	</div>
</div>

<% include partials/footer %>