<% include partials/header %>
<% include partials/navbar %>

<div class="container content d-flex">
	<% include partials/flameSidebar %>	
	<div class="main-content-div col-md-10 p-0 position-relative">
		<% include partials/flameCalculator %>
		<% include partials/flameInfo %>
		<% include partials/flameCredits %>
	</div>
</div>

<script type="text/javascript" src="/scripts/flameScript.js"></script>
<% include partials/footer %>