<%- include("partials/header") %>
<%- include("partials/navbar") %>

<div class="container-fluid content d-flex p-0">
	<div class="main-content-div container w-100 p-0 mt-2 position-relative">
		<div class="single-info-page w-100 d-flex align-items-center flex-column px-4 pt-4 px-lg-0 pt-lg-4" id="info">
			<div class="w-100 d-flex justify-content-center align-items-center flex-column px-lg-4 pb-3">
				<div class="w-100 d-flex justify-content-center align-items-center position-relative mb-2">
					<div class="w-100 border-top border-dark"></div>
					<h1 class="font-header w-100 text-center m-0">Maplestory Info Corner</h1>
					<div class="w-100 border-top border-dark"></div>
				</div>
				<div class="w-100 mb-3">
					<h2 class="font-subheader w-100 font-weight-bold text-underline mb-2">Resources</h2>
					<div class="d-flex flex-wrap">
						<div class="col-12 col-sm-6 col-lg-4 w-100 mb-2 px-2 d-flex align-items-center">
							<a href="/bonus-stats" class="page-select single-option-select w-100 cursor-pointer text-decoration-none rounded-lg">
								<div class="w-100 h-100 d-flex align-items-center">
									<div class="page-select-img-div inline-div-img h-100 mr-2 d-flex justify-content-center align-items-center">
										<img src="./public/images/flames/flame-crimson.png" class="m-2">
									</div>
									<p class="page-name m-0 mr-2">Flames & Bonus Stats</p>
								</div>
							</a>
						</div>
						<div class="col-12 col-sm-6 col-lg-4 w-100 mb-2 px-2 d-flex align-items-center">
							<a href="/set-items" class="page-select single-option-select w-100 cursor-pointer text-decoration-none rounded-lg">
								<div class="w-100 h-100 d-flex align-items-center">
									<div class="page-select-img-div inline-div-img h-100 mr-2 d-flex justify-content-center align-items-center">
										<img src="./public/images/equips/hat/chaos-bellum.png" class="m-2">
									</div>
									<p class="page-name m-0 mr-2">Set Effects & Lucky Items</p>
								</div>
							</a>
						</div>
						<div class="col-12 col-sm-6 col-lg-4 w-100 mb-2 px-2 d-flex align-items-center">
							<a href="#" class="page-select single-option-select w-100 cursor-pointer text-decoration-none rounded-lg">
								<div class="w-100 h-100 d-flex align-items-center">
									<div class="page-select-img-div inline-div-img h-100 mr-2 d-flex justify-content-center align-items-center">
										<img src="./public/images/items/star-chair.png" class="m-2">
									</div>
									<p class="page-name m-0 mr-2">Star Force</p>
								</div>
							</a>
						</div>
					</div>
				</div>
				<div class="w-100 mb-3">
					<h2 class="font-subheader w-100 font-weight-bold text-underline mb-2">Other Resources</h2>
					<div class="d-flex flex-wrap">
						<div class="col-12 col-sm-6 col-lg-4 w-100 mb-2 px-2 d-flex align-items-center">
							<a href="https://strategywiki.org/wiki/MapleStory" class="page-select single-option-select w-100 cursor-pointer text-decoration-none rounded-lg" target="_blank">
								<div class="w-100 h-100 d-flex align-items-center">
									<div class="page-select-img-div inline-div-img h-100 mr-2 d-flex justify-content-center align-items-center">
										<img src="./public/images/items/leaf-book.png" class="m-2">
									</div>
									<p class="page-name m-0 mr-2">StrategyWiki</p>
								</div>
							</a>
						</div>
						<div class="col-12 col-sm-6 col-lg-4 w-100 mb-2 px-2 d-flex align-items-center">
							<a href="https://maplestory.fandom.com/wiki/MapleStory" class="page-select single-option-select w-100 cursor-pointer text-decoration-none rounded-lg" target="_blank">
								<div class="w-100 h-100 d-flex align-items-center">
									<div class="page-select-img-div inline-div-img h-100 mr-2 d-flex justify-content-center align-items-center">
										<img src="./public/images/items/leaf-book.png" class="m-2">
									</div>
									<p class="page-name m-0 mr-2">MapleWiki</p>
								</div>
							</a>
						</div>
						<div class="col-12 col-sm-6 col-lg-4 w-100 mb-2 px-2 d-flex align-items-center">
							<a href="https://dexless.com/" class="page-select single-option-select w-100 cursor-pointer text-decoration-none rounded-lg" target="_blank">
								<div class="w-100 h-100 d-flex align-items-center">
									<div class="page-select-img-div inline-div-img h-100 mr-2 d-flex justify-content-center align-items-center">
										<img src="./public/images/items/leaf-book.png" class="m-2">
									</div>
									<p class="page-name m-0 mr-2">Dexless.com</p>
								</div>
							</a>
						</div>
						<div class="col-12 col-sm-6 col-lg-4 w-100 mb-2 px-2 d-flex align-items-center">
							<a href="https://www.reddit.com/r/Maplestory/" class="page-select single-option-select w-100 cursor-pointer text-decoration-none rounded-lg" target="_blank">
								<div class="w-100 h-100 d-flex align-items-center">
									<div class="page-select-img-div inline-div-img h-100 mr-2 d-flex justify-content-center align-items-center">
										<img src="./public/images/items/leaf-book.png" class="m-2">
									</div>
									<p class="page-name m-0 mr-2">Maplestory Reddit</p>
								</div>
							</a>
						</div>
						<div class="col-12 col-sm-6 col-lg-4 w-100 mb-2 px-2 d-flex align-items-center">
							<a href="http://m.inven.co.kr/maple/" class="page-select single-option-select w-100 cursor-pointer text-decoration-none rounded-lg" target="_blank">
								<div class="w-100 h-100 d-flex align-items-center">
									<div class="page-select-img-div inline-div-img h-100 mr-2 d-flex justify-content-center align-items-center">
										<img src="./public/images/items/leaf-book.png" class="m-2">
									</div>
									<p class="page-name m-0 mr-2">Maplestory Inven (Korean)</p>
								</div>
							</a>
						</div>
						<div class="col-12 col-sm-6 col-lg-4 w-100 mb-2 px-2 d-flex align-items-center">
							<a href="https://namu.wiki/w/%EB%B6%84%EB%A5%98:%EB%A9%94%EC%9D%B4%ED%94%8C%EC%8A%A4%ED%86%A0%EB%A6%AC" class="page-select single-option-select w-100 cursor-pointer text-decoration-none rounded-lg" target="_blank">
								<div class="w-100 h-100 d-flex align-items-center">
									<div class="page-select-img-div inline-div-img h-100 mr-2 d-flex justify-content-center align-items-center">
										<img src="./public/images/items/leaf-book.png" class="m-2">
									</div>
									<p class="page-name m-0 mr-2">Namu Wiki (Korean)</p>
								</div>
							</a>
						</div>
					</div>
				</div>	
				<div class="w-100 mb-3">
					<h2 class="font-subheader w-100 font-weight-bold text-underline mb-2">Maplestory Quicklinks</h2>
					<div class="d-flex flex-wrap">
						<div class="col-12 col-sm-6 col-lg-4 w-100 mb-2 px-2 d-flex align-items-center">
							<a href="https://maplestory.nexon.com/" class="page-select single-option-select w-100 cursor-pointer text-decoration-none rounded-lg" target="_blank">
								<div class="w-100 h-100 d-flex align-items-center">
									<div class="w-100 h-100 d-flex justify-content-start align-items-center">
										<img src="./public/images/logos/kms.png" class="maple-logos inline-div-img w-100 h-100 px-3 pt-1">
										<p class="mb-0 px-2">Maplestory Korea (KMS)</p>
									</div>
								</div>
							</a>
						</div>
						<div class="col-12 col-sm-6 col-lg-4 w-100 mb-2 px-2 d-flex align-items-center">
							<a href="https://maplestory.nexon.com/Testworld/Main" class="page-select single-option-select w-100 cursor-pointer text-decoration-none rounded-lg" target="_blank">
								<div class="w-100 h-100 d-flex align-items-center">
									<div class="w-100 h-100 d-flex justify-content-start align-items-center">
										<img src="./public/images/logos/kms.png" class="maple-logos inline-div-img w-100 h-100 px-3 pt-1">
										<p class="mb-0 px-2">Maplestory Korea Test Server (KMST)</p>
									</div>
								</div>
							</a>
						</div>
						<div class="col-12 col-sm-6 col-lg-4 w-100 mb-2 px-2 d-flex align-items-center">
							<a href="https://maplestory.nexon.co.jp/" class="page-select single-option-select w-100 cursor-pointer text-decoration-none rounded-lg" target="_blank">
								<div class="w-100 h-100 d-flex align-items-center">
									<div class="w-100 h-100 d-flex justify-content-start align-items-center">
										<img src="./public/images/logos/jms.png" class="maple-logos inline-div-img w-100 h-100 px-3 py-1">
										<p class="mb-0 px-2">Maplestory Japan (JMS)</p>
									</div>
								</div>
							</a>
						</div>
						<div class="col-12 col-sm-6 col-lg-4 w-100 mb-2 px-2 d-flex align-items-center">
							<a href="https://tw.beanfun.com/maplestory/main.aspx" class="page-select single-option-select w-100 cursor-pointer text-decoration-none rounded-lg" target="_blank">
								<div class="w-100 h-100 d-flex align-items-center">
									<div class="w-100 h-100 d-flex justify-content-start align-items-center">
										<img src="./public/images/logos/tms.png" class="maple-logos inline-div-img w-100 h-100 px-3">
										<p class="mb-0 px-2">Maplestory Taiwan (TMS)</p>
									</div>
								</div>
							</a>
						</div>
						<div class="col-12 col-sm-6 col-lg-4 w-100 mb-2 px-2 d-flex align-items-center">
							<a href="http://mxd.sdo.com/" class="page-select single-option-select w-100 cursor-pointer text-decoration-none rounded-lg" target="_blank">
								<div class="w-100 h-100 d-flex align-items-center">
									<div class="w-100 h-100 d-flex justify-content-start align-items-center">
										<img src="./public/images/logos/cms.png" class="maple-logos inline-div-img w-100 h-100 px-3 py-1">
										<p class="mb-0 px-2">Maplestory China (CMS)</p>
									</div>
								</div>
							</a>
						</div>
						<div class="col-12 col-sm-6 col-lg-4 w-100 mb-2 px-2 d-flex align-items-center">
							<a href="http://maplestory.nexon.net/" class="page-select single-option-select w-100 cursor-pointer text-decoration-none rounded-lg" target="_blank">
								<div class="w-100 h-100 d-flex align-items-center">
									<div class="w-100 h-100 d-flex justify-content-start align-items-center">
										<img src="./public/images/logos/gms.png" class="maple-logos inline-div-img w-100 h-100 px-3 py-1">
										<p class="mb-0 px-2">Maplestory Global (GMS)</p>
									</div>
								</div>
							</a>
						</div>
						<div class="col-12 col-sm-6 col-lg-4 w-100 mb-2 px-2 d-flex align-items-center">
							<a href="http://www.maplesea.com/" class="page-select single-option-select w-100 cursor-pointer text-decoration-none rounded-lg" target="_blank">
								<div class="w-100 h-100 d-flex align-items-center">
									<div class="w-100 h-100 d-flex justify-content-start align-items-center">
										<img src="./public/images/logos/msea.png" class="maple-logos inline-div-img w-100 h-100 px-3 py-1">
										<p class="mb-0 px-2">Maplestory SEA (MSEA)</p>
									</div>
								</div>
							</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<%- include("partials/footer") %>