<%- include("partials/header") %>
<%- include("partials/navbar") %>

<div class="container-fluid content d-flex flex-column flex-md-row justify-content-center p-0">
	<div class="main-content-div col px-0 position-relative">
		<div class="w-100 d-flex align-items-center flex-column px-4 pt-4">
			<div class="w-100 d-flex justify-content-center align-items-center flex-column px-lg-4 pb-3">
				<div class="w-100 d-flex justify-content-center align-items-center position-relative mb-2">
					<div class="w-100 border-top border-dark"></div>
					<h1 class="font-header w-100 text-center m-0">Site Plans</h1>
					<div class="w-100 border-top border-dark"></div>
				</div>
				<div class="w-100 mb-3 text-center font-italic">
					Last updated on: 20 May 2020
				</div>
				<div class="w-100 mb-3">
					<div class="index-section-subheader">
						<h2 class="font-subheader index-collapse cursor-pointer mb-0 px-3 py-2 collapsed" data-toggle="collapse" href="#plans">
							<i class="fas fa-caret-down"></i> Possible Additions
						</h2>
					</div>
					<div class="index-section px-3 py-2 collapse" id="plans">
						<p class="text-justify">Just random ideas and thoughts I'd like to possibly get to in future for this site. It's not in any particular order, but I've tried to group them where possible. Pardon the mess.</p>

						<div class="font-content w-100 d-flex justify-content-center align-items-center flex-column mb-4">
							<h3 class="w-100 font-subsubheader font-weight-bold font-italic mb-0">The Farmer's Life</h3>
							<p class="w-100 mb-0">Of course everyone wants to know where to train, and of course there are many such resources out there. Why not do one more?</p>
							<ul class="w-100">
								<li>EXP Stacking Guide</li>
								<ul>
									<li>Since it's such a common question on what stacks with what, why not show players how to easily maximize while also displaying the full set of options?</li>
								</ul>
								<li>Recommended Training Grounds</li>
								<ul>
									<li>Probably super unnecessary so I should just link to the plethora of guides out there</li>
								</ul>
							</ul>
						</div>

						<div class="font-content w-100 d-flex justify-content-center align-items-center flex-column mb-4">
							<h3 class="w-100 font-subsubheader font-weight-bold font-italic mb-0">What class should I play?</h3>
							<p class="w-100 mb-0">Do I really need to do a section on this? Maybe I do.</p>
							<ul class="w-100">
								<li>A thumbnail library linking to respective job showcases? Maybe that could be useful</li>
							</ul>
						</div>

						<div class="font-content w-100 d-flex justify-content-center align-items-center flex-column mb-4">
							<h3 class="w-100 font-subsubheader font-weight-bold font-italic mb-0">Getting Stronger</h3>
							<p class="w-100 mb-0">Pretty much an extension of the guide I wrote before so that the content doesn't go to waste. Aside from actually introducing the necessary systems...</p>
							<ul class="w-100">
								<li>Pre-5th Job</li>
								<ul>
									<li>Maybe link to IA guides or do an easy reference chart?</li>
								</ul>
								<li>5th Job</li>
								<ul>
									<li>Maybe link to trio core guides or also another easy reference chart</li>
								</ul>
								<li>Multi-Character</li>
								<ul>
									<li>Link Skills</li>
									<ul>
										<li>A full list of link skills?</li>
										<li>Priority list of links to have?</li>
									</ul>
									<li>Maple Union</li>
									<ul>
										<li>A list of union stats for each attacker when active on union board?</li>
										<li>Priority list for union characters?</li>
										<li>A tetris board that automatically fills in a union set up based on player input? I'm sure someone's done this out there somewhere...</li>
									</ul>
								</ul>
							</ul>
						</div>

						<div class="font-content w-100 d-flex justify-content-center align-items-center flex-column mb-4">
							<h3 class="w-100 font-subsubheader font-weight-bold font-italic mb-0">Equipment Guide</h3>
							<p class="w-100 mb-0">There's supposed to also be a Summary page that does a tl;dr of all the systems, but also has some extra things to actually make it worth reading. Didn't have time before release though and still figuring how to value-add it if possible.</p>
							<ul class="w-100">
								<li>Summary</li>
								<ul>
									<li>Possibly talk about the priority of strengthening an item -- what should be done first, and why?</li>
									<li>Also can debunk the misunderstanding of needing to properly trace before starring as that will "affect the final WA/MA values" since that issue has been fixed for ages</li>
								</ul>
								<li>Spell Trace & Star Force</li>
								<ul>
									<li>Calculator</li>
									<ul>
										<li>A calculator that calculates the total stats you receive for a X % stat scrolls used, as well as X stars</li>
										<li>Probably create a reverse calculator if possible so players can just input values and the calculator will inform players on distribution of stats from SF and traces -- I'm sure this has been done before somewhere...</li>
										<li>Maybe provide options for ICSOGs and Black Scrolls too?</li>
										<li>Would solve the "Is my item perfectly traced" question along with a few others but holy crap is this tedious to implement</li>
									</ul>
								</ul>
								<li>Potentials</li>
								<ul>
									<li>Potential List</li>
									<ul>
										<li>A beautified version of what StrategyWiki has for easy reference</li>
									</ul>
								</ul>
							</ul>
						</div>

						<div class="font-content w-100 d-flex justify-content-center align-items-center flex-column mb-4">
							<h3 class="w-100 font-subsubheader font-weight-bold font-italic mb-0">Mesos Plz</h3>
							<p class="w-100 mb-0">Well I'm not a guru in making mesos but players probably need a guide on some of the systems in game currently since FM is gone.</p>
							<ul class="w-100">
								<li>Trading / Auction House</li>
								<ul>
									<li>Not sure about this, but would be weird to not include if I'm also covering meso market</li>
								</ul>
								<li>Meso Market</li>
								<ul>
									<li>Guide on how to read the Meso Market UI and understanding it</li>
								</ul>
								<li>How to make more mesos?</li>
								<ul>
									<li>...Probably not something I want to venture into in-depth since there's already so many guides out there about it anyway</li>
									<li>Maybe a boss crystal list or something?</li>
								</ul>
							</ul>
						</div>

						<div class="font-content w-100 d-flex justify-content-center align-items-center flex-column mb-4">
							<h3 class="w-100 font-subsubheader font-weight-bold font-italic mb-0">Cash Shop stuff</h3>
							<p class="w-100 mb-0">Penning this down in case I forget.</p>
							<ul class="w-100">
								<li>Maple Royal Style / Masterpiece Machine</li>
								<ul>
									<li>Guide on what it is, how it works, etc.</li>
									<li>Maybe a list of all styles released to date sorted by KMS vs MSEA?</li>
								</ul>
								<li>Wonderberry / Luna Crystal</li>
								<ul>
									<li>Guide on what it is, how it works, etc.</li>
									<li>Maybe a list of all pet sets released to date sorted by KMS vs MSEA?</li>
								</ul>
							</ul>
						</div>

						<div class="font-content w-100 d-flex justify-content-center align-items-center flex-column mb-4">
							<h3 class="w-100 font-subsubheader font-weight-bold font-italic mb-0">Others</h3>
							<p class="w-100 mb-0">Just other random stuff.</p>
							<ul class="w-100">
								<li>The story so far...</li>
								<ul>
									<li>Maybe a full story of the Black Mage from rise to fall split into chapters?</li>
									<li>An ongoing story about Gerand Darmoor and his background?</li>
								</ul>
								<li>Dailies</li>
								<ul>
									<li>List of dailies? - Frankly, probably not something worth doing since it's already done.</li>
									<li>Dailies tracker? Resets at midnight or something to easily keep track of what's done etc.</li>
								</ul>
								<li>Events</li>
								<ul>
									<li>Event coin shop planners?</li>
									<li>Coverage of some other events that go beyond "do this, do that" and have some planning involved (e.g. Tactical Relay) if there's any</li>
								</ul>
							</ul>
						</div>
					</div>
				</div>
				<div class="w-100 mb-3">
					<h2 class="font-subheader font-weight-bold text-underline mb-2">Update History</h2>
					
				</div>
			</div>
		</div>
	</div>
</div>

<%- include("partials/footer") %>