<% include partials/header %>
<% include partials/navbar %>

<div class="container content h-100 d-flex p-0 pt-5">
	<% include partials/set-items/setItemSidebar %>	
	<div class="main-content-div col-md-10 p-0 mt-2 position-relative">
		<% include partials/set-items/setItemCalculator %>
		<% include partials/set-items/setItemInfo %>
		<% include partials/set-items/setItemCredits %>
	</div>
</div>

<script type="text/javascript" src="/scripts/commonScript.js"></script>
<% include partials/footer %>