<% include partials/header %>
<% include partials/navbar %>

<div class="container content h-100 d-flex p-0 pt-5">
	<div class="main-content-div single-info-page d-flex justify-content-center align-items-center w-100 p-0 mt-2 position-relative">
		<div class="crossword-board border border-dark ">
			
		</div>
	</div>
</div>

<script type="text/javascript" src="/scripts/xwordScript.js"></script>
<% include partials/footer %>