<% include partials/header %>
<% include partials/navbar %>

<div class="container content h-100 d-flex p-0 pt-5">
	<div class="main-content-div single-info-page d-flex justify-content-start align-items-center flex-column w-100 p-0 mt-2 position-relative">
		<h1 class="font-header w-100 text-center m-0 my-2">Solo Task 6</h1>
		<div class="w-100 d-flex">
			<div class="crossword-board border border-dark"></div>
			<div class="crossword-clues px-3">
				<div class="mb-3">
					<p class="font-weight-bold mb-1">Across:</p>
					<p class="clue x-clue-7 mb-1">asd</p>
					<p class="clue x-clue-12 mb-1">asd</p>
				</div>

				<div class="mb-3">
					<p class="font-weight-bold mb-1">Down:</p>
					<p class="clue y-clue-1 mb-1">asd</p>
					<p class="clue y-clue-3 mb-1">asd</p>
					<p class="clue y-clue-19 mb-1">asd</p>
				</div>
			</div>
		</div>
	</div>
</div>

<script type="text/javascript" src="/scripts/xwordScript.js"></script>
<% include partials/footer %>