<% include partials/header %>
<% include partials/navbar %>

<div class="container content h-100 d-flex p-0 pt-5">
	<div class="main-content-div w-100 p-0 mt-2 position-relative">
		<div class="single-info-page w-100 d-flex justify-content-start align-items-center flex-column px-4 pt-4 px-lg-0 pt-lg-4">
			<h1 class="font-header w-100 text-center m-0 mb-2">Solo Task 6</h1>
			<div class="w-100 d-flex flex-column align-items-center flex-lg-row align-items-lg-start">
				<div class="crossword-board mb-3"></div>
				<div class="font-form crossword-clues px-3">
					<div class="mb-3">
						<p class="font-weight-bold mb-1">Across:</p>
						<p class="clue x-clue-1 mb-2 px-2">1. The rock giant</p>
						<p class="clue x-clue-2 mb-2 px-2">2. A place lost in time</p>
						<p class="clue x-clue-3 mb-2 px-2">3. "You who walk in the steps of regret… the end will leave only regrets..."</p>
						<p class="clue x-clue-6 mb-2 px-2">6. Once a friend, now a foe; originally part of a trio of friends</p>
						<p class="clue x-clue-9 mb-2 px-2">9. Perion in <span class="text-underline">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span></p>
						<p class="clue x-clue-10 mb-2 px-2">10. Number of types of runes currently in game</p>
						<p class="clue x-clue-12 mb-2 px-2">12. Rune of <span class="text-underline">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span> <img src="/images/event/6-12.png" style="height: 65px;"></p>
						<p class="clue x-clue-15 mb-2 px-2">15. The Queen in pursuit of eternal youth</p>
						<p class="clue x-clue-17 mb-2 px-2">17. Who is this? <img src="/images/event/6-17.png"></p>
						<p class="clue x-clue-19 mb-2 px-2">19. "Cough, cough..."</p>
					</div>

					<div class="mb-3">
						<p class="font-weight-bold mb-1">Down:</p>
						<p class="clue y-clue-4 mb-2 px-2">4. An undead creature you come across before finding Moira</p>
						<p class="clue y-clue-5 mb-2 px-2">5. A hidden altar belonging to the Black Mage resides here</p>
						<p class="clue y-clue-7 mb-2 px-2">7. The direct way to get between Herb Town and Aquarium is through me!</p>
						<p class="clue y-clue-8 mb-2 px-2">8. Town that has the "Sleeping Beauty's Sea"</p>
						<p class="clue y-clue-11 mb-2 px-2">11. A gigantic creature who ate an equally gigantic sandwich</p>
						<p class="clue y-clue-13 mb-2 px-2">13. The village where everyone is named after different types of cheese</p>
						<p class="clue y-clue-14 mb-2 px-2">14. Before taking over as Transcendent (and hence Aiona), Tana wielded the power of <span class="text-underline">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span></p>
						<p class="clue y-clue-16 mb-2 px-2">16. Which town has this town icon? <img src="/images/event/6-16.png"></p>
						<p class="clue y-clue-18 mb-2 px-2">18. Who is this? <img src="/images/event/6-18.png"></p>
						<p class="clue y-clue-20 mb-2 px-2">20. What monster is this? <img src="/images/event/6-20.png"></p>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<script type="text/javascript" src="/scripts/xwordScript.js"></script>
<% include partials/footer %>