<nav class="sidebar sidebar-right font-sidebar col-xl-2 d-none d-xl-block position-sticky px-3 pt-4">
    <div class="mb-3">
        <h1 class="font-weight-bold">Star Force</h1>
        <ul class="mb-2 pl-xl-2">
            <!--<div class="mb-4">
                <h2 class="list-style-type-none mb-1">
                    <a class="sidebar-btn d-block py-1 text-decoration-none" href="./maple/calc/set-effects" target="_blank">&#8627; Calculator <sup><i class="fas fa-external-link-alt"></i></sup></a>
                </h2>
            </div>-->

            <div class="mb-4">
                <h2 class="list-style-type-none mb-1">
                    <a class="sidebar-btn d-block py-1 text-decoration-none" href="#info">&#8627; About Star Force</a>
                </h2>
                <ul class="pl-3">
                    <li class="list-style-type-none mb-0">
                        <a href="#info-intro" class="sidebar-btn d-block py-1 text-decoration-none">&#8627; Introduction</a>
                    </li>
                    <li class="list-style-type-none mb-0">
                        <a href="#info-process" class="sidebar-btn d-block py-1 text-decoration-none">&#8627; The Star Force Process</a>
                    </li>
                    <li class="list-style-type-none mb-0">
                        <a href="#info-superior-items" class="sidebar-btn d-block py-1 text-decoration-none">&#8627; Superior Items</a>
                    </li>
                    <li class="list-style-type-none mb-0">
                        <a href="#info-sf-scrolls" class="sidebar-btn d-block py-1 text-decoration-none">&#8627; Star Force Scrolls</a>
                    </li>
                    <li class="list-style-type-none mb-0">
                        <a href="#info-progression" class="sidebar-btn d-block py-1 text-decoration-none">&#8627; Star Force Progression</a>
                    </li>
                </ul>
            </div>

            <div class="mb-4">
                <h2 class="list-style-type-none mb-1">
                    <a class="sidebar-btn d-block py-1 text-decoration-none" href="#credits">&#8627; Credits</a>
                </h2>
                <ul class="pl-3">
                    <li class="list-style-type-none mb-0">
                        <a href="#credits-ack" class="sidebar-btn d-block py-1 text-decoration-none">&#8627; Acknowledgements</a>
                    </li>
                    <li class="list-style-type-none mb-0">
                        <a href="#credits-contact" class="sidebar-btn d-block py-1 text-decoration-none">&#8627; Contact</a>
                    </li>
                </ul>
            </div>
        </ul>
    </div>
</nav>