<div class="w-100 d-flex align-items-center flex-column px-4 pt-4" id="credits">
	<div class="w-100 d-flex justify-content-center align-items-center flex-column px-lg-4 pb-3">
		<div class="w-100 d-flex justify-content-center align-items-center position-relative mb-2">
			<div class="w-100 border-top border-dark"></div>
			<h1 class="font-header w-100 text-center m-0">Credits</h1>
			<div class="w-100 border-top border-dark"></div>
		</div>
		<div class="w-100 mb-3">
			<h2 class="font-subheader font-weight-bold text-underline mb-2" id="credits-ack">Acknowledgements</h2>
			<div class="font-content w-100 mb-4">
				<p class="text-justify">Credits go to Nexon and Maplestory for images seen on this page. Thanks also to LukeAwesum on the <a href="https://discord.gg/NNpqZsZ" target="_blank">MapleSEA Discord</a> for helping refine recommended per-equip star force values to be more newbie-friendly!</p>
			</div>
		</div>
		<div class="w-100 mb-3">
			<h2 class="font-subheader font-weight-bold text-underline mb-2" id="credits-contact">Contact</h2>
			<div class="font-content w-100">
				<p class="text-justify">If you spot any errors, please contact whacky#7051 on Discord with the list of corrections to make. Thank you!</p>
			</div>
		</div>
	</div>
</div>