<div class="font-content w-100 d-flex justify-content-center align-items-center flex-column mb-4">
    <div class="collapsible-section-subheader w-100">
        <h3 class="font-subheader index-collapse d-flex align-items-center cursor-pointer mb-0 px-3 py-2" data-toggle="collapse" href="#coin-shop-items">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-caret-down-fill" viewBox="0 0 16 16">
              <path d="M7.247 11.14 2.451 5.658C1.885 5.013 2.345 4 3.204 4h9.592a1 1 0 0 1 .753 1.659l-4.796 5.48a1 1 0 0 1-1.506 0z"/>
            </svg>&nbsp;Coin Shop Items
        </h3>
    </div>
    <div class="collapsible-section w-100 px-0 collapse show" id="coin-shop-items">
        <div class="w-100 d-flex flex-column align-items-center justify-content-center px-3 pb-3 pt-3">
            <%- include("./addUpdateCoinShopItemForm") %>
        </div>
    </div>
</div>