<nav class="sidebar sidebar-right font-sidebar col-xl-2 d-none d-xl-block position-sticky px-3 pt-4">
    <div class="mb-3">
        <h1 class="font-weight-bold">Potentials / Cubes</h1>
        <ul class="mb-2 pl-xl-2">
            <div class="mb-4">
                <h2 class="list-style-type-none mb-1">
                    <a class="sidebar-btn d-block py-1 text-decoration-none" href="/info/potential-list">&#8627; List of Potentials</a>
                </h2>
            </div>

            <div class="mb-4">
                <h2 class="list-style-type-none mb-1">
                    <a class="sidebar-btn d-block py-1 text-decoration-none" href="#info">&#8627; About Potentials</a>
                </h2>
                <ul class="pl-3">
                    <li class="list-style-type-none mb-0">
                        <a href="#info-intro" class="sidebar-btn d-block py-1 text-decoration-none">&#8627; Introduction</a>
                    </li>
                    <li class="list-style-type-none mb-0">
                        <a href="#info-pot-scrolls" class="sidebar-btn d-block py-1 text-decoration-none">&#8627; Potential Scrolls</a>
                    </li>
                    <li class="list-style-type-none mb-0">
                        <a href="#info-stamps" class="sidebar-btn d-block py-1 text-decoration-none">&#8627; Potential Stamps</a>
                    </li>
                    <li class="list-style-type-none mb-0">
                        <a href="#info-cubes" class="sidebar-btn d-block py-1 text-decoration-none">&#8627; Cubes</a>
                    </li>
                    <li class="list-style-type-none mb-0">
                        <a href="#info-progression" class="sidebar-btn d-block py-1 text-decoration-none">&#8627; Cubing Progression</a>
                    </li>
                </ul>
            </div>

            <div class="mb-4">
                <h2 class="list-style-type-none mb-1">
                    <a class="sidebar-btn d-block py-1 text-decoration-none" href="#credits">&#8627; Credits</a>
                </h2>
                <ul class="pl-3">
                    <li class="list-style-type-none mb-0">
                        <a href="#credits-ack" class="sidebar-btn d-block py-1 text-decoration-none">&#8627; Acknowledgements</a>
                    </li>
                    <li class="list-style-type-none mb-0">
                        <a href="#credits-contact" class="sidebar-btn d-block py-1 text-decoration-none">&#8627; Contact</a>
                    </li>
                </ul>
            </div>
        </ul>
    </div>
    
    <!-- Vertical -->
    <ins class="adsbygoogle vert-ad"
         data-ad-client="ca-pub-9569715514342803"
         data-ad-slot="1330274136"
         data-ad-format="auto"
         data-full-width-responsive="true"></ins>
    <script>
        window.onload = function() {
         (adsbygoogle = window.adsbygoogle || []).push({});
        }
    </script>
</nav>