/****************

	GENERAL

*****************/
.size-350 {
	max-width: 350px;
}

.size-720 {
	max-width: 720px;
}

.single-info-page {
	background-color: rgba(255, 255, 255, 0.8);
}

@media (min-width: 768px) {
	.main-content-div {
		overflow: auto;
	}

	.single-info-page {
		min-height: 100%;
		display: none;
		position: absolute;
		top: 0;
	}
}

.single-info-page.active {
	display: flex;
}

.info-section {
	max-width: 840px;
}

/****************

	Custom radio buttons

*****************/
.radio-select {
	height: 32px;
	border: 1px solid rgba(206, 212, 218, 1.0);
	border-left: none;
	cursor: pointer;
	transition: all 0.3s;
	line-height: 1.25;
}

.radio-select:hover,
.radio-select.active {
	background-color: rgba(0, 0, 0, 0.075);
	color: rgba(0, 0, 0, 0.8);
	font-weight: bold;
	transition: all 0.3s;
}

.leftmost-radio {
	border-top-left-radius: 5px;
	border-bottom-left-radius: 5px;
	border-left: 1px solid rgba(206, 212, 218, 1.0);
}

.rightmost-radio {
	border-top-right-radius: 5px;
	border-bottom-right-radius: 5px;
}

/****************

	Tables
	
*****************/
.table-cols-header {
	min-width: 75px;
	max-width: 150px;
}

.table-cols-50 {
	min-width: 50px;
}

.table-cols-125 {
	min-width: 125px;
	max-width: 300px;
}

.table-item-img,
.table-user-controls {
	width: 50px;
	height: 50px;
}

/****************

	Images
	
*****************/
.item-img-div {
	min-width: 50px;
	max-width: 50px;
}

.item-img {
	cursor: help;
}

.item-img-inline {
	cursor: help;
	height: 25px;
}

.border-img {
	border-radius: 5px;
	border: 1px solid black;
}

.small-img {
	height: 24px;
}

.standard-img-size {
	width: 30px;
	height: 30px;
	object-fit: scale-down;
}

/****************

	User Input Rows
	
*****************/
.set-item-modal-dialog {
	max-width: 720px;
}

.single-job-choice {
	opacity: 0.3;
	cursor: pointer;
	border: 1px solid rgba(206, 212, 218, 1.0);
}

.single-job-choice:hover,
.single-job-choice.active {
	opacity: 1.0;
	background-color: rgba(0, 0, 0, 0.075);
	color: rgba(0, 0, 0, 0.8);
	font-weight: bold;
	transition: all 0.3s;
}

.single-job-choice a {
	color: rgba(0, 0, 0, 0.8);
}

.single-job-choice:hover a {
	text-decoration: none;
}

.item-category {
	top: 2px;
	right: 5px;
	background-color: rgba(255, 255, 255, 0.7);
}

.icons {
	font-size: 1rem;
}

#equip-tab-div {
	width: 214px;
}

#equip-grid {
	display: grid;
	grid-template-areas:
		"ring1 	. 		 hat 	. 		 emblem"
		"ring2 	pendant1 face 	. 		 badge"
		"ring3 	pendant2 eye 	earring  medal"
		"ring4 	weapon 	 top 	shoulder secondary"
		"pocket belt 	 bottom gloves 	 cape"
		". 		. 		 shoes 	android  heart";
	top: 0;
	grid-gap: 4px;
	padding: 6px;
}

.equip-slot {
	border-radius: 4px;
	cursor: pointer;
	background-position: center;
	background-repeat: no-repeat;
}

.equip-slot:hover {
	background-color: rgba(213, 93, 77, 0.5);
}

#ring-1-slot { grid-area: ring1; }
#ring-2-slot { grid-area: ring2; }
#ring-3-slot { grid-area: ring3; }
#ring-4-slot { grid-area: ring4; }
#pocket-slot { grid-area: pocket; }
#pendant-1-slot { grid-area: pendant1; }
#pendant-2-slot { grid-area: pendant2; }
#weapon-slot { grid-area: weapon; }
#belt-slot { grid-area: belt; }
#hat-slot { grid-area: hat; }
#face-slot { grid-area: face; }
#eye-slot { grid-area: eye; }
#top-slot { grid-area: top; }
#bottom-slot { grid-area: bottom; }
#shoe-slot { grid-area: shoes; }
#earring-slot { grid-area: earring; }
#shoulder-slot { grid-area: shoulder; }
#gloves-slot { grid-area: gloves; }
#android-slot { grid-area: android; }
#emblem-slot { grid-area: emblem; }
#badge-slot { grid-area: badge; }
#medal-slot { grid-area: medal; }
#secondary-slot { grid-area: secondary; }
#cape-slot { grid-area: cape; }
#heart-slot { grid-area: heart; }

.carousel-inner {
	min-height: 300px;
	max-height: 300px;
	overflow-y: auto;
}

.carousel.carousel-fade .carousel-item {
	min-height: 300px;
    display: block;
    opacity: 0;
    transition: opacity ease-out .7s;
}

.carousel.carousel-fade .carousel-item.active {
    opacity: 1 !important;
}

.carousel-caption {
	position: initial;
	right: initial;
	bottom: initial;
	left: initial;
	color: rgba(0, 0, 0, 0.8);
}

.carousel-control {
	height: 35px;
	position: relative;
}

.carousel-control-prev,
.carousel-control-next {
	height: 100%;
	width: initial;
	top: initial;
	color: rgba(0, 0, 0, 0.8);
}

.carousel-control-prev > i,
.carousel-control-next > i {
	height: 18px;
}

.carousel-control-prev:hover, .carousel-control-prev:focus,
.carousel-control-next:hover, .carousel-control-next:focus {
	color: initial;
}

.single-equip-choice {
	height: 50px;
	cursor: pointer;
	border: 1px solid rgba(206, 212, 218, 1.0);
	transition: background-color 0.3s;
}

.single-equip-choice:hover,
.single-equip-choice.active {
	background-color: rgba(0, 0, 0, 0.075);
	color: rgba(0, 0, 0, 0.8);
	font-weight: bold;
	transition: background-color 0.3s;
}

.equip-choice-img-div {
	min-width: 50px;
	max-width: 50px;
	border-right: 1px solid rgba(206, 212, 218, 1.0);
}

.set-item-effect-div > div {
	border: 1px solid rgba(206, 212, 218, 1.0);
}

.set-item-effect-div .set-items .set-effect,
.set-item-effect-div .num-wearing-div .set-effect {
	opacity: 0.3;
}

.set-item-effect-div .set-items .set-effect.active,
.set-item-effect-div .num-wearing-div .set-effect.active {
	opacity: 1.0;
	font-weight: bold;
}