/****************

	GENERAL

*****************/
.size-350 {
	max-width: 350px;
}

.size-720 {
	max-width: 720px;
}

.single-info-page {
	background-color: rgba(255, 255, 255, 0.8);
}

@media (min-width: 768px) {
	.main-content-div {
		overflow: auto;
	}

	.single-info-page {
		min-height: 100%;
		display: none;
		position: absolute;
		top: 0;
	}
}

.single-info-page.active {
	display: flex;
}

.info-section {
	max-width: 840px;
}

/****************

	Custom radio buttons

*****************/
.radio-select {
	height: 32px;
	border: 1px solid rgba(206, 212, 218, 1.0);
	border-left: none;
	cursor: pointer;
	transition: all 0.3s;
	line-height: 1.25;
}

.radio-select:hover,
.radio-select.active {
	background-color: rgba(0, 0, 0, 0.075);
	color: rgba(0, 0, 0, 0.8);
	font-weight: bold;
	transition: all 0.3s;
}

.leftmost-radio {
	border-top-left-radius: 5px;
	border-bottom-left-radius: 5px;
	border-left: 1px solid rgba(206, 212, 218, 1.0);
}

.rightmost-radio {
	border-top-right-radius: 5px;
	border-bottom-right-radius: 5px;
}

/****************

	Tables
	
*****************/
.table-cols-header {
	min-width: 75px;
	max-width: 150px;
}

.table-cols-50 {
	min-width: 50px;
}

.table-cols-125 {
	min-width: 125px;
	max-width: 300px;
}

.table-item-img,
.table-user-controls {
	width: 50px;
	height: 50px;
}

/****************

	Images
	
*****************/
.item-img-div {
	min-width: 50px;
	max-width: 50px;
}

.item-img {
	cursor: help;
}

.item-img-inline {
	cursor: help;
	height: 25px;
}

.border-img {
	border-radius: 5px;
	border: 1px solid black;
}

.small-img {
	height: 24px;
}

.standard-img-size {
	width: 30px;
	height: 30px;
	object-fit: scale-down;
}

/****************

	User Input Rows
	
*****************/
.item-category {
	top: 2px;
	right: 5px;
	background-color: rgba(255, 255, 255, 0.7);
}

.icons {
	font-size: 1rem;
}