body.dark-mode {
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url("../public-images/dark.jpg");
  background-color: rgba(0, 0, 0, 0.8);
  color: rgba(255, 255, 255, 0.8);
}
body.dark-mode .navbar {
  border-bottom: 1px solid #454d55;
}
body.dark-mode .navbar .nav-item .nav-link:hover, body.dark-mode .navbar .nav-item .nav-link.active {
  color: white;
}
body.dark-mode .navbar .nav-item .dropdown-menu {
  background-color: #343a40;
  border: 1px solid #454d55;
}
body.dark-mode .navbar .nav-item .dropdown-menu .dropdown-item {
  color: rgba(255, 255, 255, 0.8);
}
body.dark-mode .navbar .nav-item .dropdown-menu .dropdown-item:hover, body.dark-mode .navbar .nav-item .dropdown-menu .dropdown-item.active {
  color: white;
  background-color: #454d55;
}
body.dark-mode .sidebar {
  border-bottom: 1px solid rgba(52, 58, 64, 0.8);
}
body.dark-mode .sidebar.sidebar-left {
  background-color: black;
}
@media (min-width: 992px) {
  body.dark-mode .sidebar.sidebar-left {
    background: transparent;
    border-right: 1px solid rgba(52, 58, 64, 0.8);
    border-bottom: none;
  }
}
body.dark-mode .sidebar.sidebar-right {
  border-left: 1px solid rgba(52, 58, 64, 0.8);
  border-bottom: none;
}
body.dark-mode .sidebar li.active {
  background-color: #343a40;
  color: rgba(255, 255, 255, 0.8);
}
body.dark-mode .sidebar .sidebar-btn {
  color: rgba(255, 255, 255, 0.8);
}
body.dark-mode .sidebar .sidebar-btn a {
  color: rgba(255, 255, 255, 0.8);
}
body.dark-mode .sidebar .sidebar-btn:hover, body.dark-mode .sidebar .sidebar-btn.active {
  background-color: #343a40;
  color: rgba(255, 255, 255, 0.8);
}
body.dark-mode form .form-control {
  background-color: rgba(52, 58, 64, 0.8);
  color: rgba(255, 255, 255, 0.8);
  border: 1px solid #454d55;
}
body.dark-mode form .form-control-plaintext {
  color: rgba(255, 255, 255, 0.8);
}
body.dark-mode form .form-check .form-check-label {
  border: 1px solid #454d55;
}
body.dark-mode form .form-check .form-check-label:hover, body.dark-mode form .form-check .form-check-label.active {
  background-color: rgba(52, 58, 64, 0.8);
  color: rgba(255, 255, 255, 0.8);
}
body.dark-mode form option:disabled {
  background-color: #343a40;
  color: rgba(255, 255, 255, 0.8);
}
body.dark-mode .modal .modal-content {
  border: 1px solid #454d55;
  color: rgba(255, 255, 255, 0.8);
  background-color: black;
}
body.dark-mode .modal .modal-content .modal-header {
  border-bottom: 1px solid #454d55;
}
body.dark-mode .modal .modal-content .modal-footer {
  border-top: 1px solid #454d55;
}
body.dark-mode .modal .modal-content .close {
  color: rgba(255, 255, 255, 0.8);
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.8);
}
body.dark-mode .carousel.carousel-fade .carousel-inner .carousel-item .carousel-caption {
  color: rgba(255, 255, 255, 0.8);
}
body.dark-mode .carousel-control-prev, body.dark-mode .carousel-control-next {
  color: rgba(255, 255, 255, 0.8);
}
body.dark-mode .carousel-control-prev:hover, body.dark-mode .carousel-control-prev:focus, body.dark-mode .carousel-control-next:hover, body.dark-mode .carousel-control-next:focus {
  color: rgba(255, 255, 255, 0.8);
}
body.dark-mode .collapsible-subheader, body.dark-mode .collapsible-section {
  border: 1px solid #454d55;
}
body.dark-mode .collapsible-section-subheader {
  background-color: #343a40;
}
body.dark-mode .collapsible-section {
  background-color: rgba(0, 0, 0, 0.8);
}
body.dark-mode .pagination .page-item .page-link {
  background-color: rgba(0, 0, 0, 0.8);
  border-color: #454d55;
  color: rgba(255, 255, 255, 0.8);
}
body.dark-mode .pagination .page-item:hover .page-link, body.dark-mode .pagination .page-item.active .page-link {
  background-color: #454d55;
}
body.dark-mode table.table-bordered td, body.dark-mode table.table-bordered th {
  color: rgba(255, 255, 255, 0.8);
}
body.dark-mode table.table-bordered th.empty-row {
  background-color: rgba(0, 0, 0, 0.8);
}
body.dark-mode table.table-bordered tr.tr-section-header {
  background-color: rgba(0, 0, 0, 0.8);
}
body.dark-mode .radio-select-group .form-check .radio-select {
  border: 1px solid #454d55;
}
body.dark-mode .radio-select-group .form-check .radio-select:hover, body.dark-mode .radio-select-group .form-check .radio-select.active {
  background-color: rgba(52, 58, 64, 0.8);
  color: rgba(255, 255, 255, 0.8);
}
body.dark-mode .action-button {
  color: rgba(255, 255, 255, 0.8);
  border: 1px solid #454d55;
  transition: background-color 0.2s;
}
body.dark-mode .action-button:hover {
  background-color: #454d55;
  transition: background-color 0.2s;
}
body.dark-mode .nav-tabs {
  border-bottom: 1px solid #454d55;
}
body.dark-mode .nav-tabs .nav-link:hover, body.dark-mode .nav-tabs .nav-link.active {
  background-color: #454d55;
  border-color: rgba(52, 58, 64, 0.8);
}
body.dark-mode .tab-pane {
  border: 1px solid rgba(52, 58, 64, 0.8);
}
body.dark-mode .tab-pane .single-map-select {
  border: 1px solid rgba(52, 58, 64, 0.8);
}
body.dark-mode .index-section-subheader, body.dark-mode .index-section {
  border: 1px solid #454d55;
}
body.dark-mode .page-select:hover, body.dark-mode .page-select.active, body.dark-mode .single-option-select:hover, body.dark-mode .single-option-select.active {
  background-color: #343a40;
  color: rgba(255, 255, 255, 0.8);
}
body.dark-mode .page-select a, body.dark-mode .single-option-select a {
  color: rgba(255, 255, 255, 0.8);
}
body.dark-mode .main-content-div {
  background-color: rgba(0, 0, 0, 0.8);
}
body.dark-mode .single-option-select {
  border: 1px solid #454d55;
}
body.dark-mode #soul-list-carousel .carousel-nav {
  border-bottom: 1px solid #454d55;
}
body.dark-mode #soul-list-carousel .carousel-item,
body.dark-mode #soul-list-carousel .soul-skill-info, body.dark-mode #soul-list-carousel .soul-skill-info-header,
body.dark-mode #soul-list-carousel .soul-stat-info, body.dark-mode #soul-list-carousel .soul-stat-info-header {
  border: 1px solid #454d55;
}
body.dark-mode .single-set-effect {
  background-color: rgba(52, 58, 64, 0.8);
  border: 1px solid #454d55;
}
body.dark-mode .todd-table.table-dark {
  background-color: transparent;
}
body.dark-mode .todd-table.table-dark > thead {
  background-color: #343a40;
}
body.dark-mode .todd-table.table-dark > tbody {
  background-color: #454d55;
}
body.dark-mode .dmg-skin-section-subheader, body.dark-mode .dmg-skin-section {
  border: 1px solid #454d55;
}
body.dark-mode .dmg-skin-section-subheader {
  background-color: #343a40;
}
body.dark-mode .single-dmg-skin > div {
  border: 1px solid #454d55;
}
body.dark-mode .single-dmg-skin > div .dmg-skin-header {
  background-color: #343a40;
}
body.dark-mode .single-dmg-skin > div .dmg-skin-body {
  background-color: black;
}
body.dark-mode .single-dmg-skin > div .dmg-skin-tools .view-dmg-skin-btn, body.dark-mode .single-dmg-skin > div .dmg-skin-tools .add-dmg-skin-btn, body.dark-mode .single-dmg-skin > div .dmg-skin-tools .remove-dmg-skin-btn {
  border: 1px solid #454d55;
  background-color: black;
  transition: all 0.2s;
}
body.dark-mode .single-dmg-skin > div .dmg-skin-tools .view-dmg-skin-btn:hover, body.dark-mode .single-dmg-skin > div .dmg-skin-tools .add-dmg-skin-btn:hover, body.dark-mode .single-dmg-skin > div .dmg-skin-tools .remove-dmg-skin-btn:hover {
  transition: all 0.2s;
  color: rgba(0, 0, 0, 0.8);
}
body.dark-mode .single-dmg-skin > div .dmg-skin-tools .view-dmg-skin-btn {
  color: rgba(255, 255, 255, 0.8);
}
body.dark-mode .single-dmg-skin > div .dmg-skin-tools .view-dmg-skin-btn:hover {
  background-color: rgba(255, 255, 255, 0.8);
}
body.dark-mode .single-dmg-skin > div .dmg-skin-tools .add-dmg-skin-btn {
  color: #4aa02c;
}
body.dark-mode .single-dmg-skin > div .dmg-skin-tools .add-dmg-skin-btn:hover {
  background-color: #4aa02c;
}
body.dark-mode .single-dmg-skin > div .dmg-skin-tools .remove-dmg-skin-btn {
  color: #dc3545;
}
body.dark-mode .single-dmg-skin > div .dmg-skin-tools .remove-dmg-skin-btn:hover {
  background-color: #dc3545;
}
body.dark-mode .single-dmg-skin.active > div {
  border: 1px solid #4aa02c;
}
body.dark-mode .single-dmg-skin.active > div .dmg-skin-header {
  background-color: #4aa02c;
}
body.dark-mode .btn-dmg-skin-modal, body.dark-mode #num-selected-skins {
  border: 2px solid #454d55;
  background-color: black;
  transition: all 0.2s;
}
body.dark-mode .btn-dmg-skin-modal:hover {
  background-color: #454d55;
  transition: all 0.2s;
}
body.dark-mode .btn-dmg-skin-modal:hover #num-selected-skins {
  background-color: #454d55;
  transition: all 0.2s;
}
@keyframes flash {
  0% {
    background-color: black;
  }
  40% {
    background-color: #4aa02c;
  }
  60% {
    background-color: #4aa02c;
  }
  100% {
    background-color: black;
  }
}
@keyframes flash-danger {
  0% {
    background-color: black;
  }
  40% {
    background-color: #dc3545;
  }
  60% {
    background-color: #dc3545;
  }
  100% {
    background-color: black;
  }
}
body.dark-mode .single-selected-skin {
  border: 1px solid #454d55;
  transition: background-color 0.2s;
}
body.dark-mode .single-selected-skin:hover {
  background-color: #454d55;
  transition: background-color 0.2s;
}
body.dark-mode .single-selected-skin .remove-selected-dmg-skin-btn {
  border: 1px solid #454d55;
  background-color: black;
  transition: all 0.2s;
  color: #dc3545;
}
body.dark-mode .single-selected-skin .remove-selected-dmg-skin-btn:hover {
  transition: all 0.2s;
  color: rgba(0, 0, 0, 0.8);
  background-color: #dc3545;
}
body.dark-mode .quick-jump-div {
  border: 2px solid #454d55;
}
body.dark-mode #dmg-skin-carousel .carousel-nav {
  border-bottom: 1px solid #454d55;
}
body.dark-mode #dmg-skin-carousel .carousel-item {
  border: 1px solid #454d55;
}
body.dark-mode .exp-stack-section-subheader, body.dark-mode .exp-stack-section {
  border: 1px solid #454d55;
}
body.dark-mode .exp-stack-section-subheader {
  background-color: #343a40;
}
body.dark-mode .single-exp-stack {
  border: 1px solid #454d55;
  transition: all 0.2s;
}
body.dark-mode .single-exp-stack:hover {
  border: 1px solid #4aa02c;
  transition: all 0.2s;
}
body.dark-mode .single-exp-stack.active {
  background-color: #4aa02c;
  transition: all 0.2s;
}
body.dark-mode .tab-pane .single-map-select {
  border: 1px solid rgba(52, 58, 64, 0.8);
  transition: all 0.2s;
}
body.dark-mode .tab-pane .single-map-select:hover {
  border: 1px solid #4aa02c;
  transition: all 0.2s;
}
body.dark-mode .tab-pane .single-map-select.active {
  background-color: #4aa02c;
  transition: all 0.2s;
}
body.dark-mode .single-social a {
  color: rgba(255, 255, 255, 0.8);
}
body.dark-mode .single-social a:hover, body.dark-mode .single-social a.active {
  background-color: #343a40;
  color: rgba(255, 255, 255, 0.8);
  font-weight: bold;
}
body.dark-mode .about-logo.gmail-logo {
  background-image: url("https://whacky-website.s3-ap-southeast-1.amazonaws.com/images/logos/gmail-logo-dark.png");
}
body.dark-mode .about-logo.youtube-logo {
  background-image: url("https://whacky-website.s3-ap-southeast-1.amazonaws.com/images/logos/youtube-logo-dark.png");
}
body.dark-mode .horz-partition {
  border-top: 1px solid #454d55;
}

/*# sourceMappingURL=darkStyles.css.map */
