/*****************

    Font sizes 

*****************/
.font-header {
  font-size: 1.5rem;
  font-weight: bold;
}

.font-subheader {
  font-size: 1.25rem;
}

.font-subsubheader {
  font-size: 1.1rem;
}

.font-content {
  font-size: 1rem;
}

.font-form, .font-button,
.font-form .form-control, .font-form button {
  font-size: 1rem;
}
@media (min-width: 768px) {
  .font-form, .font-button,
.font-form .form-control, .font-form button {
    font-size: 0.9rem;
  }
}
@media (min-width: 1200px) {
  .font-form, .font-button,
.font-form .form-control, .font-form button {
    font-size: 0.875rem;
  }
}

.font-sidebar {
  font-size: 0.9rem;
}

.font-table {
  font-size: 0.9rem;
}
@media (min-width: 768px) {
  .font-table {
    font-size: 0.875rem;
  }
}

.font-small, .tooltip {
  font-size: 0.9rem;
}
@media (min-width: 768px) {
  .font-small, .tooltip {
    font-size: 0.875rem;
  }
}
@media (min-width: 1200px) {
  .font-small, .tooltip {
    font-size: 0.8rem;
  }
}

.font-caption, .font-footnote {
  font-size: 0.75rem;
}

/***********************

    General Utilities

***********************/
.text-underline {
  text-decoration: underline;
}

.list-style-type-none {
  list-style-type: none;
}

.cursor-pointer {
  cursor: pointer;
}

.size-350 {
  max-width: 350px;
}

.size-720 {
  max-width: 720px;
}

.size-900 {
  max-width: 900px;
}

.index-collapse svg,
.sidebar-collapse svg {
  transition: all linear 0.25s;
}

.index-collapse.collapsed svg,
.sidebar-collapse.collapsed svg {
  transform: rotate(-90deg);
}

.li-img {
  height: 25px;
}

.pointer-events-none {
  pointer-events: none;
}

/**********************

    HTML Document

**********************/
html, body {
  font-size: 12px;
  scroll-padding-top: 3rem;
  height: 100%;
}
@media (min-width: 576px) {
  html, body {
    font-size: 13px;
  }
}
@media (min-width: 768px) {
  html, body {
    font-size: 14px;
  }
}
@media (min-width: 992px) {
  html, body {
    font-size: 15px;
  }
}
@media (min-width: 1200px) {
  html, body {
    font-size: 16px;
  }
}

body {
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}
body .content {
  min-height: 100%;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

input[type=number] {
  -moz-appearance: textfield;
  -webkit-appearance: textfield;
}

input[type=radio], input[type=checkbox] {
  visibility: hidden;
}

.main-content-div {
  padding-top: 3rem !important;
  max-width: 1200px;
}

/**********************

    Images

**********************/
img.item-img {
  cursor: help;
}
img.item-img.standard-img-size {
  width: 30px;
  height: 30px;
  object-fit: scale-down;
}
img.item-img-inline {
  cursor: help;
  height: 24px;
}
img.border-img {
  border: 1px solid black;
}
img.small-img {
  height: 24px;
}

/**********************

    Tables

**********************/
.table-cols-header {
  min-width: 75px;
  max-width: 150px;
}

.table-cols-50 {
  min-width: 50px;
  max-width: 125px;
}

.table-cols-125 {
  min-width: 125px;
  max-width: 300px;
}

.table-item-img,
.table-user-controls {
  width: 50px;
  height: 50px;
}

.table-sort-div .table-sort-header .table-sort-icon {
  opacity: 0.3;
}
.table-sort-div .table-sort-header .table-sort-icon.active {
  opacity: 1;
}

/**********************

    Forms

**********************/
form .form-control {
  height: 32px;
}
form .form-check {
  height: 32px;
}
form .form-check:first-of-type {
  padding-left: 0 !important;
}
form .form-check:first-of-type .radio-select {
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
}
form .form-check:last-of-type {
  padding-right: 0 !important;
}
form .form-check:last-of-type .radio-select {
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
}
form .form-check .radio-select {
  height: 32px;
  transition: all 0.3s;
  line-height: 1;
}
form .form-check .radio-select:hover, form .form-check .radio-select.active {
  font-weight: bold;
  transition: all 0.3s;
}
form .form-check .form-check-input {
  visibility: hidden;
}
form .form-check .form-check-label {
  left: 0;
  transition: all 0.3s;
}
form .form-check .form-check-label:hover, form .form-check .form-check-label.active {
  font-weight: bold;
  transition: all 0.3s;
}

/**********************

    Modals

**********************/
.modal .modal-dialog {
  max-width: 720px;
}

/**********************

    Carousel

**********************/
.carousel.carousel-fade .carousel-inner .carousel-item {
  display: block;
  opacity: 0;
  transition: all ease-out 0.7s;
}
.carousel.carousel-fade .carousel-inner .carousel-item.active {
  opacity: 1 !important;
}
.carousel.carousel-fade .carousel-inner .carousel-item .carousel-caption {
  position: initial;
  right: initial;
  bottom: initial;
  left: initial;
}

.carousel-control {
  height: 35px;
}
.carousel-control .carousel-control-prev,
.carousel-control .carousel-control-next {
  width: initial;
  top: initial;
}
.carousel-control .carousel-control-prev > i,
.carousel-control .carousel-control-next > i {
  height: 18px;
}
.carousel-control .carousel-control-prev:hover, .carousel-control .carousel-control-prev:focus,
.carousel-control .carousel-control-next:hover,
.carousel-control .carousel-control-next:focus {
  color: initial;
}

/**********************

    Pagination

**********************/
.pagination .page-item.active {
  font-weight: bold;
}
.pagination .page-item .page-link:focus {
  box-shadow: none;
}

/**********************

    Other

**********************/
.single-option-select {
  height: 32px;
}
.single-option-select:hover, .single-option-select.active {
  font-weight: bold;
  transition: all 0.3s;
}

#equip-grid {
  display: grid;
  grid-template-areas: "ring1  .        hat    .        emblem" "ring2  pendant2 face   .        badge" "ring3  pendant1 eye    earring  medal" "ring4  weapon   top    shoulder secondary" "pocket belt     bottom gloves   cape" ".      .        shoes  android  heart";
  top: 0;
  grid-gap: 4px;
  padding: 6px;
}
#equip-grid .equip-slot {
  border-radius: 4px;
  cursor: pointer;
  background-position: center;
  background-repeat: no-repeat;
}
#equip-grid .equip-slot:hover, #equip-grid .equip-slot.active {
  background-color: rgba(213, 93, 77, 0.5);
}
#equip-grid .equip-slot.disabled {
  cursor: initial;
  background-color: rgba(0, 0, 0, 0.8);
}
#equip-grid .equip-slot#ring-1-slot {
  grid-area: ring1;
}
#equip-grid .equip-slot#ring-2-slot {
  grid-area: ring2;
}
#equip-grid .equip-slot#ring-3-slot {
  grid-area: ring3;
}
#equip-grid .equip-slot#ring-4-slot {
  grid-area: ring4;
}
#equip-grid .equip-slot#pocket-slot {
  grid-area: pocket;
}
#equip-grid .equip-slot#pendant-1-slot {
  grid-area: pendant1;
}
#equip-grid .equip-slot#pendant-2-slot {
  grid-area: pendant2;
}
#equip-grid .equip-slot#weapon-slot {
  grid-area: weapon;
}
#equip-grid .equip-slot#belt-slot {
  grid-area: belt;
}
#equip-grid .equip-slot#hat-slot {
  grid-area: hat;
}
#equip-grid .equip-slot#face-slot {
  grid-area: face;
}
#equip-grid .equip-slot#eye-slot {
  grid-area: eye;
}
#equip-grid .equip-slot#top-slot {
  grid-area: top;
}
#equip-grid .equip-slot#bottom-slot {
  grid-area: bottom;
}
#equip-grid .equip-slot#shoes-slot {
  grid-area: shoes;
}
#equip-grid .equip-slot#earring-slot {
  grid-area: earring;
}
#equip-grid .equip-slot#shoulder-slot {
  grid-area: shoulder;
}
#equip-grid .equip-slot#gloves-slot {
  grid-area: gloves;
}
#equip-grid .equip-slot#android-slot {
  grid-area: android;
}
#equip-grid .equip-slot#emblem-slot {
  grid-area: emblem;
}
#equip-grid .equip-slot#badge-slot {
  grid-area: badge;
}
#equip-grid .equip-slot#medal-slot {
  grid-area: medal;
}
#equip-grid .equip-slot#secondary-slot {
  grid-area: secondary;
}
#equip-grid .equip-slot#cape-slot {
  grid-area: cape;
}
#equip-grid .equip-slot#heart-slot {
  grid-area: heart;
}

/*# sourceMappingURL=generalStyles.css.map */
