@charset "UTF-8";
/*****************

	Font sizes 

*****************/
.font-header {
  font-size: 1.5rem;
  font-weight: bold;
}

.font-subheader {
  font-size: 1.25rem;
}

.font-subsubheader, .font-content {
  font-size: 1rem;
}

.font-form, .font-button {
  font-size: 1rem;
}
@media (min-width: 768px) {
  .font-form, .font-button {
    font-size: 0.9rem;
  }
}
@media (min-width: 1200px) {
  .font-form, .font-button {
    font-size: 0.875rem;
  }
}

.font-sidebar {
  font-size: 0.9rem;
}

.font-table {
  font-size: 0.9rem;
}
@media (min-width: 768px) {
  .font-table {
    font-size: 0.875rem;
  }
}

.font-small, .tooltip {
  font-size: 0.9rem;
}
@media (min-width: 768px) {
  .font-small, .tooltip {
    font-size: 0.875rem;
  }
}
@media (min-width: 1200px) {
  .font-small, .tooltip {
    font-size: 0.8rem;
  }
}

.font-caption, .font-footnote {
  font-size: 0.75rem;
}

/***********************

	General Utilities

***********************/
.text-underline {
  text-decoration: underline;
}

.list-style-type-none {
  list-style-type: none;
}

.cursor-pointer {
  cursor: pointer;
}

.size-350 {
  max-width: 350px;
}

.size-720 {
  max-width: 720px;
}

.index-collapse:before,
.sidebar-collapse:before {
  display: inline-block;
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  content: "";
  transition: all linear 0.25s;
}

.index-collapse.collapsed:before,
.sidebar-collapse.collapsed:before {
  transform: rotate(-90deg);
}

.li-img {
  height: 25px;
}

/**********************

	HTML Document

**********************/
html, body {
  height: 100%;
  width: 100%;
  font-size: 12px;
  scroll-padding-top: 3rem;
}
@media (min-width: 576px) {
  html, body {
    font-size: 13px;
  }
}
@media (min-width: 768px) {
  html, body {
    font-size: 14px;
  }
}
@media (min-width: 992px) {
  html, body {
    font-size: 15px;
  }
}
@media (min-width: 1200px) {
  html, body {
    font-size: 16px;
  }
}

body {
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

input[type=number] {
  -moz-appearance: textfield;
  -webkit-appearance: textfield;
}
@media (min-width: 992px) {
  input[type=number] {
    width: 75px !important;
  }
}

input[type=radio] {
  visibility: hidden;
}

.main-content-div {
  max-width: 1200px;
}

/**********************

	Images

**********************/
img.item-img {
  cursor: help;
}
img.item-img.standard-img-size {
  width: 30px;
  height: 30px;
  object-fit: scale-down;
}
img.item-img-inline {
  cursor: help;
  height: 24px;
}
img.border-img {
  border: 1px solid black;
}
img.small-img {
  height: 24px;
}

/**********************

	Tables

**********************/
.table-cols-header {
  min-width: 75px;
  max-width: 150px;
}

.table-cols-50 {
  min-width: 50px;
  max-width: 125px;
}

.table-cols-125 {
  min-width: 125px;
  max-width: 300px;
}

.table-item-img,
.table-user-controls {
  width: 50px;
  height: 50px;
}

/**********************

	Modals

**********************/
.modal .modal-dialog {
  max-width: 720px;
}

/**********************

	Carousel

**********************/
.carousel.carousel-fade .carousel-inner .carousel-item {
  display: block;
  opacity: 0;
  transition: all ease-out 0.7s;
}
.carousel.carousel-fade .carousel-inner .carousel-item.active {
  opacity: 1 !important;
}
.carousel.carousel-fade .carousel-inner .carousel-item .carousel-caption {
  position: initial;
  right: initial;
  bottom: initial;
  left: initial;
}

.carousel-control {
  height: 35px;
}
.carousel-control .carousel-control-prev,
.carousel-control .carousel-control-next {
  width: initial;
  top: initial;
}
.carousel-control .carousel-control-prev > i,
.carousel-control .carousel-control-next > i {
  height: 18px;
}
.carousel-control .carousel-control-prev:hover, .carousel-control .carousel-control-prev:focus,
.carousel-control .carousel-control-next:hover,
.carousel-control .carousel-control-next:focus {
  color: initial;
}

/**********************

	Other

**********************/
.single-option-select:hover, .single-option-select.active {
  font-weight: bold;
  transition: all 0.3s;
}

.radio-select-group .form-check:first-of-type .radio-select {
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
}
.radio-select-group .form-check:last-of-type .radio-select {
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
}
.radio-select-group .form-check .radio-select {
  height: 32px;
  transition: all 0.3s;
  line-height: 1;
}
.radio-select-group .form-check .radio-select:hover, .radio-select-group .form-check .radio-select.active {
  font-weight: bold;
  transition: all 0.3s;
}

/*# sourceMappingURL=generalStyles.css.map */
