.page-select {
	height: 50px;
	cursor: pointer;
	border: 1px solid rgba(206, 212, 218, 1.0);
	transition: background-color 0.3s;
	color: inherit;
}

.page-select:hover {
	background-color: rgba(0, 0, 0, 0.075);
	color: rgba(0, 0, 0, 0.8);
	font-weight: bold;
	transition: background-color 0.3s;
}

.page-select-img-div {
	min-width: 50px;
	max-width: 50px;
	border-right: 1px solid rgba(206, 212, 218, 1.0);
}