body {
  color: #212529;
}
body .text-custom {
  color: #17a2b8;
}
body .btn-outline-custom {
  color: #17a2b8;
  border-color: #17a2b8;
}
body .btn-outline-custom:hover, body .btn-outline-custom.active {
  color: white;
  background-color: #17a2b8;
  border-color: #17a2b8;
}
body .navbar {
  border-bottom: 1px solid rgba(0, 0, 0, 0.075);
}
body .navbar .nav-item .nav-link:hover, body .navbar .nav-item .nav-link.active {
  color: #212529;
}
body .navbar .nav-item .dropdown-menu {
  background-color: white;
  border: 1px solid rgba(0, 0, 0, 0.075);
}
body .navbar .nav-item .dropdown-menu .dropdown-item {
  color: #212529;
}
body .navbar .nav-item .dropdown-menu .dropdown-item:hover, body .navbar .nav-item .dropdown-menu .dropdown-item.active {
  color: #212529;
  background-color: rgba(0, 0, 0, 0.075);
}
body .sidebar {
  border-bottom: 1px solid rgba(206, 212, 218, 0.8);
}
body .sidebar.sidebar-left {
  background-color: white;
}
@media (min-width: 992px) {
  body .sidebar.sidebar-left {
    background: transparent;
    border-right: 1px solid rgba(206, 212, 218, 0.8);
    border-bottom: none;
  }
}
body .sidebar.sidebar-right {
  border-left: 1px solid rgba(206, 212, 218, 0.8);
  border-bottom: none;
}
body .sidebar li.active {
  background-color: rgba(0, 0, 0, 0.075);
  color: #212529;
}
body .sidebar .sidebar-btn {
  color: #212529;
}
body .sidebar .sidebar-btn a {
  color: #212529;
}
body .sidebar .sidebar-btn:hover, body .sidebar .sidebar-btn.active {
  background-color: rgba(0, 0, 0, 0.075);
  color: #212529;
}
body form .form-control {
  background-color: white;
  color: #212529;
  border: 1px solid rgba(206, 212, 218, 0.8);
}
body form .form-control-plaintext {
  color: #212529;
}
body form .form-check .form-check-label {
  border: 1px solid rgba(206, 212, 218, 0.8);
}
body form .form-check .form-check-label:hover, body form .form-check .form-check-label.active {
  background-color: rgba(206, 212, 218, 0.8);
  color: #212529;
}
body form option:disabled {
  background-color: rgba(206, 212, 218, 0.8);
  color: #212529;
}
body .modal-btn-trigger {
  border: 2px solid rgba(206, 212, 218, 0.8);
  background-color: white;
  transition: all 0.2s;
}
body .modal-btn-trigger.flash {
  background-color: #6cbb3c;
}
body .modal-btn-trigger:hover {
  background-color: rgba(206, 212, 218, 0.8);
  transition: all 0.2s;
}
body .modal .modal-content {
  border: 1px solid rgba(206, 212, 218, 0.8);
  color: #212529;
}
body .carousel.carousel-fade .carousel-inner .carousel-item .carousel-caption {
  color: #212529;
}
body .carousel-control-prev, body .carousel-control-next {
  color: #212529;
}
body .collapsible-subheader, body .collapsible-section {
  border: 1px solid rgba(206, 212, 218, 0.8);
}
body .collapsible-section-subheader {
  background-color: rgba(206, 212, 218, 0.8);
}
body .collapsible-section {
  background-color: rgba(255, 255, 255, 0.7);
}
body .pagination .page-item .page-link {
  background-color: rgba(255, 255, 255, 0.7);
  border-color: rgba(206, 212, 218, 0.8);
  color: #212529;
}
body .pagination .page-item:hover .page-link, body .pagination .page-item.active .page-link {
  background-color: rgba(206, 212, 218, 0.8);
}
body table.table-bordered tr.tr-section-header {
  background-color: rgba(0, 0, 0, 0.075);
}
body .action-button {
  color: #212529;
  border: 1px solid rgba(206, 212, 218, 0.8);
  transition: background-color 0.2s;
}
body .action-button:hover {
  background-color: rgba(206, 212, 218, 0.8);
  transition: background-color 0.2s;
}
body .nav-tabs {
  border-bottom: 1px solid rgba(206, 212, 218, 0.8);
}
body .nav-tabs .nav-link:hover, body .nav-tabs .nav-link.active {
  background-color: rgba(206, 212, 218, 0.8);
  border-color: rgba(206, 212, 218, 0.8);
}
body .nav-pills .nav-link {
  color: #212529;
}
body .nav-pills .nav-link:hover, body .nav-pills .nav-link.active {
  background-color: rgba(206, 212, 218, 0.8);
  color: #212529;
}
body .tab-pane {
  border: 1px solid rgba(206, 212, 218, 0.8);
}
body .tab-pane .single-map-select {
  border: 1px solid rgba(206, 212, 218, 0.8);
}
body .radio-select-group .form-check .radio-select {
  border: 1px solid rgba(206, 212, 218, 0.8);
}
body .radio-select-group .form-check .radio-select:hover, body .radio-select-group .form-check .radio-select.active {
  background-color: rgba(0, 0, 0, 0.075);
  color: #212529;
}
body .index-section-subheader, body .index-section {
  border: 1px solid rgba(206, 212, 218, 0.8);
}
body .page-select:hover, body .page-select.active, body .single-option-select:hover, body .single-option-select.active {
  background-color: rgba(0, 0, 0, 0.075);
  color: #212529;
}
body .page-select a, body .single-option-select a {
  color: #212529;
}
body .main-content-div {
  background-color: rgba(255, 255, 255, 0.7);
}
body .single-option-select {
  border: 1px solid rgba(206, 212, 218, 0.8);
}
body #soul-list-carousel .carousel-nav {
  border-bottom: 1px solid rgba(206, 212, 218, 0.8);
}
body #soul-list-carousel .carousel-item,
body #soul-list-carousel .soul-skill-info, body #soul-list-carousel .soul-skill-info-header,
body #soul-list-carousel .soul-stat-info, body #soul-list-carousel .soul-stat-info-header {
  border: 1px solid rgba(206, 212, 218, 0.8);
}
body .single-set-effect {
  background-color: white;
  border: 1px solid rgba(206, 212, 218, 0.8);
}
body .todd-table > thead {
  background-color: rgba(0, 0, 0, 0.075);
}
body .todd-table > tbody {
  background-color: white;
}
body .todd-table > tbody .mobile-th {
  border: rgba(206, 212, 218, 0.8);
}
body .dmg-skin-section-subheader, body .dmg-skin-section {
  border: 1px solid rgba(206, 212, 218, 0.8);
}
body .dmg-skin-section-subheader {
  background-color: rgba(206, 212, 218, 0.8);
}
body .single-dmg-skin > div {
  border: 1px solid rgba(206, 212, 218, 0.8);
}
body .single-dmg-skin > div .dmg-skin-header {
  background-color: rgba(206, 212, 218, 0.8);
}
body .single-dmg-skin > div .dmg-skin-body {
  background-color: white;
}
body .single-dmg-skin > div .dmg-skin-tools .view-dmg-skin-btn, body .single-dmg-skin > div .dmg-skin-tools .add-dmg-skin-btn, body .single-dmg-skin > div .dmg-skin-tools .remove-dmg-skin-btn {
  border: 1px solid rgba(206, 212, 218, 0.8);
  background-color: white;
  transition: all 0.2s;
}
body .single-dmg-skin > div .dmg-skin-tools .view-dmg-skin-btn:hover, body .single-dmg-skin > div .dmg-skin-tools .add-dmg-skin-btn:hover, body .single-dmg-skin > div .dmg-skin-tools .remove-dmg-skin-btn:hover {
  transition: all 0.2s;
  color: white;
}
body .single-dmg-skin > div .dmg-skin-tools .view-dmg-skin-btn {
  color: #212529;
}
body .single-dmg-skin > div .dmg-skin-tools .view-dmg-skin-btn:hover {
  background-color: #212529;
}
body .single-dmg-skin > div .dmg-skin-tools .add-dmg-skin-btn {
  color: #6cbb3c;
}
body .single-dmg-skin > div .dmg-skin-tools .add-dmg-skin-btn:hover {
  background-color: #6cbb3c;
}
body .single-dmg-skin > div .dmg-skin-tools .remove-dmg-skin-btn {
  color: #dc3545;
}
body .single-dmg-skin > div .dmg-skin-tools .remove-dmg-skin-btn:hover {
  background-color: #dc3545;
}
body .single-dmg-skin.active > div {
  border: 1px solid #6cbb3c;
}
body .single-dmg-skin.active > div .dmg-skin-header {
  background-color: #6cbb3c;
}
body #num-selected-skins {
  border: 2px solid rgba(206, 212, 218, 0.8);
  background-color: white;
  transition: all 0.2s;
}
body .btn-dmg-skin-modal:hover #num-selected-skins {
  background-color: rgba(206, 212, 218, 0.8);
  transition: all 0.2s;
}
body .single-selected-skin {
  border: 1px solid rgba(206, 212, 218, 0.8);
  transition: background-color 0.2s;
}
body .single-selected-skin:hover {
  background-color: rgba(206, 212, 218, 0.8);
  transition: background-color 0.2s;
}
body .single-selected-skin .remove-selected-dmg-skin-btn {
  border: 1px solid rgba(206, 212, 218, 0.8);
  background-color: white;
  transition: all 0.2s;
  color: #dc3545;
}
body .single-selected-skin .remove-selected-dmg-skin-btn:hover {
  transition: all 0.2s;
  color: white;
  background-color: #dc3545;
}
body .quick-jump-div {
  border: 2px solid rgba(206, 212, 218, 0.8);
}
body #dmg-skin-carousel .carousel-nav {
  border-bottom: 1px solid rgba(206, 212, 218, 0.8);
}
body #dmg-skin-carousel .carousel-item {
  border: 1px solid rgba(206, 212, 218, 0.8);
}
body #char-level {
  border-bottom: 2px solid #212529 !important;
}
body .pill-section {
  border: 1px solid rgba(206, 212, 218, 0.8);
}
body .pill-section-subheader {
  background-color: rgba(206, 212, 218, 0.8);
}
body .pill-section-content {
  background-color: white;
}
@media (min-width: 768px) {
  body #dailies-container {
    border-right: 1px solid rgba(206, 212, 218, 0.8);
  }
}
body .single-exp-stack, body .single-exp-content {
  border: 1px solid rgba(206, 212, 218, 0.8);
  transition: all 0.2s;
}
body .single-exp-stack:hover, body .single-exp-content:hover {
  border: 1px solid #6cbb3c;
}
body .single-exp-stack.active, body .single-exp-content.active {
  background-color: #6cbb3c;
  transition: all 0.2s;
}
body .tab-pane .single-map-select {
  border: 1px solid rgba(206, 212, 218, 0.8);
  transition: all 0.2s;
}
body .tab-pane .single-map-select:hover {
  border: 1px solid #6cbb3c;
  transition: all 0.2s;
}
body .tab-pane .single-map-select.active {
  background-color: #6cbb3c;
  transition: all 0.2s;
}
body .single-daily-quest.active:hover, body .single-mp-dungeon.active:hover {
  background-color: rgba(206, 212, 218, 0.8);
}
body #selected-mp-dungeon {
  background-color: white;
}
body #active-profile {
  border: 2px solid rgba(206, 212, 218, 0.8);
  background-color: white;
}
body #search-monster-blocker {
  background-color: white;
  opacity: 0.95;
}
body .mlife-container .mlife-container-div {
  border: 1px solid rgba(206, 212, 218, 0.8);
}
body .mlife-container .mlife-container-div:hover, body .mlife-container .mlife-container-div.copied {
  background: linear-gradient(to right, #17a2b8 0%, rgba(255, 255, 255, 0.7) 8px, rgba(255, 255, 255, 0.7) 100%) no-repeat;
}
body .mlife-container .mlife-container-div.copied, body .mlife-container .mlife-container-div.searching {
  border-color: #17a2b8;
}
body .mlife-container .mlife-container-div.copied .mlife-container-header, body .mlife-container .mlife-container-div.searching .mlife-container-header {
  color: #17a2b8;
}
body .single-monster-row.active {
  background-color: rgba(0, 0, 0, 0.075);
}
body .single-monster-row .monster-display {
  min-height: 63px;
  border-left: 1px solid #17a2b8;
}
body .single-social a {
  color: #212529;
}
body .single-social a:hover, body .single-social a.active {
  background-color: rgba(0, 0, 0, 0.075);
  color: #212529;
  font-weight: bold;
}
body .about-logo.gmail-logo {
  background-image: url("https://whacky-website.s3-ap-southeast-1.amazonaws.com/images/logos/gmail-logo-light.png");
}
body .about-logo.youtube-logo {
  background-image: url("https://whacky-website.s3-ap-southeast-1.amazonaws.com/images/logos/youtube-logo-light.png");
}
body .horz-partition {
  border-top: 1px solid rgba(206, 212, 218, 0.8);
}
body .single-symbol-btn:hover, body .single-symbol-btn.active {
  background-color: rgba(206, 212, 218, 0.8);
}
body .single-symbol-div > div {
  border: 1px solid rgba(206, 212, 218, 0.8);
}
body .single-symbol-div .single-cost-breakdown {
  border-color: rgba(206, 212, 218, 0.8);
}

/*# sourceMappingURL=lightStyles.css.map */
