body {
  background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0.7)), url("../public-images/light.jpg");
  background-color: white;
  color: #212529;
}
body .navbar {
  border-bottom: 1px solid rgba(0, 0, 0, 0.075);
}
body .navbar .nav-item .nav-link:hover, body .navbar .nav-item .nav-link.active {
  color: #212529;
}
body .navbar .nav-item .dropdown-menu {
  background-color: white;
  border: 1px solid rgba(0, 0, 0, 0.075);
}
body .navbar .nav-item .dropdown-menu .dropdown-item {
  color: #212529;
}
body .navbar .nav-item .dropdown-menu .dropdown-item:hover, body .navbar .nav-item .dropdown-menu .dropdown-item.active {
  color: #212529;
  background-color: rgba(0, 0, 0, 0.075);
}
body .sidebar {
  border-bottom: 1px solid rgba(206, 212, 218, 0.8);
}
body .sidebar.sidebar-left {
  background-color: white;
}
@media (min-width: 992px) {
  body .sidebar.sidebar-left {
    background: transparent;
    border-right: 1px solid rgba(206, 212, 218, 0.8);
    border-bottom: none;
  }
}
body .sidebar.sidebar-right {
  border-left: 1px solid rgba(206, 212, 218, 0.8);
  border-bottom: none;
}
body .sidebar li.active {
  background-color: rgba(0, 0, 0, 0.075);
  color: #212529;
}
body .sidebar .sidebar-btn {
  color: #212529;
}
body .sidebar .sidebar-btn a {
  color: #212529;
}
body .sidebar .sidebar-btn:hover, body .sidebar .sidebar-btn.active {
  background-color: rgba(0, 0, 0, 0.075);
  color: #212529;
}
body form .form-check .form-check-label {
  border: 1px solid rgba(206, 212, 218, 0.8);
}
body form .form-check .form-check-label:hover, body form .form-check .form-check-label.active {
  background-color: rgba(206, 212, 218, 0.8);
  color: #212529;
}
body form option:disabled {
  background-color: rgba(206, 212, 218, 0.8);
  color: #212529;
}
body .modal .modal-content {
  border: 1px solid rgba(206, 212, 218, 0.8);
  color: #212529;
}
body .carousel.carousel-fade .carousel-inner .carousel-item .carousel-caption {
  color: #212529;
}
body .carousel-control-prev, body .carousel-control-next {
  color: #212529;
}
body .pagination .page-item .page-link {
  background-color: rgba(255, 255, 255, 0.7);
  border-color: rgba(206, 212, 218, 0.8);
  color: #212529;
}
body .pagination .page-item:hover .page-link, body .pagination .page-item.active .page-link {
  background-color: rgba(206, 212, 218, 0.8);
}
body .action-button {
  color: #212529;
  border: 1px solid #454d55;
  transition: background-color 0.2s;
}
body .action-button:hover {
  background-color: #454d55;
  transition: background-color 0.2s;
}
body .nav-tabs {
  border-bottom: 1px solid rgba(206, 212, 218, 0.8);
}
body .nav-tabs .nav-link:hover, body .nav-tabs .nav-link.active {
  background-color: rgba(206, 212, 218, 0.8);
  border-color: rgba(206, 212, 218, 0.8);
}
body .tab-pane {
  border: 1px solid rgba(206, 212, 218, 0.8);
}
body .tab-pane .single-map-select {
  border: 1px solid rgba(206, 212, 218, 0.8);
}
body .radio-select-group .form-check .radio-select {
  border: 1px solid rgba(206, 212, 218, 0.8);
}
body .radio-select-group .form-check .radio-select:hover, body .radio-select-group .form-check .radio-select.active {
  background-color: rgba(0, 0, 0, 0.075);
  color: #212529;
}
body .index-section-subheader, body .index-section {
  border: 1px solid rgba(206, 212, 218, 0.8);
}
body .page-select:hover, body .page-select.active, body .single-option-select:hover, body .single-option-select.active {
  background-color: rgba(0, 0, 0, 0.075);
  color: #212529;
}
body .page-select a, body .single-option-select a {
  color: #212529;
}
body .main-content-div {
  background-color: rgba(255, 255, 255, 0.7);
}
body .single-option-select {
  border: 1px solid rgba(206, 212, 218, 0.8);
}
body #soul-list-carousel .carousel-nav {
  border-bottom: 1px solid rgba(206, 212, 218, 0.8);
}
body #soul-list-carousel .carousel-item,
body #soul-list-carousel .soul-skill-info, body #soul-list-carousel .soul-skill-info-header,
body #soul-list-carousel .soul-stat-info, body #soul-list-carousel .soul-stat-info-header {
  border: 1px solid rgba(206, 212, 218, 0.8);
}
body .single-set-effect {
  background-color: white;
  border: 1px solid rgba(206, 212, 218, 0.8);
}
body .todd-table > thead {
  background-color: rgba(0, 0, 0, 0.075);
}
body .todd-table > tbody {
  background-color: white;
}
body .todd-table > tbody .mobile-th {
  border: rgba(206, 212, 218, 0.8);
}
body .dmg-skin-section-subheader, body .dmg-skin-section {
  border: 1px solid rgba(206, 212, 218, 0.8);
}
body .dmg-skin-section-subheader {
  background-color: rgba(206, 212, 218, 0.8);
}
body .single-dmg-skin > div {
  border: 1px solid rgba(206, 212, 218, 0.8);
}
body .single-dmg-skin > div .dmg-skin-header {
  background-color: rgba(206, 212, 218, 0.8);
}
body .single-dmg-skin > div .dmg-skin-body {
  background-color: white;
}
body .single-dmg-skin > div .dmg-skin-tools .view-dmg-skin-btn, body .single-dmg-skin > div .dmg-skin-tools .add-dmg-skin-btn, body .single-dmg-skin > div .dmg-skin-tools .remove-dmg-skin-btn {
  border: 1px solid rgba(206, 212, 218, 0.8);
  background-color: white;
  transition: all 0.2s;
}
body .single-dmg-skin > div .dmg-skin-tools .view-dmg-skin-btn:hover, body .single-dmg-skin > div .dmg-skin-tools .add-dmg-skin-btn:hover, body .single-dmg-skin > div .dmg-skin-tools .remove-dmg-skin-btn:hover {
  transition: all 0.2s;
  color: white;
}
body .single-dmg-skin > div .dmg-skin-tools .view-dmg-skin-btn {
  color: #212529;
}
body .single-dmg-skin > div .dmg-skin-tools .view-dmg-skin-btn:hover {
  background-color: #212529;
}
body .single-dmg-skin > div .dmg-skin-tools .add-dmg-skin-btn {
  color: #6cbb3c;
}
body .single-dmg-skin > div .dmg-skin-tools .add-dmg-skin-btn:hover {
  background-color: #6cbb3c;
}
body .single-dmg-skin > div .dmg-skin-tools .remove-dmg-skin-btn {
  color: #dc3545;
}
body .single-dmg-skin > div .dmg-skin-tools .remove-dmg-skin-btn:hover {
  background-color: #dc3545;
}
body .single-dmg-skin.active > div {
  border: 1px solid #6cbb3c;
}
body .single-dmg-skin.active > div .dmg-skin-header {
  background-color: #6cbb3c;
}
body .btn-dmg-skin-modal, body #num-selected-skins {
  border: 2px solid rgba(206, 212, 218, 0.8);
  background-color: white;
  transition: all 0.2s;
}
body .btn-dmg-skin-modal.flash {
  background-color: #6cbb3c;
}
body .btn-dmg-skin-modal:hover {
  background-color: rgba(206, 212, 218, 0.8);
  transition: all 0.2s;
}
body .btn-dmg-skin-modal:hover #num-selected-skins {
  background-color: rgba(206, 212, 218, 0.8);
  transition: all 0.2s;
}
body .single-selected-skin {
  border: 1px solid rgba(206, 212, 218, 0.8);
  transition: background-color 0.2s;
}
body .single-selected-skin:hover {
  background-color: rgba(206, 212, 218, 0.8);
  transition: background-color 0.2s;
}
body .single-selected-skin .remove-selected-dmg-skin-btn {
  border: 1px solid rgba(206, 212, 218, 0.8);
  background-color: white;
  transition: all 0.2s;
  color: #dc3545;
}
body .single-selected-skin .remove-selected-dmg-skin-btn:hover {
  transition: all 0.2s;
  color: white;
  background-color: #dc3545;
}
body .quick-jump-div {
  border: 2px solid rgba(206, 212, 218, 0.8);
}
body .dmg-skin-table > thead {
  background-color: rgba(0, 0, 0, 0.075);
}
body .dmg-skin-table > tbody {
  background-color: white;
}
body .dmg-skin-table > tbody .mobile-th {
  border: 1px solid rgba(206, 212, 218, 0.8);
}
body .exp-stack-section-subheader, body .exp-stack-section {
  border: 1px solid rgba(206, 212, 218, 0.8);
}
body .exp-stack-section-subheader {
  background-color: rgba(206, 212, 218, 0.8);
}
body .single-exp-stack {
  border: 1px solid rgba(206, 212, 218, 0.8);
  transition: all 0.2s;
}
body .single-exp-stack:hover {
  border: 1px solid #6cbb3c;
}
body .single-exp-stack.active {
  background-color: #6cbb3c;
  transition: all 0.2s;
}
body .tab-pane .single-map-select {
  border: 1px solid rgba(206, 212, 218, 0.8);
  transition: all 0.2s;
}
body .tab-pane .single-map-select:hover {
  border: 1px solid #6cbb3c;
  transition: all 0.2s;
}
body .tab-pane .single-map-select.active {
  background-color: #6cbb3c;
  transition: all 0.2s;
}
body .pot-list-subheader, body .pot-list-section {
  border: 1px solid rgba(206, 212, 218, 0.8);
}
body .pot-list-section-subheader {
  background-color: rgba(206, 212, 218, 0.8);
}
body .single-social a {
  color: #212529;
}
body .single-social a:hover, body .single-social a.active {
  background-color: rgba(0, 0, 0, 0.075);
  color: #212529;
  font-weight: bold;
}
body .about-logo.gmail-logo {
  background-image: url("https://whacky-website.s3-ap-southeast-1.amazonaws.com/images/logos/gmail-logo-light.png");
}
body .about-logo.youtube-logo {
  background-image: url("https://whacky-website.s3-ap-southeast-1.amazonaws.com/images/logos/youtube-logo-light.png");
}
body .horz-partition {
  border-top: 1px solid rgba(206, 212, 218, 0.8);
}

/*# sourceMappingURL=lightStyles.css.map */
