/****************

	GENERAL

*****************/
.main-content-div {
	position: relative;
	margin-left: 256px;
}

.info-div {
	padding: 32px 0;
	width: 1024px;
	height: 100%;
	display: none;
	flex-direction: column;
	align-items: center;
	position: absolute;
	top: 0;
}

.page-header-box {
	position: relative;
	height: 40px;
	display: flex;
	justify-content: center;
	align-items: center;
	margin-bottom: 16px;
}

.horz-line {
	height: 1px;
	width: 75px;
	background-color: black;
}

.page-header {
	margin-bottom: 0;
	text-transform: uppercase;
	padding: 0 16px;
}

/****************

	CALCULATOR

*****************/
#flame-calculator {
	display: flex;
}

#settings-div, #flame-values-div {
	width: 100%;
	padding: 0 32px;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	margin-bottom: 32px;
}

#options-form {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

#options-form-div {
	display: grid;
	grid-template-areas:
		"level level gear gear base base"
		"flame flame flame stat stat stat";
	grid-gap: 16px 32px;
	margin-bottom: 24px;
}

#gear-level-div {
	grid-area: level;
	padding-bottom: 16px;
}

#gear-type-div {
	grid-area: gear;
	height: 40px;
	display: flex;
	flex-direction: column;
}

#gear-type-div > div {
	display: flex;
	align-items: center;
}

.notes-small {
	margin-top: 6px;
	font-size: 10px;
}

#base-wa-ma-div {
	grid-area: base;
	padding-bottom: 16px;
}

#flame-type-div {
	grid-area: flame;
}

#stat-type-div {
	grid-area: stat;
}

.input-div {
	height: 48px;
	display: flex;
	align-items: center;
	padding: 0 8px;
}

.input-header {
	margin-right: 16px;
	font-weight: bold;
}

.input-number {
	width: 75px;
}

.radio-select-div {
	height: 32px;
	position: relative;
	display: flex;
}

.radio-select {
	width: 75px;
	height: 32px;
	border: 1px solid black;
	border-left: none;
	display: flex;
	justify-content: center;
	align-items: center;
	cursor: pointer;
	transition: all 0.2s;
}

.radio-select:hover,
.radio-select.active {
	background-color: #000;
	color: #FFF;
	font-weight: bold;
	transition: all 0.2s;
}

.leftmost-radio {
	border-top-left-radius: 5px;
	border-bottom-left-radius: 5px;
	border-left: 1px solid black;
	position: relative;
}

.rightmost-radio {
	border-top-right-radius: 5px;
	border-bottom-right-radius: 5px;
	position: relative;
}

.flame-radio {
	width: 80px;
	height: 32px;
	padding: 0 8px;
}

.stat-radio {
	width: 56px;
	height: 32px;
	padding: 0 8px;
}

#flame-submit-btn {
	height: 32px;
	width: 250px;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 0;
	font-weight: bold;
	font-size: 0.875rem;
}

#flame-values-table {
	font-size: 0.875rem;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	max-width: 720px;
}

tr th.table-cols,
tr td.table-cols,
tr th.table-cols-header {
	padding: 5px 10px;
}

.rrf {
	background-color: #C9F8C2;
}

/****************

	INFO CORNER
	
*****************/
#flame-info {
	position: absolute;
}

.info-section {
	margin-bottom: 16px;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	margin-bottom: 32px;
}

.info-section-details {
	width: 720px;
}

.list-items {
	height: 32px;
}

.table-cols-desc {
	width: 220px;
}

.item-img {
	margin: 4px;
	cursor: help;
}