/****************

	GENERAL

*****************/
.single-info-page {
	background-color: rgba(255, 255, 255, 0.8);
}

@media (min-width: 768px) {
	.main-content-div {
		overflow: auto;
	}

	.single-info-page {
		min-height: 100%;
		display: none;
		position: absolute;
		top: 0;
	}
}

.single-info-page.active {
	display: flex;
}

.info-section {
	max-width: 840px;
}

/****************

	CALCULATOR

*****************/
#options-form {
	width: 100%;
}

.radio-select {
	height: 32px;
	border: 1px solid rgba(206, 212, 218, 1.0);
	border-left: none;
	cursor: pointer;
	transition: all 0.3s;
	line-height: 1.25;
}

.radio-select:hover,
.radio-select.active {
	background-color: rgba(0, 0, 0, 0.075);
	color: rgba(0, 0, 0, 0.8);
	font-weight: bold;
	transition: all 0.3s;
}

.leftmost-radio {
	border-top-left-radius: 5px;
	border-bottom-left-radius: 5px;
	border-left: 1px solid rgba(206, 212, 218, 1.0);
}

.rightmost-radio {
	border-top-right-radius: 5px;
	border-bottom-right-radius: 5px;
}

.small-img {
	height: 24px;
}

/****************

	INFO CORNER
	
*****************/
.table-cols-header {
	min-width: 75px;
	max-width: 150px;
}

.table-cols-50 {
	min-width: 50px;
}

.table-cols-125 {
	min-width: 125px;
	max-width: 300px;
}

.item-img {
	cursor: help;
}

.item-img-inline {
	cursor: help;
	height: 25px;
}

.border-img {
	border-radius: 5px;
	border: 1px solid black;
}

.standard-img-size {
	width: 30px;
	height: 30px;
	object-fit: scale-down;
}