<div class="w-100 d-flex align-items-center flex-column px-4 pt-4" id="info">
	<div class="w-100 d-flex justify-content-center align-items-center flex-column px-lg-4 pb-3">
		<div class="w-100 d-flex justify-content-center align-items-center position-relative mb-2">
			<div class="w-100 flex-grow-1 border-top border-dark"></div>
			<h1 class="font-header w-100 text-center m-0 px-0">About Soul Weapons</h1>
			<div class="w-100 flex-grow-1 border-top border-dark"></div>
		</div>
		<div class="w-100 mb-3">
			<h2 class="font-subheader font-weight-bold text-underline mb-2" id="info-intro">Introduction</h2>
			<div class="font-content w-100 d-flex justify-content-center align-items-center flex-column mb-4">
				<p class="w-100 text-justify font-weight-bold mb-0">Prerequisites:</p>
				<ul class="w-100">
					<li>Weapons only</li>
					<li>Item level 75+ (level 100+ if attaching augmented souls)</li>
				</ul>

				<p class="text-justify">Soul weapons are weapons that can be attached with a boss soul. When you equip a soul weapon, an effect hovers above your character. A soul gauge also appears that displays how many monster souls you have collected. You can use a keyboard shortcut <img src="./public/images/keyboard/soul-weapon.png"> to access this gauge at any time.</p>

				<div class="w-100 d-flex flex-column justify-content-center align-items-center text-center">
					<div class="d-flex flex-column flex-md-row align-items-center">
						<img src="./public/images/guide/soul-weapon-1.png">&nbsp;
						<img src="./public/images/guide/soul-weapon-2.png">
					</div>
					<p class="size-350 font-caption">
						<span class="d-inline d-md-none">(Top)</span><span class="d-none d-md-inline">(Left)</span> Soul weapon effect above your character's head. <span class="d-inline d-md-none">(Bottom)</span><span class="d-none d-md-inline">(Right)</span> The soul gauge indicates how many monster souls you have collected. Click on the bottom-right button to toggle on/off the effect above your head.
					</p>
				</div>

				<p class="text-justify">Monster souls can be collected by hunting any monster, and reaches a maximum of 1000 souls. An "empty" soul weapon (one with no boss soul attached) gives up to +10 WA/MA after collecting at least 501 souls. A soul weapon with a boss soul attached gives up to +20 WA/MA. Boss souls also give an additional stat boost and a skill that you can use in battle. The amount of WA/MA, stat boost and skill you get depends on the type of soul you have.</p>

				<div class="w-100 d-flex flex-column justify-content-center align-items-center text-center">
					<div class="d-flex flex-column flex-md-row align-items-center">
						<img src="./public/images/guide/soul-weapon-3.png">&nbsp;
						<img src="./public/images/guide/soul-weapon-4.png">
					</div>
					<p class="size-350 font-caption mb-0"><span class="d-inline d-md-none">(Top)</span><span class="d-none d-md-inline">(Left)</span> A weapon with no boss soul attached. <span class="d-inline d-md-none">(Bottom)</span><span class="d-none d-md-inline">(Right)</span> A weapon with a Glamorous Lotus soul attached. Notice the additional All Stats +15 bonus and a "Hit Lotus" skill usable once enough souls have been gathered.</p>
				</div>
			</div>
		</div>
		<div class="w-100 mb-3">
			<h2 class="font-subheader w-100 font-weight-bold text-underline mb-2" id="info-creation">Making a Soul Weapon</h2>
			<div class="font-content w-100 d-flex justify-content-center align-items-center flex-column mb-4">
				<h3 class="w-100 font-subsubheader font-italic mb-0">Method 1: Click-and-drop</h3>
				<p class="w-100 text-justify">The quickest way to make an ordinary weapon into a soul weapon is to click-and-drop a Soul Enchanter onto your equipped weapon. Soul Enchanters have varied success rates. They do <span class="text-underline">not</span> destroy your weapon if enchantment fails. These items drop from monsters and are usually untradable. You can purchase a 30% version in the Dojo shop as well. There are tradable versions, mostly obtained through events.</p>

				<div class="w-100 d-flex flex-column justify-content-center align-items-center text-center">
					<div class="d-flex">
						<img src="./public/images/souls/enchanter-entry.png">
						<img src="./public/images/souls/enchanter-enhanced.png">
						<img src="./public/images/souls/enchanter-special.png">
					</div>
					<p class="size-350 font-caption mb-0">Entry / Enhanced / Special Soul Enchanters have 30% / 60% / 100% success rates to make your weapon a soul weapon.</p>
				</div>
			</div>

			<div class="font-content w-100 d-flex justify-content-center align-items-center flex-column mb-4">
				<h3 class="w-100 font-subsubheader font-italic mb-0">Method 2: Legendary Spirit</h3>
				<p class="w-100 text-justify">If you are unable to equip the weapon, or do not wish to equip it just yet, you can use the Legendary Spirit skill. Find Eurek the Alchemist and complete [The Wandering Alchemist Eurek's New Skill] quest. You will obtain the skill upon quest completion. Double click <img src="./public/images/skills/legendary-spirit.png"> Legendary Spirit in your Beginner skills tab and place the weapon you wish to transform into a soul weapon. Next, click-and-drop a Soul Enchanter into the window. After a moment, you'll see if enchantment has succeeded!</p>

				<div class="w-100 d-flex flex-column justify-content-center align-items-center text-center">
					<div class="d-flex">
						<img src="./public/images/guide/soul-weapon-5.png">
					</div>
					<p class="size-350 font-caption mb-0">Legendary Spirit can be used for scrolling and attaching boss souls too!</p>
				</div>
			</div>

			<div class="font-content w-100 d-flex justify-content-center align-items-center flex-column mb-4">
				<h3 class="w-100 font-subsubheader font-italic mb-0">Reverting a Soul Weapon</h3>
				<p class="w-100 text-justify">Only do this if you wish to make your soul weapon a regular weapon. Find the Unidentified Wizard in various towns and select the third option (I would like to get the Soul Weapon back as it was). Note that this removes any attached boss soul, as well as the effects of the Soul Enchanter on the item. You do <span class="text-underline">not</span> get the removed boss soul back. See Boss Souls section below if you just want to replace the current boss soul on your weapon.</p>

				<div class="w-100 d-flex flex-column justify-content-center align-items-center text-center">
					<div class="d-flex">
						<img src="./public/images/npcs/unidentified-wizard.png">
					</div>
					<p class="size-350 font-caption mb-0">The Unidentified Wizard reverts the soul weapon capabilities of your item.</p>
				</div>
			</div>
		</div>
		<div class="w-100 mb-3">
			<h2 class="w-100 font-subheader font-weight-bold text-underline mb-2" id="info-boss-souls">Boss Souls</h2>
			<div class="font-content w-100 d-flex justify-content-center align-items-center flex-column mb-4">
				<h3 class="w-100 font-subsubheader font-italic mb-0">Creating, Attaching, Replacing Souls</h3>
				<p class="w-100 text-justify">Most bosses drop soul shards upon their defeat. When you have at least 10 shards from the same boss, double-click it to receive the boss' soul with a certain prefix. "Augmented"-prefixed souls are more powerful and give better bonus stats. Click-and-drop a boss soul onto a soul weapon to attach the soul. To replace a boss soul, simply click-and-drop a different boss soul. You lose effects from the previous soul and do <span class="text-underline">not</span> get the soul back.</p>

				<div class="w-100 d-flex flex-column justify-content-center align-items-center text-center">
					<div class="d-flex">
						<img src="./public/images/souls/soul-shard.png">
						<img src="./public/images/souls/soul-lotus.png">
					</div>
					<p class="size-350 font-caption">Double-click 10 soul shards (left) to receive the respective boss' soul (right).</p>
				</div>

				<p class="w-100 text-justify">Once you attach a boss soul, the effects are permanent (until replaced by another soul). However, the soul (item) itself has a 30-day expiry and are untradable when you get them from soul shards. Augmented souls are permanent and tradable. Unused boss souls can be placed into the Soul Collector.</p>
			</div>

			<div class="font-content w-100 d-flex justify-content-center align-items-center flex-column mb-4">
				<h3 class="w-100 font-subsubheader font-italic mb-0">Summoning Souls</h3>
				<p class="w-100 text-justify">You need a certain amount on your soul gauge in order to summon your boss soul to fight alongside you. When the boss soul can be summoned, the visual effect above your head changes. You can summon the soul using the keys indicated in the soul gauge, or by using the soul skill available in your Beginner skill window.</p>

				<div class="w-100 d-flex flex-column justify-content-center align-items-center text-center">
					<div class="d-flex flex-column flex-md-row align-items-center">
						<img src="./public/images/guide/soul-weapon-1.png">&nbsp;
						<img src="./public/images/guide/soul-weapon-6.png">
					</div>
					<p class="size-350 font-caption">Once you have enough on the soul gauge to summon the boss soul, the visual effect changes.</p>
				</div>

				<div class="w-100 d-flex flex-column justify-content-center align-items-center text-center">
					<div class="d-flex flex-column flex-md-row align-items-center">
						<img src="./public/images/guide/soul-weapon-7.png">&nbsp;
						<img src="./public/images/guide/soul-weapon-8.png">
					</div>
					<p class="size-350 font-caption">Summon the boss soul using the keypress indicated on the gauge or through the soul skill available in the Beginner skill tab.</p>
				</div>

				<p class="w-100 text-justify mb-0">Boss soul attacks have two levels - the first is default, the second is obtained after you have collected all prefixes for that boss' soul in your Soul Collector. Augmented souls have different skills from other prefixed souls.</p>
			</div>
		</div>
		<div class="w-100 mb-3">
			<h2 class="w-100 font-subheader font-weight-bold text-underline mb-2" id="info-collector">Soul Collector</h2>
			<div class="font-content w-100 d-flex justify-content-center align-items-center flex-column mb-4">
				<p class="w-100 text-justify">The Soul Collector is accessed through its button on the soul gauge. Each boss has their own collection page, where you can fill the slots using one of each prefix (including Augmented) belonging to that soul. Once you fill the full page, you gain access to a hidden illustration, and unlock the second level of the boss' soul skill.</p>

				<div class="w-100 d-flex flex-column justify-content-center align-items-center text-center">
					<div class="d-flex flex-column flex-md-row align-items-center">
						<img src="./public/images/guide/soul-weapon-9.png" class="img-fluid">
					</div>
					<p class="size-350 font-caption mb-0">Use the Soul Collector to dump all unused boss souls you get when opening soul shards.</p>
				</div>
			</div>
		</div>
	</div>
</div>