<nav class="sidebar sidebar-right font-sidebar col-xl-2 d-none d-xl-block position-sticky px-3 pt-4">
    <div class="mb-3">
        <h1 class="font-weight-bold">Soul Weapons</h1>
        <ul class="mb-2 pl-xl-2">
            <div class="mb-4">
                <h2 class="list-style-type-none mb-1">
                    <a class="sidebar-btn d-block py-1 text-decoration-none" href="/info/soul-tier-list" target="_blank">&#8627; Soul Tier List <sup><i class="fas fa-external-link-alt"></i></sup></a>
                </h2>
            </div>

            <div class="mb-4">
                <h2 class="list-style-type-none mb-1">
                    <a class="sidebar-btn d-block py-1 text-decoration-none" href="#info">&#8627; About Soul Weapons</a>
                </h2>
                <ul class="pl-3">
                    <li class="list-style-type-none mb-0">
                        <a href="#info-intro" class="sidebar-btn d-block py-1 text-decoration-none">&#8627; Introduction</a>
                    </li>
                    <li class="list-style-type-none mb-0">
                        <a href="#info-creation" class="sidebar-btn d-block py-1 text-decoration-none">&#8627; Making a Soul Weapon</a>
                    </li>
                    <li class="list-style-type-none mb-0">
                        <a href="#info-boss-souls" class="sidebar-btn d-block py-1 text-decoration-none">&#8627; Boss Souls</a>
                    </li>
                    <li class="list-style-type-none mb-0">
                        <a href="#info-collector" class="sidebar-btn d-block py-1 text-decoration-none">&#8627; Soul Collector</a>
                    </li>
                </ul>
            </div>

            <div class="mb-4">
                <h2 class="list-style-type-none mb-1">
                    <a class="sidebar-btn d-block py-1 text-decoration-none" href="#credits">&#8627; Credits</a>
                </h2>
                <ul class="pl-3">
                    <li class="list-style-type-none mb-0">
                        <a href="#credits-ack" class="sidebar-btn d-block py-1 text-decoration-none">&#8627; Acknowledgements</a>
                    </li>
                    <li class="list-style-type-none mb-0">
                        <a href="#credits-contact" class="sidebar-btn d-block py-1 text-decoration-none">&#8627; Contact</a>
                    </li>
                </ul>
            </div>
        </ul>
    </div>
</nav>