<div class="single-info-page active w-100 align-items-center flex-column px-4 pt-4 px-lg-0 pt-lg-4" id="calculator">
	<div class="info-section w-100 d-flex justify-content-center align-items-center flex-column px-lg-4 pb-3">
		<div class="page-header-box w-100 d-flex justify-content-center align-items-center position-relative mb-2">
			<div class="w-100 flex-grow-1 border-top border-dark"></div>
			<h1 class="font-header w-100 text-center m-0 px-0">Calculator</h1>
			<div class="w-100 flex-grow-1 border-top border-dark"></div>
		</div>
		<div class="w-100 mb-3 justify-content-between">
			<div class="col-12 col-lg-6">
				<div class="position-relative" id="equip-tab-div">
					<img src="/images/equips/equip-tab.png">
					<div class="w-100 h-100 position-absolute" id="equip-grid">
						<div class="equip-slot" id="ring-1-slot"></div>
						<div class="equip-slot" id="ring-2-slot"></div>
						<div class="equip-slot" id="ring-3-slot"></div>
						<div class="equip-slot" id="ring-4-slot"></div>
						<div class="equip-slot" id="pocket-slot"></div>

						<div class="equip-slot" id="pendant-1-slot"></div>
						<div class="equip-slot" id="pendant-2-slot"></div>
						<div class="equip-slot" id="weapon-slot"></div>
						<div class="equip-slot" id="belt-slot"></div>

						<div class="equip-slot" id="hat-slot"></div>
						<div class="equip-slot" id="face-slot"></div>
						<div class="equip-slot" id="eye-slot"></div>
						<div class="equip-slot" id="top-slot"></div>
						<div class="equip-slot" id="bottom-slot"></div>
						<div class="equip-slot" id="shoe-slot"></div>

						<div class="equip-slot" id="earring-slot"></div>
						<div class="equip-slot" id="shoulder-slot"></div>
						<div class="equip-slot" id="gloves-slot"></div>
						<div class="equip-slot" id="android-slot"></div>

						<div class="equip-slot" id="emblem-slot"></div>
						<div class="equip-slot" id="badge-slot"></div>
						<div class="equip-slot" id="medal-slot"></div>
						<div class="equip-slot" id="secondary-slot"></div>
						<div class="equip-slot" id="cape-slot"></div>
						<div class="equip-slot" id="heart-slot"></div>
					</div>
				</div>
			</div>
			<div class="col-12">
				<div id="carouselExampleFade" class="carousel slide carousel-fade border rounded-lg" data-ride="carousel" data-interval="false">
					<div class="carousel-job-select">
						
					</div>
					<div class="carousel-inner">
						<div class="equip-select-div carousel-item active d-flex justify-content-start flex-column align-items-center p-3">
							<h2 class="font-carousel-header w-100 text-center">Hat</h2>
							<div class="font-content w-100 d-flex flex-wrap">
								<div class="col-12 col-lg-6 w-100 mb-2 px-2">
									<div class="equip-choice hat-choice border rounded-lg d-flex align-items-center" data-choice-img="acs-warrior-hat">
										<div class="h-100 border-right mr-2 d-flex justify-content-center align-items-center">
											<img src="/images/equips/acs-warrior-hat.png" class="m-2">
										</div>
										<p class="m-0 mr-2">Arcaneshade Warrior Hat</p>
									</div>
								</div>
								<div class="col-12 col-lg-6 w-100 mb-2 px-2">
									<div class="equip-choice hat-choice border rounded-lg d-flex align-items-center" data-choice-img="abs-mage-hat">
										<div class="h-100 border-right mr-2 d-flex justify-content-center align-items-center">
											<img src="/images/equips/abs-mage-hat.png" class="m-2">
										</div>
										<p class="m-0 mr-2">Absolabs Mage Hat</p>
									</div>
								</div>
								<div class="col-12 col-lg-6 w-100 mb-2 px-2">
									<div class="equip-choice hat-choice border rounded-lg d-flex align-items-center">
										<div class="h-100 border-right mr-2 d-flex justify-content-center align-items-center">
											<img src="/images/equips/acs-warrior-hat.png" class="m-2">
										</div>
										<p class="m-0 mr-2">Arcaneshade Warrior Hat</p>
									</div>
								</div>
								<div class="col-12 col-lg-6 w-100 mb-2 px-2">
									<div class="equip-choice hat-choice border rounded-lg d-flex align-items-center">
										<div class="h-100 border-right mr-2 d-flex justify-content-center align-items-center">
											<img src="/images/equips/acs-warrior-hat.png" class="m-2">
										</div>
										<p class="m-0 mr-2">Arcaneshade Warrior Hat</p>
									</div>
								</div>
								<div class="col-12 col-lg-6 w-100 mb-2 px-2">
									<div class="equip-choice hat-choice border rounded-lg d-flex align-items-center">
										<div class="h-100 border-right mr-2 d-flex justify-content-center align-items-center">
											<img src="/images/equips/acs-warrior-hat.png" class="m-2">
										</div>
										<p class="m-0 mr-2">Arcaneshade Warrior Hat</p>
									</div>
								</div>
								<div class="col-12 col-lg-6 w-100 mb-2 px-2">
									<div class="equip-choice hat-choice border rounded-lg d-flex align-items-center">
										<div class="h-100 border-right mr-2 d-flex justify-content-center align-items-center">
											<img src="/images/equips/acs-warrior-hat.png" class="m-2">
										</div>
										<p class="m-0 mr-2">Arcaneshade Warrior Hat</p>
									</div>
								</div>
								<!--<div class="col-12 col-lg-6 w-100 mb-2 px-2">
									<div class="border rounded-lg d-flex align-items-center">
										<div class="border-right mr-2">
											<img src="/images/equips/acs-warrior-hat.png" class="m-2">
										</div>
										<p class="m-0 mr-2">Arcaneshade Warrior Hat</p>
									</div>
								</div>
								<div class="col-12 col-lg-6 w-100 mb-2 px-2">
									<div class="border rounded-lg d-flex align-items-center">
										<div class="border-right mr-2">
											<img src="/images/equips/acs-warrior-hat.png" class="m-2">
										</div>
										<p class="m-0 mr-2">Arcaneshade Warrior Hat</p>
									</div>
								</div>
								<div class="col-12 col-lg-6 w-100 mb-2 px-2">
									<div class="border rounded-lg d-flex align-items-center">
										<div class="border-right mr-2">
											<img src="/images/equips/acs-warrior-hat.png" class="m-2">
										</div>
										<p class="m-0 mr-2">Arcaneshade Warrior Hat</p>
									</div>
								</div>-->
							</div>
						</div>
						<div class="equip-select-div carousel-item bg-dark text-light">
							<p class="w-100">sdgdfsh</p>
						</div>
						<div class="equip-select-div carousel-item bg-dark text-light">
							<p class="w-100">dsfjwrj</p>
						</div>
					</div>
					<div class="carousel-control">
						<a class="carousel-control-prev w-auto px-2" href="#carouselExampleFade" role="button" data-slide="prev">
							<i class="fas fa-angle-double-left mr-1"></i>
							<span class="sr-only">Previous</span>
							<p class="font-weight-bold m-0 mb-1">Hat</p>
						</a>
						<a class="carousel-control-next w-auto px-2" href="#carouselExampleFade" role="button" data-slide="next">
							<p class="font-weight-bold m-0 mb-1">Bottom</p>
							<i class="fas fa-angle-double-right ml-1"></i>
							<span class="sr-only">Next</span>
						</a>
					</div>
				</div>
			</div>
			<!--<table class="font-table col-12 col-lg-6 table table-sm table-bordered table-hover mb-0 rounded-sm">
				<tbody>
					<tr class="table-rows">
						<th class="table-item-img align-middle text-center">
							<img src="/images/equips/acs-warrior-hat.png">
						</th>
						<td class="flex-grow-1 align-middle text-center position-relative">
							<p class="font-footnote item-category position-absolute font-weight-bold text-uppercase m-0">Hat</p>
							<p class="m-0 text-center">Arcaneshade Warrior Hat</p>
						</td>
						<td class="table-user-controls align-middle text-center">
							<div class="d-flex justify-content-center align-items-center">
								<i class="fas fa-pen icons"></i>
							</div>
						</td>
						<td class="table-user-controls align-middle text-center">
							<div class="d-flex justify-content-center align-items-center">
								<i class="fas fa-pen icons"></i>
							</div>
						</td>
					</tr>
					<tr class="table-rows">
						<th class="table-item-img align-middle text-center">
							<img src="/images/equips/meister-symbol.png">
						</th>
						<td class="flex-grow-1 align-middle text-center position-relative">
							<p class="font-footnote item-category position-absolute font-weight-bold text-uppercase m-0">Face</p>
							<p class="m-0 text-center">Special Red Magician Meister Symbol</p>
						</td>
						<td class="table-user-controls align-middle text-center">
							<div class="d-flex justify-content-center align-items-center">
								<i class="fas fa-pen icons"></i>
							</div>
						</td>
						<td class="table-user-controls align-middle text-center">
							<div class="user-controls d-flex justify-content-center align-items-center">
								<i class="fas fa-pen icons"></i>
							</div>
						</td>
					</tr>
					<tr class="table-rows">
						<th class="table-item-img align-middle text-center">
							<img src="/images/equips/papulatus-mark.png">
						</th>
						<td class="flex-grow-1 align-middle text-center position-relative">
							<p class="font-footnote item-category position-absolute font-weight-bold text-uppercase m-0">Eye</p>
							<p class="m-0 text-center">Papulatus Mark</p>
						</td>
						<td class="table-user-controls align-middle text-center">
							<div class="d-flex justify-content-center align-items-center">
								<i class="fas fa-pen icons"></i>
							</div>
						</td>
						<td class="table-user-controls align-middle text-center">
							<div class="user-controls d-flex justify-content-center align-items-center">
								<i class="fas fa-pen icons"></i>
							</div>
						</td>
					</tr>
				</tbody>
			</table>-->
		</div>
		<div class="w-100 mb-3">
			<h2 class="font-subheader w-100 font-weight-bold mb-2">Total Set Effects</h2>
			<div class="font-content row w-100 d-flex justify-content-start align-items-center mb-4">
				<div class="col-3 d-flex justify-content-between">
					<div>Test test</div>
					<div>+123</div>
				</div>
				<div class="col-3 d-flex justify-content-between">
					<div>Test test</div>
					<div>+123</div>
				</div>
				<div class="col-3 d-flex justify-content-between">
					<div>Test test</div>
					<div>+123</div>
				</div>
				<div class="col-3 d-flex justify-content-between">
					<div>Test test</div>
					<div>+123</div>
				</div>
				<div class="col-3 d-flex justify-content-between">
					<div>Test test</div>
					<div>+123</div>
				</div>
				<div class="col-3 d-flex justify-content-between">
					<div>Test test</div>
					<div>+123</div>
				</div>
				<div class="col-3 d-flex justify-content-between">
					<div>Test test</div>
					<div>+123</div>
				</div>
				<div class="col-3 d-flex justify-content-between">
					<div>Test test</div>
					<div>+123</div>
				</div>
				<div class="col-3 d-flex justify-content-between">
					<div>Test test</div>
					<div>+123</div>
				</div>
				<div class="col-3 d-flex justify-content-between">
					<div>Test test</div>
					<div>+123</div>
				</div>
				<div class="col-3 d-flex justify-content-between">
					<div>Test test</div>
					<div>+123</div>
				</div>
			</div>
		</div>
		<div class="w-100 mb-3">
			<h2 class="font-subheader w-100 font-weight-bold mb-2">Total Set Effects</h2>
			<div class="font-content row w-100 d-flex justify-content-center align-items-center mb-4">
				<div class="rounded-lg">

				</div>
			</div>
		</div>
	</div>
</div>