<div class="sidebar font-sidebar col-md-2 d-none d-md-block p-0 pt-4 mt-2">
	<div class="font-button sidebar-btn active d-flex justify-content-center align-items-center position-relative text-center p-2 my-3" data-tab="calculator">
		<a href="./set-items" class="stretched-link text-decoration-none">Calculator</a>
	</div>
	<div class="font-button sidebar-btn d-flex justify-content-center align-items-center text-center p-2 mb-3" data-tab="info">About Set Effects</div>
	<div class="font-button sidebar-btn d-flex justify-content-center align-items-center text-center p-2 mb-3" data-tab="credits">Credits</div>
</div>