<div class="single-info-page w-100 align-items-center flex-column px-4 pt-4 px-lg-0 pt-lg-4" id="info">
	<div class="info-section w-100 d-flex justify-content-center align-items-center flex-column px-lg-4 pb-3">
		<div class="page-header-box w-100 d-flex justify-content-center align-items-center position-relative mb-2">
			<div class="w-100 border-top border-dark"></div>
			<h1 class="font-header w-100 text-center m-0">About Set Effects</h1>
			<div class="w-100 border-top border-dark"></div>
		</div>
		<div class="w-100 mb-3">
			
		</div>
		<div class="w-100 mb-3">
			
		</div>
		<div class="w-100 mb-3">
			
		</div>
		<div class="w-100 mb-3">
			
		</div>
	</div>
</div>