<div class="single-info-page active w-100 align-items-center flex-column px-4 pt-4 px-lg-0 pt-lg-4" id="calculator">
	<div class="info-section w-100 d-flex justify-content-center align-items-center flex-column px-lg-4 pb-3">
		<div class="page-header-box w-100 d-flex justify-content-center align-items-center position-relative mb-2">
			<div class="w-100 flex-grow-1 border-top border-dark"></div>
			<h1 class="font-header w-100 text-center m-0 px-0">Calculator</h1>
			<div class="w-100 flex-grow-1 border-top border-dark"></div>
		</div>
		<div class="w-100 mb-3 justify-content-between">
			<div class="col-12 col-lg-6"></div>
			<table class="font-table col-12 col-lg-6 table table-sm table-bordered table-hover mb-0 rounded-sm">
				<tbody>
					<tr class="table-rows">
						<th class="table-item-img align-middle text-center">
							<img src="/images/equips/acs-warrior-hat.png">
						</th>
						<td class="flex-grow-1 align-middle text-center position-relative">
							<p class="font-footnote item-category position-absolute font-weight-bold text-uppercase m-0">Hat</p>
							<p class="m-0 text-center">Arcaneshade Warrior Hat</p>
						</td>
						<td class="table-user-controls align-middle text-center">
							<div class="d-flex justify-content-center align-items-center">
								<i class="fas fa-pen icons"></i>
							</div>
						</td>
						<td class="table-user-controls align-middle text-center">
							<div class="d-flex justify-content-center align-items-center">
								<i class="fas fa-pen icons"></i>
							</div>
						</td>
					</tr>
					<tr class="table-rows">
						<th class="table-item-img align-middle text-center">
							<img src="/images/equips/meister-symbol.png">
						</th>
						<td class="flex-grow-1 align-middle text-center position-relative">
							<p class="font-footnote item-category position-absolute font-weight-bold text-uppercase m-0">Face</p>
							<p class="m-0 text-center">Special Red Magician Meister Symbol</p>
						</td>
						<td class="table-user-controls align-middle text-center">
							<div class="d-flex justify-content-center align-items-center">
								<i class="fas fa-pen icons"></i>
							</div>
						</td>
						<td class="table-user-controls align-middle text-center">
							<div class="user-controls d-flex justify-content-center align-items-center">
								<i class="fas fa-pen icons"></i>
							</div>
						</td>
					</tr>
					<tr class="table-rows">
						<th class="table-item-img align-middle text-center">
							<img src="/images/equips/papulatus-mark.png">
						</th>
						<td class="flex-grow-1 align-middle text-center position-relative">
							<p class="font-footnote item-category position-absolute font-weight-bold text-uppercase m-0">Eye</p>
							<p class="m-0 text-center">Papulatus Mark</p>
						</td>
						<td class="table-user-controls align-middle text-center">
							<div class="d-flex justify-content-center align-items-center">
								<i class="fas fa-pen icons"></i>
							</div>
						</td>
						<td class="table-user-controls align-middle text-center">
							<div class="user-controls d-flex justify-content-center align-items-center">
								<i class="fas fa-pen icons"></i>
							</div>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
		<div class="w-100 mb-3">
			<h2 class="font-subheader w-100 font-weight-bold mb-2">Total Set Effects</h2>
			<div class="font-content row w-100 d-flex justify-content-start align-items-center mb-4">
				<div class="col-3 d-flex justify-content-between">
					<div>Test test</div>
					<div>+123</div>
				</div>
				<div class="col-3 d-flex justify-content-between">
					<div>Test test</div>
					<div>+123</div>
				</div>
				<div class="col-3 d-flex justify-content-between">
					<div>Test test</div>
					<div>+123</div>
				</div>
				<div class="col-3 d-flex justify-content-between">
					<div>Test test</div>
					<div>+123</div>
				</div>
				<div class="col-3 d-flex justify-content-between">
					<div>Test test</div>
					<div>+123</div>
				</div>
				<div class="col-3 d-flex justify-content-between">
					<div>Test test</div>
					<div>+123</div>
				</div>
				<div class="col-3 d-flex justify-content-between">
					<div>Test test</div>
					<div>+123</div>
				</div>
				<div class="col-3 d-flex justify-content-between">
					<div>Test test</div>
					<div>+123</div>
				</div>
				<div class="col-3 d-flex justify-content-between">
					<div>Test test</div>
					<div>+123</div>
				</div>
				<div class="col-3 d-flex justify-content-between">
					<div>Test test</div>
					<div>+123</div>
				</div>
				<div class="col-3 d-flex justify-content-between">
					<div>Test test</div>
					<div>+123</div>
				</div>
			</div>
		</div>
		<div class="w-100 mb-3">
			<h2 class="font-subheader w-100 font-weight-bold mb-2">Total Set Effects</h2>
			<div class="font-content row w-100 d-flex justify-content-center align-items-center mb-4">
				<div class="rounded-lg">

				</div>
			</div>
		</div>
	</div>
</div>