<div class="sidebar font-sidebar col-md-2 d-none d-md-block p-0 pt-4 mt-2" id="sidebar">
    <div class="font-button sidebar-btn active d-flex justify-content-center align-items-center text-center p-2 my-3" data-tab="page-1">Page 1</div>
    <div class="font-button sidebar-btn d-flex justify-content-center align-items-center text-center p-2 mb-3" data-tab="page-2">Page 2</div>
    <div class="font-button sidebar-btn d-flex justify-content-center align-items-center text-center p-2 mb-3" data-tab="page-3">Page 3</div>
</div>