<div class="w-100 d-flex align-items-center flex-column px-4 pt-4" id="info">
	<div class="w-100 d-flex justify-content-center align-items-center flex-column px-lg-4 pb-3">
		<div class="w-100 d-flex justify-content-center align-items-center position-relative mb-2">
			<div class="w-100 flex-grow-1 border-top border-dark"></div>
			<h1 class="font-header w-100 text-center m-0 px-0">About Todd's Hammer</h1>
			<div class="w-100 flex-grow-1 border-top border-dark"></div>
		</div>
		<div class="w-100 mb-3">
			<h2 class="font-subheader font-weight-bold text-underline mb-2" id="info-intro">Introduction</h2>
			<div class="font-content w-100 d-flex justify-content-center align-items-center flex-column mb-4">
				<p class="text-justify">Todd's Hammer is a system that allows you to transfer certain upgrades on a lower level items onto a higher level item. You can access Todd's Hammer by clicking on the blue hammer icon at the bottom of your inventory <img src="./public/images/guide/todd-1.png">.</p>

				<div class="w-100 d-flex flex-column justify-content-center align-items-center text-center">
					<div class="d-flex">
						<img src="./public/images/guide/todd-2.png" class="img-fluid">
					</div>
					<p class="size-350 font-caption mb-0">The Todd's Hammer UI.</p>
				</div>
			</div>
		</div>
		<div class="w-100 mb-3">
			<h2 class="font-subheader w-100 font-weight-bold text-underline mb-2" id="info-process">The Todding Process</h2>
			<div class="font-content w-100 d-flex justify-content-center align-items-center flex-column mb-4">
				<p class="text-justify">The UI will highlight to players items that can undergo the transfer process (commonly called "todding") on the bottom left. Once you select an item to extract, the bottom right will display items that can receive the transferred upgrades.</p>

				<p class="w-100"><span class="font-weight-bold">Important:</span> The item being extracted will disappear after you execute the todding process.</p>

				<div class="w-100 d-flex flex-column justify-content-center align-items-center text-center">
					<div class="d-flex flex-column align-items-center">
						<img src="./public/images/guide/todd-3.png" class="img-fluid mb-1">
						<img src="./public/images/guide/todd-4.png" class="img-fluid">
					</div>
					<p class="size-350 font-caption">Select an equipment to extract from the provided list (top) and the UI will display all possible equipment that can receive the extracted item's upgrades (bottom).</p>
				</div>

				<h3 class="w-100 font-subsubheader font-weight-bold font-italic mb-0">Criteria for Todding</h3>
				<p class="text-justify">In order to todd an item, there are a few standard criteria to meet first. For easier reference in the subsequent sections, the item being extracted is termed Extracting Equipment (EE), and the item receiving these upgrades is termed Receiving Equipment (RE).</p>

				<table class="font-table size-720 table table-sm table-bordered table-hover mb-0">
					<thead>
						<tr>
							<th class="table-cols-125 text-center align-middle">Property</th>
							<th class="align-middle">Criteria</th>
						</tr>
					</thead>
					<tbody>
						<tr class="table-rows">
							<th class="table-cols-125 text-center align-middle">Item Level</th>
							<td class="align-middle py-2">
								<p>RE must be +1 to +20 levels of EE (for EE level 99 and below).<br/>
								RE must be +1 to +10 levels of EE (for EE level 100 and above).</p>
								<p>"Reduced Wearing Level" flame stats are not factored when determining item levels in todding.</p>

								<p class="mb-0">Examples:</p>
								<ul class="mb-0">
									<li>Okay - Blue Marine to Dragon Staff (Level 95 > 110)</li>
									<li>Okay - Utgard Staff to Fafnir Staff (Level 140 > 150)</li>
									<li>Not okay - Blue Varr Hat to Eclectic Coral (Level 100 > 120)</li>
									<li>Not okay - Dea Sidus Earrings to Will o' the Wisps (Level 130 > 130)</li>
									<li>Not okay - Fafnir Mana Taker to Arcaneshade Staff (Level 150 > 200)</li>
								</ul>
							</td>
						</tr>
						<tr class="table-rows">
							<th class="table-cols-125 text-center align-middle">Equipment Type</th>
							<td class="align-middle py-2">
								<p>EE and RE must have matching item types (e.g. Hat to Hat, Staff to Staff). Overalls can be todded onto both Top and Bottom item types and vice-versa.</p>
								<p>EE and RE can belong to different classes (e.g. Mage hat to Warrior hat).</p>

								<p class="mb-0">Certain items cannot use Todd's Hammer:</p>
								<ul class="mb-0">
									<li>Zero weapons</li>
									<li>Superior equipment</li>
									<li>Time-limited equipment</li>
									<li>Equipment with fixed potentials/upgrades</li>
									<li>Equipment that cannot contain potentials</li>
									<li>Cash items</li>
								</ul>
							</td>
						</tr>
					</tbody>
				</table>
			</div>

			<div class="font-content w-100 d-flex justify-content-center align-items-center flex-column mb-4">
				<h3 class="w-100 font-subsubheader font-weight-bold font-italic mb-0">Item Properties</h3>
				<p class="w-100 text-justify">The table below lists item properties that are/are not transferred during todding.</p>
				<table class="font-table size-720 table table-sm table-bordered table-hover mb-0">
					<thead>
						<tr>
							<th class="table-cols-125 text-center align-middle">Item Property</th>
							<th class="table-cols-125 text-center align-middle">Transferred to RE?</th>
							<th class="align-middle">Notes</th>
						</tr>
					</thead>
					<tbody>
						<tr class="table-rows">
							<th class="table-cols-125 text-center align-middle">
								<img src="./public/images/flames/flame-crimson.png">
								<img src="./public/images/flames/flame-rainbow.png"><br/>
								Bonus Stats / Flame stats
							</th>
							<td class="table-cols-125 text-center align-middle">No</td>
							<td class="align-middle">
								<p class="mb-0">RE retains the flame stats that it has during todding.</p>
							</td>
						</tr>
						<tr class="table-rows">
							<th class="table-cols-125 text-center align-middle">
								<img src="./public/images/items/spell-trace.png">
								<img src="./public/images/items/scroll-chaos.png"><br/>
								Spell Trace / Scroll upgrades
							</th>
							<td class="table-cols-125 text-center align-middle">No</td>
							<td class="align-middle">
								<p class="mb-2">If RE has upgrade slots left unused during todding, you will be given the choice to use up all upgrade slots with 100% scrolls free-of-charge.</p>
							</td>
						</tr>
						<tr class="table-rows">
							<th class="table-cols-125 text-center align-middle">
								<img src="./public/images/items/star-chair.png"><br/>
								Star Force
							</th>
							<td class="table-cols-125 text-center align-middle">Yes, minus 1 star</td>
							<td class="align-middle">
								<p>EE must have at least 1 star force.</p>
								<p class="mb-2">RE's existing star force is replaced by EE's star force (minus one).</p>
							</td>
						</tr>
						<tr class="table-rows">
							<th class="table-cols-125 text-center align-middle">
								<img src="./public/images/items/pot-scroll.png">
								<img src="./public/images/items/pot-scroll-add.png"><br/>
								(Additional) Potentials
							</th>
							<td class="table-cols-125 text-center align-middle">Yes, up to Epic potential</td>
							<td class="align-middle">
								<p>RE's existing potentials are replaced by EE's potentials.</p>
								<p>If EE has Unique/Legendary potential, downgrade potential lines to Epic rank of equivalent stat type (e.g. STR +12% at Legendary becomes STR +6% at Epic for a level 100+ item) during todding.</p>
								<p class="mb-2">If equivalent stat type does not exist (e.g. Boss Damage % does not exist on Epic potentials), randomly reroll that affected line during todding.</p>
							</td>
						</tr>
						<tr class="table-rows">
							<th class="table-cols-125 text-center align-middle">
								<img src="./public/images/souls/soul-magnus.png"><br/>
								Boss Souls
							</th>
							<td class="table-cols-125 text-center align-middle">Yes</td>
							<td class="align-middle">
								<p>RE's existing boss soul/soul weapon status is replaced by EE's boss soul/soul weapon status.</p>
								<p class="mb-2">If RE was not a soul weapon, automatically transform into one and receive EE's boss soul.</p>
							</td>
						</tr>
						<tr class="table-rows">
							<th class="table-cols-125 text-center align-middle">Tradability</th>
							<td class="table-cols-125 text-center align-middle">No</td>
							<td class="align-middle">
								<p class="mb-2">RE's tradability remains unaffected (e.g. if EE was tradable, but RE was untradable, RE remains untradable after todding).</p>
							</td>
						</tr>
						<tr class="table-rows">
							<th class="table-cols-125 text-center align-middle">
								<img src="./public/images/items/scroll-guardian.png">
								<img src="./public/images/items/scroll-shield.png">
								<img src="./public/images/items/scroll-protection.png">
								Special Scroll usage
							</th>
							<td class="table-cols-125 text-center align-middle">No</td>
							<td class="align-middle">
								<p class="mb-2">Any effects of Guardian Scrolls, Shielding Scrolls, Shielding Wards, etc. that exist on EE <span class="text-underline">will not</span> be transferred to RE.</p>
							</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
		<div class="w-100 mb-3">
			<h2 class="w-100 font-subheader font-weight-bold text-underline mb-2" id="info-benefits">Benefits of Todding</h2>
			<div class="font-content w-100 d-flex justify-content-center align-items-center flex-column mb-4">
				
			</div>
		</div>
		<div class="w-100 mb-3">
			<h2 class="w-100 font-subheader font-weight-bold text-underline mb-2" id="info-sequence">Todding Sequence</h2>
			<div class="font-content w-100 d-flex justify-content-center align-items-center flex-column mb-4">
				<p class="text-justify">The majority benefit of todding is on cost-saving -- you save star forcing costs (only need to star back one lost star), and can retain useful potentials you found on items from lower levels by todding upwards.</p>
				<p class="text-justify">The table below shows todding sequences for various item parts. Lower level equipment with large varieties for todding are not shown in this table. There may be todding alternatives not mentioned for certain item parts. No image on the level range specified indicates no possible todding item available.</p>
				<table class="font-table size-720 table table-sm table-bordered table-hover">
					<thead>
						<tr class="table-rows">
							<th class="text-center align-middle">Hat / Top / Bottom / Overall</th>
						</tr>
					</thead>
					<tbody class="font-small">
						<tr class="table-rows">
							<th class="text-center align-middle">
								<div class="d-flex justify-content-center align-items-center flex-wrap">
									<div class="d-flex flex-column">
										<span>120</span>
										<div class="todd-item-img-div d-flex align-items-center mx-2">
											<img class="item-img" src="./public/images/equips/overall/necro-warrior-suit.png" data-toggle="tooltip" data-placement="bottom" title="Necro series">
											<img class="item-img" src="./public/images/equips/overall/eclectic-warrior-suit.png" data-toggle="tooltip" data-placement="bottom" title="Eclectic series">
										</div>
									</div>
									&raquo;
									<div class="d-flex flex-column">
										<span>130</span>
										<div class="todd-item-img-div d-flex align-items-center mx-2">
											<img class="item-img" src="./public/images/equips/overall/rvl-warrior-suit.png" data-toggle="tooltip" data-placement="bottom" title="Royal Von Leon series">
											<img class="item-img" src="./public/images/equips/overall/muspell-warrior-suit.png" data-toggle="tooltip" data-placement="bottom" title="Muspell series">
										</div>
									</div>
									&raquo;
									<div class="d-flex flex-column">
										<span>140</span>
										<div class="todd-item-img-div d-flex align-items-center mx-2">
											<img class="item-img" src="./public/images/equips/overall/empress-warrior-suit.png" data-toggle="tooltip" data-placement="bottom" title="Empress series">
											<img class="item-img" src="./public/images/equips/overall/fensalir-warrior-suit.png" data-toggle="tooltip" data-placement="bottom" title="Fensalir series">
										</div>
									</div>
									&raquo;
									<div class="d-flex flex-column">
										<span>150</span>
										<div class="todd-item-img-div d-flex align-items-center mx-2">
											<img class="item-img" src="./public/images/equips/hat/faf-warrior-hat.png" data-toggle="tooltip" data-placement="bottom" title="Highness series">
											<img class="item-img" src="./public/images/equips/top/faf-warrior-top.png" data-toggle="tooltip" data-placement="bottom" title="Eagle Eye series">
											<img class="item-img" src="./public/images/equips/bottom/faf-warrior-bottom.png" data-toggle="tooltip" data-placement="bottom" title="Trickster series">
										</div>
									</div>
									&raquo;
									<div class="d-flex flex-column">
										<span>160</span>
										<div class="todd-item-img-div d-flex align-items-center mx-2">
											<img class="item-img" src="./public/images/equips/overall/abs-warrior-overall.png" data-toggle="tooltip" data-placement="bottom" title="Absolabs series">
										</div>
									</div>
									&raquo;
									<div class="d-flex flex-column">
										<span class="mx-2">170</span>
									</div>
									&raquo;
									<div class="d-flex flex-column">
										<span class="mx-2">180</span>
									</div>
									&raquo;
									<div class="d-flex flex-column">
										<span class="mx-2">190</span>
									</div>
									&raquo;
									<div class="d-flex flex-column">
										<span>200</span>
										<div class="todd-item-img-div d-flex align-items-center mx-2">
											<img class="item-img" src="./public/images/equips/overall/acs-knight-suit.png" data-toggle="tooltip" data-placement="bottom" title="Arcaneshade series">
										</div>
									</div>
								</div>
							</th>
						</tr>
					</tbody>
				</table>

				<table class="font-table size-720 table table-sm table-bordered table-hover">
					<thead>
						<tr class="table-rows">
							<th class="text-center align-middle">Glove / Shoe</th>
						</tr>
					</thead>
					<tbody class="font-small">
						<tr class="table-rows">
							<th class="text-center align-middle">
								<div class="d-flex justify-content-center align-items-center flex-wrap">
									<div class="d-flex flex-column">
										<span>120</span>
										<div class="todd-item-img-div d-flex align-items-center mx-2">
											<img class="item-img" src="./public/images/equips/gloves/necro-glove.png" data-toggle="tooltip" data-placement="bottom" title="Necro series">
											<img class="item-img" src="./public/images/equips/gloves/eclectic-warrior-glove.png" data-toggle="tooltip" data-placement="bottom" title="Eclectic series">
										</div>
									</div>
									&raquo;
									<div class="d-flex flex-column">
										<span>130</span>
										<div class="todd-item-img-div d-flex align-items-center mx-2">
											<img class="item-img" src="./public/images/equips/gloves/rvl-glove.png" data-toggle="tooltip" data-placement="bottom" title="Royal Von Leon series">
											<img class="item-img" src="./public/images/equips/gloves/muspell-warrior-glove.png" data-toggle="tooltip" data-placement="bottom" title="Muspell series">
										</div>
									</div>
									&raquo;
									<div class="d-flex flex-column">
										<span>140</span>
										<div class="todd-item-img-div d-flex align-items-center mx-2">
											<img class="item-img" src="./public/images/equips/gloves/empress-warrior-glove.png" data-toggle="tooltip" data-placement="bottom" title="Empress series">
											<img class="item-img" src="./public/images/equips/gloves/fens-glove.png" data-toggle="tooltip" data-placement="bottom" title="Fensalir series">
										</div>
									</div>
									&raquo;
									<div class="d-flex flex-column">
										<span>150</span>
										<div class="todd-item-img-div d-flex align-items-center mx-2">
											<img class="item-img" src="./public/images/equips/gloves/antique-root-mitts.png" data-toggle="tooltip" data-placement="bottom" title="Antique Root series">
										</div>
									</div>
									&raquo;
									<div class="d-flex flex-column">
										<span>160</span>
										<div class="todd-item-img-div d-flex align-items-center mx-2">
											<img class="item-img" src="./public/images/equips/gloves/abs-glove.png" data-toggle="tooltip" data-placement="bottom" title="Absolabs series">
										</div>
									</div>
									&raquo;
									<div class="d-flex flex-column">
										<span class="mx-2">170</span>
									</div>
									&raquo;
									<div class="d-flex flex-column">
										<span class="mx-2">180</span>
									</div>
									&raquo;
									<div class="d-flex flex-column">
										<span class="mx-2">190</span>
									</div>
									&raquo;
									<div class="d-flex flex-column">
										<span>200</span>
										<div class="todd-item-img-div d-flex align-items-center mx-2">
											<img class="item-img" src="./public/images/equips/gloves/acs-glove.png" data-toggle="tooltip" data-placement="bottom" title="Arcaneshade series">
										</div>
									</div>
								</div>
							</th>
						</tr>
					</tbody>
				</table>

				<table class="font-table size-720 table table-sm table-bordered table-hover">
					<thead>
						<tr class="table-rows">
							<th class="text-center align-middle">Cape</th>
						</tr>
					</thead>
					<tbody class="font-small">
						<tr class="table-rows">
							<th class="text-center align-middle">
								<div class="d-flex justify-content-center align-items-center flex-wrap">
									<div class="d-flex flex-column">
										<span>100</span>
										<div class="todd-item-img-div d-flex align-items-center mx-2">
											<img class="item-img" src="./public/images/equips/cape/black-cape.png" data-toggle="tooltip" data-placement="bottom" title="Black/Kuro Cape">
											<img class="item-img" src="./public/images/equips/cape/10th-anniv-cape.png" data-toggle="tooltip" data-placement="bottom" title="10th Anniversary Saint Cape">
										</div>
									</div>
									&raquo;
									<div class="d-flex flex-column">
										<span>110</span>
										<div class="todd-item-img-div d-flex align-items-center mx-2">
											<img class="item-img" src="./public/images/equips/cape/maple-treasure-cape.png" data-toggle="tooltip" data-placement="bottom" title="Maple Treasure Cape">
										</div>
									</div>
									&raquo;
									<div class="d-flex flex-column">
										<span>115</span>
										<div class="todd-item-img-div d-flex align-items-center mx-2">
											<img class="item-img" src="./public/images/equips/cape/ludibrium-cape.png" data-toggle="tooltip" data-placement="bottom" title="Ludibrium Cape">
										</div>
									</div>
									&raquo;
									<div class="d-flex flex-column">
										<span>120</span>
										<div class="todd-item-img-div d-flex align-items-center mx-2">
											<img class="item-img" src="./public/images/equips/cape/timeless-moonlight.png" data-toggle="tooltip" data-placement="bottom" title="Timeless Moonlight (Smithing level 8)">
										</div>
									</div>
									&raquo;
									<div class="d-flex flex-column">
										<span>130</span>
										<div class="todd-item-img-div d-flex align-items-center mx-2">
											<img class="item-img" src="./public/images/equips/cape/rvl-cape.png" data-toggle="tooltip" data-placement="bottom" title="Royal Von Leon series">
										</div>
									</div>
									&raquo;
									<div class="d-flex flex-column">
										<span>140</span>
										<div class="todd-item-img-div d-flex align-items-center mx-2">
											<img class="item-img" src="./public/images/equips/cape/empress-warrior-cape.png" data-toggle="tooltip" data-placement="bottom" title="Empress series">
											<img class="item-img" src="./public/images/equips/cape/fensalir-cape.png" data-toggle="tooltip" data-placement="bottom" title="Fensalir series">
										</div>
									</div>
									&raquo;
									<div class="d-flex flex-column">
										<span>150</span>
										<div class="todd-item-img-div d-flex align-items-center mx-2">
											<img class="item-img" src="./public/images/equips/cape/angry-zakum-cape.png" data-toggle="tooltip" data-placement="bottom" title="Angry Zakum Cape">
										</div>
									</div>
									&raquo;
									<div class="d-flex flex-column">
										<span>160</span>
										<div class="todd-item-img-div d-flex align-items-center mx-2">
											<img class="item-img" src="./public/images/equips/cape/abs-cape.png" data-toggle="tooltip" data-placement="bottom" title="Absolabs series">
										</div>
									</div>
									&raquo;
									<div class="d-flex flex-column">
										<span class="mx-2">170</span>
									</div>
									&raquo;
									<div class="d-flex flex-column">
										<span class="mx-2">180</span>
									</div>
									&raquo;
									<div class="d-flex flex-column">
										<span class="mx-2">190</span>
									</div>
									&raquo;
									<div class="d-flex flex-column">
										<span>200</span>
										<div class="todd-item-img-div d-flex align-items-center mx-2">
											<img class="item-img" src="./public/images/equips/cape/acs-cape.png" data-toggle="tooltip" data-placement="bottom" title="Arcaneshade series">
										</div>
									</div>
								</div>
							</th>
						</tr>
					</tbody>
				</table>

				<table class="font-table size-720 table table-sm table-bordered table-hover">
					<thead>
						<tr class="table-rows">
							<th class="text-center align-middle">Weapon</th>
						</tr>
					</thead>
					<tr class="table-rows">
						<th class="text-center align-middle">
							<div class="d-flex justify-content-center align-items-center flex-wrap">
								<div class="d-flex flex-column">
									<span>110</span>
									<div class="todd-item-img-div d-flex align-items-center mx-2">
										<img class="item-img" src="./public/images/equips/weapon/dragon-1h-sword.png" data-toggle="tooltip" data-placement="bottom" title="Dragon series">
										<img class="item-img" src="./public/images/equips/weapon/zakum-1h-sword.png" data-toggle="tooltip" data-placement="bottom" title="Zakum series">
									</div>
								</div>
								&raquo;
								<div class="d-flex flex-column">
									<span>120</span>
									<div class="todd-item-img-div d-flex align-items-center mx-2">
										<img class="item-img" src="./public/images/equips/weapon/necro-1h-sword.png" data-toggle="tooltip" data-placement="bottom" title="Necro series">
										<img class="item-img" src="./public/images/equips/weapon/briser-1h-sword.png" data-toggle="tooltip" data-placement="bottom" title="Briser series">
									</div>
								</div>
								&raquo;
								<div class="d-flex flex-column">
									<span>130</span>
									<div class="todd-item-img-div d-flex align-items-center mx-2">
										<img class="item-img" src="./public/images/equips/weapon/rvl-1h-sword.png" data-toggle="tooltip" data-placement="bottom" title="Royal Von Leon series">
										<img class="item-img" src="./public/images/equips/weapon/jaihin-1h-sword.png" data-toggle="tooltip" data-placement="bottom" title="Jaihin series">
									</div>
								</div>
								&raquo;
								<div class="d-flex flex-column">
									<span>140</span>
									<div class="todd-item-img-div d-flex align-items-center mx-2">
										<img class="item-img" src="./public/images/equips/weapon/empress-warrior-1h-sword.png" data-toggle="tooltip" data-placement="bottom" title="Empress series">
										<img class="item-img" src="./public/images/equips/weapon/utgard-1h-sword.png" data-toggle="tooltip" data-placement="bottom" title="Utgard series">
									</div>
								</div>
								&raquo;
								<div class="d-flex flex-column">
									<span>150</span>
									<div class="todd-item-img-div d-flex align-items-center mx-2">
										<img class="item-img" src="./public/images/equips/weapon/faf-1h-sword.png" data-toggle="tooltip" data-placement="bottom" title="Fafnir series">
									</div>
								</div>
								&raquo;
								<div class="d-flex flex-column">
									<span>160</span>
									<div class="todd-item-img-div d-flex align-items-center mx-2">
										<img class="item-img" src="./public/images/equips/weapon/abs-1h-sword.png" data-toggle="tooltip" data-placement="bottom" title="Absolabs series">
									</div>
								</div>
								&raquo;
								<div class="d-flex flex-column">
									<span class="mx-2">170</span>
								</div>
								&raquo;
								<div class="d-flex flex-column">
									<span class="mx-2">180</span>
								</div>
								&raquo;
								<div class="d-flex flex-column">
									<span class="mx-2">190</span>
								</div>
								&raquo;
								<div class="d-flex flex-column">
									<span>200</span>
									<div class="todd-item-img-div d-flex align-items-center mx-2">
										<img class="item-img" src="./public/images/equips/weapon/acs-1h-sword.png" data-toggle="tooltip" data-placement="bottom" title="Arcaneshade series">
									</div>
								</div>
							</div>
						</th>
					</tr>
				</table>
						
				<table class="font-table size-720 table table-sm table-bordered table-hover">
					<thead>
						<tr class="table-rows">
							<th class="text-center align-middle">Face Accessory</th>
						</tr>
					</thead>
					<tbody>
						<tr class="table-rows">
							<th class="text-center align-middle">
								<div class="d-flex justify-content-center align-items-center flex-wrap">
									<div class="d-flex flex-column">
										<span>110</span>
										<div class="todd-item-img-div d-flex align-items-center mx-2">
											<img class="item-img" src="./public/images/equips/face/condensed-crystal.png" data-toggle="tooltip" data-placement="bottom" title="Condensed Strength Crystalline">
										</div>
									</div>
									&raquo;
									<div class="d-flex flex-column">
										<span class="mx-2">120</span>
									</div>
									&raquo;
									<div class="d-flex flex-column">
										<span>130</span>
										<div class="todd-item-img-div d-flex align-items-center mx-2">
											<img class="item-img" src="./public/images/equips/face/meister-symbol.png" data-toggle="tooltip" data-placement="bottom" title="Shiny Red Meister Symbol series">
										</div>
									</div>
									&raquo;
									<div class="d-flex flex-column">
										<span class="mx-2">140</span>
									</div>
									&raquo;
									<div class="d-flex flex-column">
										<span class="mx-2">150</span>
									</div>
									&raquo;
									<div class="d-flex flex-column">
										<span>160</span>
										<div class="todd-item-img-div d-flex align-items-center mx-2">
											<img class="item-img" src="./public/images/equips/face/lotus-mark.png" data-toggle="tooltip" data-placement="bottom" title="Loose Control Machine Mark">
										</div>
									</div>
								</div>
							</th>
						</tr>
					</tbody>
				</table>

				<table class="font-table size-720 table table-sm table-bordered table-hover">
					<thead>
						<tr class="table-rows">
							<th class="text-center align-middle">Eye Accessory</th>
						</tr>
					</thead>
					<tbody>
						<tr class="table-rows">
							<th class="text-center align-middle">
								<div class="d-flex justify-content-center align-items-center flex-wrap">
									<div class="d-flex flex-column">
										<span>75</span>
										<div class="todd-item-img-div d-flex align-items-center mx-2">
											<img class="item-img" src="./public/images/equips/eye/michael-new-glasses.png" data-toggle="tooltip" data-placement="bottom" title="Michael's New Glasses">
										</div>
									</div>
									&raquo;
									<div class="d-flex flex-column">
										<span>90</span>
										<div class="todd-item-img-div d-flex align-items-center mx-2">
											<img class="item-img" src="./public/images/equips/eye/michaela-new-glasses.png" data-toggle="tooltip" data-placement="bottom" title="Michaela's New Glasses">
										</div>
									</div>
									&raquo;
									<div class="d-flex flex-column">
										<span>100</span>
										<div class="todd-item-img-div d-flex align-items-center mx-2">
											<img class="item-img" src="./public/images/equips/eye/aqua-letter.png" data-toggle="tooltip" data-placement="bottom" title="Aqua Eye Letter Decoration">
										</div>
									</div>
									&raquo;
									<div class="d-flex flex-column">
										<span class="mx-2">110</span>
									</div>
									&raquo;
									<div class="d-flex flex-column">
										<span>115</span>
										<div class="todd-item-img-div d-flex align-items-center mx-2">
											<img class="item-img" src="./public/images/equips/eye/mystic-eye.png" data-toggle="tooltip" data-placement="bottom" title="Mystic Eye Accessory">
										</div>
									</div>
									&raquo;
									<div class="d-flex flex-column">
										<span>125</span>
										<div class="todd-item-img-div d-flex align-items-center mx-2">
											<img class="item-img" src="./public/images/equips/eye/kenta-new-goggles.png" data-toggle="tooltip" data-placement="bottom" title="Kenta's New Goggles">
										</div>
									</div>
									&raquo;
									<div class="d-flex flex-column">
										<span>135</span>
										<div class="todd-item-img-div d-flex align-items-center mx-2">
											<img class="item-img" src="./public/images/equips/eye/black-bean-mark.png" data-toggle="tooltip" data-placement="bottom" title="Black Bean Mark">
										</div>
									</div>
									&raquo;
									<div class="d-flex flex-column">
										<span>145</span>
										<div class="todd-item-img-div d-flex align-items-center mx-2">
											<img class="item-img" src="./public/images/equips/eye/papulatus-mark.png" data-toggle="tooltip" data-placement="bottom" title="Papulatus Mark">
										</div>
									</div>
									&raquo;
									<div class="d-flex flex-column">
										<span class="mx-2">150</span>
									</div>
									&raquo;
									<div class="d-flex flex-column">
										<span>160</span>
										<div class="todd-item-img-div d-flex align-items-center mx-2">
											<img class="item-img" src="./public/images/equips/eye/damien-eye.png" data-toggle="tooltip" data-placement="bottom" title="Damien Eye Patch">
										</div>
									</div>
								</div>
							</th>
						</tr>
					</tbody>
				</table>

				<table class="font-table size-720 table table-sm table-bordered table-hover">
					<thead>
						<tr class="table-rows">
							<th class="text-center align-middle">Earring</th>
						</tr>
					</thead>
					<tbody>
						<tr class="table-rows">
							<th class="text-center align-middle">
								<div class="d-flex justify-content-center align-items-center flex-wrap">
									<div class="d-flex flex-column">
										<span>30</span>
										<div class="todd-item-img-div d-flex align-items-center mx-2">
											<img class="item-img" src="./public/images/equips/earring/octopus-earrings.png" data-toggle="tooltip" data-placement="bottom" title="Octopus Earrings (Gold Beach theme dungeon)">
										</div>
									</div>
									&raquo;
									<div class="d-flex flex-column">
										<span>40</span>
										<div class="todd-item-img-div d-flex align-items-center mx-2">
											<img class="item-img" src="./public/images/equips/earring/blue-moon.png" data-toggle="tooltip" data-placement="bottom" title="Blue Moon (Todding introduction quest)">
										</div>
									</div>
									&raquo;
									<div class="d-flex flex-column">
										<span>50</span>
										<div class="todd-item-img-div d-flex align-items-center mx-2">
											<img class="item-img" src="./public/images/equips/earring/skull-earrings.png" data-toggle="tooltip" data-placement="bottom" title="Skull Earrings (Todding introduction quest)">
										</div>
									</div>
									&raquo;
									<div class="d-flex flex-column">
										<span>60</span>
										<div class="todd-item-img-div d-flex align-items-center mx-2">
											<img class="item-img" src="./public/images/equips/earring/pink-flower-earrings.png" data-toggle="tooltip" data-placement="bottom" title="Pink-Flowered Earrings (Accessory Crafting level 3)">
										</div>
									</div>
									&raquo;
									<div class="d-flex flex-column">
										<span>70</span>
										<div class="todd-item-img-div d-flex align-items-center mx-2">
											<img class="item-img" src="./public/images/equips/earring/metal-silver-earrings.png" data-toggle="tooltip" data-placement="bottom" title="Metal Silver Earrings (Accessory Crafting level 4)">
										</div>
									</div>
									&raquo;
									<div class="d-flex flex-column">
										<span>75</span>
										<div class="todd-item-img-div d-flex align-items-center mx-2">
											<img class="item-img" src="./public/images/equips/earring/half-earrings.png" data-toggle="tooltip" data-placement="bottom" title="Half Earrings (Accessory Crafting level 4)">
										</div>
									</div>
									&raquo;
									<div class="d-flex flex-column">
										<span>80</span>
										<div class="todd-item-img-div d-flex align-items-center mx-2">
											<img class="item-img" src="./public/images/equips/earring/metal-heart-earrings.png" data-toggle="tooltip" data-placement="bottom" title="Metal Heart Earrings (Accessory Crafting level 5)">
										</div>
									</div>
									&raquo;
									<div class="d-flex flex-column">
										<span>85</span>
										<div class="todd-item-img-div d-flex align-items-center mx-2">
											<img class="item-img" src="./public/images/equips/earring/strawberry-earrings.png" data-toggle="tooltip" data-placement="bottom" title="Strawberry Earrings (Accessory Crafting level 5)">
										</div>
									</div>
									&raquo;
									<div class="d-flex flex-column">
										<span>90</span>
										<div class="todd-item-img-div d-flex align-items-center mx-2">
											<img class="item-img" src="./public/images/equips/earring/rose-earrings.png" data-toggle="tooltip" data-placement="bottom" title="Rose Earrings (Accessory Crafting level 6)">
										</div>
									</div>
									&raquo;
									<div class="d-flex flex-column">
										<span>100</span>
										<div class="todd-item-img-div d-flex align-items-center mx-2">
											<img class="item-img" src="./public/images/equips/earring/sword-earrings.png" data-toggle="tooltip" data-placement="bottom" title="Sword Earrings (Accessory Crafting level 7)">
										</div>
									</div>
									&raquo;
									<div class="d-flex flex-column">
										<span>110</span>
										<div class="todd-item-img-div d-flex align-items-center mx-2">
											<img class="item-img" src="./public/images/equips/earring/ifia-earrings.png" data-toggle="tooltip" data-placement="bottom" title="Ifia's Earrings">
										</div>
									</div>
									&raquo;
									<div class="d-flex flex-column">
										<span>120</span>
										<div class="todd-item-img-div d-flex align-items-center mx-2">
											<img class="item-img" src="./public/images/equips/earring/shield-earrings.png" data-toggle="tooltip" data-placement="bottom" title="Shield Earrings (Accessory Crafting level 9)">
										</div>
									</div>
									&raquo;
									<div class="d-flex flex-column">
										<span>130</span>
										<div class="todd-item-img-div d-flex align-items-center mx-2">
											<img class="item-img" src="./public/images/equips/earring/dea-sidus.png" data-toggle="tooltip" data-placement="bottom" title="Dea Sidus Earrings">
											<img class="item-img" src="./public/images/equips/earring/will-o-wisps.png" data-toggle="tooltip" data-placement="bottom" title="Will o' the Wisps">
										</div>
									</div>
									&raquo;
									<div class="d-flex flex-column">
										<span>140</span>
										<div class="todd-item-img-div d-flex align-items-center mx-2">
											<img class="item-img" src="./public/images/equips/earring/meister-studs.png" data-toggle="tooltip" data-placement="bottom" title="Meister Ear Studs">
										</div>
									</div>
									&raquo;
									<div class="d-flex flex-column">
										<span class="mx-2">150</span>
									</div>
									&raquo;
									<div class="d-flex flex-column">
										<span>160</span>
										<div class="todd-item-img-div d-flex align-items-center mx-2">
											<img class="item-img" src="./public/images/equips/earring/commander-force-earrings.png" data-toggle="tooltip" data-placement="bottom" title="Commander Force Earrings">
										</div>
									</div>
								</div>
							</th>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>
</div>