<%- include("../partials/header") %>
<%- include("../partials/navbar") %>

<div class="container-fluid content d-flex flex-column flex-md-row p-0">
	<%- include("../partials/sidebar") %>
	<div class="main-content-div col p-0 position-relative">
		<div class="w-100 align-items-center flex-column px-4 pt-4 px-lg-0 pt-lg-4" id="calculator">
			<div class="w-100 d-flex justify-content-center align-items-center flex-column px-lg-4 pb-3">
				<div class="w-100 d-flex justify-content-center align-items-center position-relative mb-2">
					<div class="w-100 flex-grow-1 border-top border-dark"></div>
					<h1 class="font-header w-100 text-center m-0 px-0">Calculator</h1>
					<div class="w-100 flex-grow-1 border-top border-dark"></div>
				</div>
				<div class="w-100 mb-3">
					<h2 class="font-subheader w-100 font-weight-bold text-underline mb-2">Instructions</h2>
					<div class="font-content w-100 d-flex justify-content-center align-items-center flex-column mb-4">
						<p class="w-100 text-justify">This calculator will display all the set effects your character has based on what items are equipped. To begin, follow the steps listed below.</p>
					</div>
					<div class="font-content w-100 d-flex justify-content-center align-items-center flex-column mb-4">
						<h3 class="w-100 font-subsubheader font-italic mb-0">Step 1: Select your character's job type</h3>
						<div class="w-100 d-flex justify-content-center align-items-center flex-column position-relative">
							<div class="job-choice-div w-100 d-flex justify-content-center align-items-center py-3">
								<div class="single-option-select rounded-lg position-relative py-1 px-2 mx-2">
									<a href="./maple/calc/set-effects/warrior" class="stretched-link text-decoration-none">Warrior</a>
								</div>
								<div class="single-option-select rounded-lg position-relative py-1 px-2 mx-2">
									<a href="./maple/calc/set-effects/mage" class="stretched-link text-decoration-none">Mage</a>
								</div>
								<div class="single-option-select rounded-lg position-relative py-1 px-2 mx-2">
									<a href="./maple/calc/set-effects/archer" class="stretched-link text-decoration-none">Archer</a>
								</div>
								<div class="single-option-select rounded-lg position-relative py-1 px-2 mx-2">
									<a href="./maple/calc/set-effects/thief" class="stretched-link text-decoration-none">Thief</a>
								</div>
								<div class="single-option-select rounded-lg position-relative py-1 px-2 mx-2">
									<a href="./maple/calc/set-effects/pirate" class="stretched-link text-decoration-none">Pirate</a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<%- include("../partials/footer") %>