<%- include("../partials/header") %>
<%- include("../partials/navbar") %>

<div class="container-fluid content d-flex flex-column flex-md-row p-0">
	<%- include("../partials/sidebar") %>
	<div class="main-content-div col px-0 position-relative">
		<div class="w-100 d-flex align-items-center flex-column px-4 pt-4">
			<div class="w-100 d-flex justify-content-center align-items-center flex-column px-lg-4 pb-3">
				<div class="w-100 d-flex justify-content-center align-items-center position-relative mb-2">
					<div class="w-100 flex-grow-1 border-top border-dark"></div>
					<h1 class="font-header w-100 text-center m-0 px-0">Crossword Puzzle</h1>
					<div class="w-100 flex-grow-1 border-top border-dark"></div>
				</div>

				<div class="w-100 mb-3">
					<div class="font-content w-100 d-flex justify-content-center align-items-center flex-column mb-4">
						<p class="text-justify mb-0">Just a simple crossword puzzle I created for fun. Note that these answers are based on MapleSEA names, so your answer may be affected! Once you've filled in all the boxes, check your answer and see if you got them all right. Once the whole crossword is correct, a surprise awaits you. Enjoy!</p>
					</div>

					<div class="font-form answer-prompt d-none mb-2 py-1 px-3 border border-dark text-center font-weight-bold rounded-lg"></div>
					<div class="w-100 d-flex flex-column align-items-center flex-xl-row align-items-xl-start">
						<form class="crossword-board-form mb-3 position-relative">
							<div class="crossword-board w-100 h-100"></div>
							<button type="submit" class="submit-ans-btn btn btn-outline-warning font-weight-bold position-absolute">Submit Answer</button>
							<div class="crossword-board-blocker d-none w-100 h-100 position-absolute"></div>
						</form>
						<div class="font-form crossword-clues px-3">
							<div class="mb-3">
								<p class="font-weight-bold mb-1">Across:</p>
								<p class="clue clue-1 mb-2 px-2" data-clue-num="1">1. The rock giant</p>
								<p class="clue clue-2 mb-2 px-2" data-clue-num="2">2. A place lost in time</p>
								<p class="clue clue-3 mb-2 px-2" data-clue-num="3">3. "You who walk in the steps of regret… the end will leave only regrets..."</p>
								<p class="clue clue-6 mb-2 px-2" data-clue-num="6">6. Once a friend, now a foe; originally part of a trio of friends</p>
								<p class="clue clue-9 mb-2 px-2" data-clue-num="9">9. Perion in <span class="text-underline">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span></p>
								<p class="clue clue-10 mb-2 px-2" data-clue-num="10" data-toggle="tooltip" data-placement="top" title="<img src='https://whacky-website.s3-ap-southeast-1.amazonaws.com/images/event/6-10.png'>">10. <span class="font-weight-bold">(Mouseover for image)</span> _____heart</p>
								<p class="clue clue-12 mb-2 px-2" data-clue-num="12" data-toggle="tooltip" data-placement="top" title="<img src='https://whacky-website.s3-ap-southeast-1.amazonaws.com/images/event/6-12.png'>">12. <span class="font-weight-bold">(Mouseover for image)</span> Rune of <span class="text-underline">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span></p>
								<p class="clue clue-15 mb-2 px-2" data-clue-num="15">15. The Queen in pursuit of eternal youth</p>
								<p class="clue clue-17 mb-2 px-2" data-clue-num="17" data-toggle="tooltip" data-placement="top" title="<img src='https://whacky-website.s3-ap-southeast-1.amazonaws.com/images/event/6-17.png'>">17. <span class="font-weight-bold">(Mouseover for image)</span> Who is this?</p>
								<p class="clue clue-19 mb-2 px-2" data-clue-num="19">19. "Cough, cough..."</p>
							</div>

							<div class="mb-3">
								<p class="font-weight-bold mb-1">Down:</p>
								<p class="clue clue-4 mb-2 px-2" data-clue-num="4">4. An undead creature you come across before finding Moira</p>
								<p class="clue clue-5 mb-2 px-2" data-clue-num="5">5. A hidden altar belonging to the Black Mage resides here</p>
								<p class="clue clue-7 mb-2 px-2" data-clue-num="7">7. The direct way to get between Herb Town and Aquarium is through me!</p>
								<p class="clue clue-8 mb-2 px-2" data-clue-num="8">8. Town that has the "Sleeping Beauty's Sea"</p>
								<p class="clue clue-11 mb-2 px-2" data-clue-num="11">11. A gigantic creature who ate an equally gigantic sandwich</p>
								<p class="clue clue-13 mb-2 px-2" data-clue-num="13">13. The village where everyone is named after different types of cheese</p>
								<p class="clue clue-14 mb-2 px-2" data-clue-num="14">14. Before taking over as Transcendent (and hence Aiona), Tana wielded the power of <span class="text-underline">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span></p>
								<p class="clue clue-16 mb-2 px-2" data-clue-num="16" data-toggle="tooltip" data-placement="top" title="<img src='https://whacky-website.s3-ap-southeast-1.amazonaws.com/images/event/6-16.png'>">16. <span class="font-weight-bold">(Mouseover for image)</span> Which town has this town icon?</p>
								<p class="clue clue-18 mb-2 px-2" data-clue-num="18" data-toggle="tooltip" data-placement="top" title="<img src='https://whacky-website.s3-ap-southeast-1.amazonaws.com/images/event/6-18.png'>">18. <span class="font-weight-bold">(Mouseover for image)</span> Who is this?</p>
								<p class="clue clue-20 mb-2 px-2" data-clue-num="20" data-toggle="tooltip" data-placement="top" title="<img src='https://whacky-website.s3-ap-southeast-1.amazonaws.com/images/event/6-20.png'>">20. <span class="font-weight-bold">(Mouseover for image)</span> What monster is this?</p>
							</div>
						</div>
						<div class="font-form color-clues w-100 px-3 pt-3 pt-xl-5 d-none flex-column align-items-center">
							<p>Feel free to type into the squares below while sorting through the letters!</p>
							<div class="border border-dark d-flex flex-column align-items-center px-3">
								<div class="color-clue-single d-flex mb-2 mt-3" style="background-color: #41A317">
									<div class="h-100 border border-dark">
										<input type="text" class="w-100 h-100 font-weight-bold border-0 bg-transparent text-center text-uppercase" minlength="1" maxlength="1">
									</div>
									<div class="h-100 border border-dark">
										<input type="text" class="w-100 h-100 font-weight-bold border-0 bg-transparent text-center text-uppercase" minlength="1" maxlength="1">
									</div>
									<div class="h-100 border border-dark">
										<input type="text" class="w-100 h-100 font-weight-bold border-0 bg-transparent text-center text-uppercase" minlength="1" maxlength="1">
									</div>
									<div class="h-100 border border-dark">
										<input type="text" class="w-100 h-100 font-weight-bold border-0 bg-transparent text-center text-uppercase" minlength="1" maxlength="1">
									</div>
									<div class="h-100 border border-dark">
										<input type="text" class="w-100 h-100 font-weight-bold border-0 bg-transparent text-center text-uppercase" minlength="1" maxlength="1">
									</div>
									<div class="h-100 border border-dark">
										<input type="text" class="w-100 h-100 font-weight-bold border-0 bg-transparent text-center text-uppercase" minlength="1" maxlength="1">
									</div>
								</div>
								<div class="color-clue-single d-flex mb-2" style="background-color: #2B65EC">
									<div class="h-100 border border-dark">
										<input type="text" class="w-100 h-100 font-weight-bold border-0 bg-transparent text-center text-uppercase" minlength="1" maxlength="1">
									</div>
									<div class="h-100 border border-dark">
										<input type="text" class="w-100 h-100 font-weight-bold border-0 bg-transparent text-center text-uppercase" minlength="1" maxlength="1">
									</div>
									<div class="h-100 border border-dark">
										<input type="text" class="w-100 h-100 font-weight-bold border-0 bg-transparent text-center text-uppercase" minlength="1" maxlength="1">
									</div>
									<div class="h-100 border border-dark">
										<input type="text" class="w-100 h-100 font-weight-bold border-0 bg-transparent text-center text-uppercase" minlength="1" maxlength="1">
									</div>
									<div class="h-100 border border-dark">
										<input type="text" class="w-100 h-100 font-weight-bold border-0 bg-transparent text-center text-uppercase" minlength="1" maxlength="1">
									</div>
								</div>
								<div class="color-clue-single d-flex mb-2" style="background-color: #848482">
									<div class="h-100 border border-dark">
										<input type="text" class="w-100 h-100 font-weight-bold border-0 bg-transparent text-center text-uppercase" minlength="1" maxlength="1">
									</div>
									<div class="h-100 border border-dark">
										<input type="text" class="w-100 h-100 font-weight-bold border-0 bg-transparent text-center text-uppercase" minlength="1" maxlength="1">
									</div>
									<div class="h-100 border border-dark">
										<input type="text" class="w-100 h-100 font-weight-bold border-0 bg-transparent text-center text-uppercase" minlength="1" maxlength="1">
									</div>
									<div class="h-100 border border-dark">
										<input type="text" class="w-100 h-100 font-weight-bold border-0 bg-transparent text-center text-uppercase" minlength="1" maxlength="1">
									</div>
									<div class="h-100 border border-dark">
										<input type="text" class="w-100 h-100 font-weight-bold border-0 bg-transparent text-center text-uppercase" minlength="1" maxlength="1">
									</div>
									<div class="h-100 border border-dark">
										<input type="text" class="w-100 h-100 font-weight-bold border-0 bg-transparent text-center text-uppercase" minlength="1" maxlength="1">
									</div>
									<div class="h-100 border border-dark">
										<input type="text" class="w-100 h-100 font-weight-bold border-0 bg-transparent text-center text-uppercase" minlength="1" maxlength="1">
									</div>
								</div>
								<p class="mb-2">made from</p>
								<div class="color-clue-single d-flex mb-3" style="background-color: #F87217">
									<div class="h-100 border border-dark">
										<input type="text" class="w-100 h-100 font-weight-bold border-0 bg-transparent text-center text-uppercase" minlength="1" maxlength="1">
									</div>
									<div class="h-100 border border-dark">
										<input type="text" class="w-100 h-100 font-weight-bold border-0 bg-transparent text-center text-uppercase" minlength="1" maxlength="1">
									</div>
									<div class="h-100 border border-dark">
										<input type="text" class="w-100 h-100 font-weight-bold border-0 bg-transparent text-center text-uppercase" minlength="1" maxlength="1">
									</div>
									<div class="h-100 border border-dark">
										<input type="text" class="w-100 h-100 font-weight-bold border-0 bg-transparent text-center text-uppercase" minlength="1" maxlength="1">
									</div>
									<div class="h-100 border border-dark">
										<input type="text" class="w-100 h-100 font-weight-bold border-0 bg-transparent text-center text-uppercase" minlength="1" maxlength="1">
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<script type="text/javascript" src="./public/scripts/xwordScript.js"></script>
<%- include("../partials/footer") %>