<%- include("../../partials/header") %>

<div class="container-fluid content d-flex flex-column flex-md-row p-0">
    <%- include("../../partials/sidebar") %>
    <div class="main-content-div col px-0 position-relative">
        <div class="w-100 d-flex align-items-center flex-column px-4 pt-4">
            <div class="w-100 d-flex justify-content-center align-items-center flex-column px-lg-4 pb-3">
                <div class="w-100 d-flex justify-content-center align-items-center position-relative mb-2">
                    <div class="w-100 flex-grow-1 border-top border-dark"></div>
                    <h1 class="font-header w-100 text-center m-0 px-0">Coin Events / Shops</h1>
                    <div class="w-100 flex-grow-1 border-top border-dark"></div>
                </div>

                <div class="w-100 mb-3 d-flex flex-wrap">
                    <div class="font-content w-100 d-flex justify-content-center align-items-center flex-column mb-4">
                        <p class="text-justify mb-0">Click on any banner below to view event details, coin shop items, and plan your purchases!</p>
                    </div>

                    <div class="w-100 d-flex flex-column">
                        <%- include("../../admin/coin-events/coinEventsByCategory") %>
                    </div>

                    <!-- Horizontal -->
                    <ins class="adsbygoogle ad-space horz-ad mb-3"
                         style="display:block"
                         data-ad-client="ca-pub-9569715514342803"
                         data-ad-slot="9935306861"
                         data-ad-format="auto"
                         data-full-width-responsive="true">
                         </ins>
                    <script>
                        window.onload = function() {
                         (adsbygoogle = window.adsbygoogle || []).push({});
                        }
                    </script>
                </div>
            </div>
        </div>
    </div>
</div>

<%- include("../../partials/footer") %>