<div class="d-flex flex-column align-items-center py-3">
    <table class='font-table size-720 w-100 table table-sm table-bordered table-hover'>
        <thead>
            <tr>
                <th scope="col" class="text-center">Patch Content</th>
                <th scope="col" class="px-2">Details</th>
                <th scope="col" class="text-center">EXP Table URL</th>
            </tr>
        </thead>
        <tbody id='exp-table-history'>
        </tbody>
    </table>

    <hr class="w-25">

    <p class="mb-4">The latest EXP table is replicated below for easier reference.</p>

    <div class="w-100 d-flex flex-wrap" id="curr-exp-tables"></div>
</div>