<div class="font-content w-100 d-flex justify-content-center align-items-center flex-column">
    <div class="w-100 d-flex flex-column justify-content-center px-3 py-3">
        <div class="pill-section rounded-sm mb-4">
            <div class="pill-section-subheader text-center">
                <h2 class="font-subsubheader font-weight-bold d-flex justify-content-center align-items-center py-1 mb-0">
                    <img src="/public-images/logo.png" class="mr-2" width="35" height="35" alt="Site logo"> Introduction
                </h2>
            </div>
            <div class="pill-section-content d-flex flex-wrap justify-content-center py-3 px-3">
                <p class="text-justify">Hey there! I'm whacky, a mapler in MapleSEA. I main an Evan in Aquila world and have been developing this site since mid-2019. This site has been built from scratch using knowledge I've picked up, and will continue to be updated as and when possible. I hope you enjoy your stay here!</p>
                <p class="text-justify"><span class="font-weight-bold">Disclaimer:</span> This site contains information catered for the MapleStory SEA (MSEA) service. Discrepancies in names and other details are expected if you play a non-MSEA service. Thanks for understanding!</p>
                <img class="img-fluid" src="https://whacky-website.s3-ap-southeast-1.amazonaws.com/images/evan.webp">
                <p class="w-100 font-small text-right mb-0">Image Credits: @_pastel</p>
            </div>
        </div>
    </div>
</div>