<div class="font-content w-100 d-flex justify-content-center align-items-center flex-column">
    <div class="w-100 d-flex flex-column justify-content-center px-3 py-3">
        <div class="pill-section rounded-sm mb-5">
            <div class="pill-section-subheader text-center">
                <h2 class="font-subsubheader font-weight-bold d-flex justify-content-center align-items-center py-1 mb-0">
                    <img src="/public-images/logo.png" class="mr-2" width="35" height="35" alt="Site logo"> Site Plans / Contact
                </h2>
            </div>
            <div class="pill-section-content d-flex flex-column py-3 px-3">
                <p class="text-justify">To see what upcoming content is planned for the site, <a href="https://docs.google.com/document/d/18YYwke3IhpgdA45hyuvmwYu_iKyAMuZd_nAeXeIWn9k/edit?usp=sharing" target="_blank">check out the Google Docs here!</a> Feel free to drop suggestions or ideas (or anything you wish to be prioritized) in the document.</p>
                <p class="text-justify">For any enquiries, feedback, suggestions or just to check out what I'm up to when I'm not working on the site, feel free to check out any of the socials below!</p>

                <div class="w-100 d-flex flex-column align-items-center justify-content-center">
                    <div class="w-100 d-flex justify-content-center">
                        <div class="single-social col-6 col-md-4 col-lg-3 d-flex flex-column align-items-center mb-3 py-1">
                            <a href="https://www.discord.com/users/119446116843388929" target="_blank" class="w-100 d-flex flex-column align-items-center text-decoration-none py-2 rounded-lg">
                                <div class="w-100 single-logo-div d-flex justify-content-center align-items-center">
                                    <div class="about-logo single-logo w-100 h-100 discord-logo"></div>
                                </div>
                                <div class="horz-partition my-1"></div>
                                whacky#7051
                            </a>
                        </div>
                        <div class="single-social col-6 col-md-4 col-lg-3 d-flex flex-column align-items-center text-center mb-3">
                            <a href="mailto:whackybeanz@gmail.com" target="_blank" class="w-100 d-flex flex-column align-items-center text-decoration-none py-2 rounded-lg">
                                <div class="w-100 single-logo-div d-flex justify-content-center align-items-center">
                                    <div class="about-logo single-logo-med w-100 h-100 gmail-logo"></div>
                                </div>
                                <div class="horz-partition my-1"></div>
                                whackybeanz (Other) /<br/>engtc1 (Work)
                            </a>
                        </div>
                        <div class="single-social col-6 col-md-4 col-lg-3 d-flex flex-column align-items-center mb-3">
                            <a href="https://www.twitch.tv/whackybeanz" target="_blank" class="w-100 d-flex flex-column align-items-center text-decoration-none py-2 rounded-lg">
                                <div class="w-100 single-logo-div d-flex justify-content-center align-items-center py-2">
                                    <img class="about-logo single-logo-small" src="https://whacky-website.s3-ap-southeast-1.amazonaws.com/images/logos/twitch-logo.svg">
                                    <img class="about-logo single-logo-small" src="https://whacky-website.s3-ap-southeast-1.amazonaws.com/images/logos/twitch-text.svg">
                                </div>
                                <div class="horz-partition my-1"></div>
                                whackybeanz
                            </a>
                        </div>
                        <div class="single-social col-6 col-md-4 col-lg-3 d-flex flex-column align-items-center mb-3">
                            <a href="https://www.youtube.com/user/whackybeanz" target="_blank" class="w-100 d-flex flex-column align-items-center text-decoration-none py-2 rounded-lg">
                                <div class="w-100 single-logo-div d-flex justify-content-center align-items-center">
                                    <div class="about-logo single-logo-small w-100 h-100 youtube-logo"></div>
                                </div>
                                <div class="horz-partition my-1"></div>
                                whackybeanz
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>