<div class="font-content w-100 d-flex justify-content-center align-items-center flex-column">
    <div class="w-100 d-flex flex-column justify-content-center px-3 py-3">
        <div class="pill-section rounded-sm mb-5">
            <div class="pill-section-subheader text-center">
                <h2 class="font-subsubheader font-weight-bold d-flex justify-content-center align-items-center py-1 mb-0">
                    <img src="/public-images/logo.png" class="mr-2" width="35" height="35" alt="Site logo"> Support
                </h2>
            </div>
            <div class="pill-section-content d-flex flex-wrap justify-content-center py-3 px-3">
                <p class="text-justify">Thanks for considering to support the site! Any amount received will first go to the site's server and database upkeep costs. The remaining amounts will be split to help me in up-skilling and learning new skills for web development, as well as supporting my gaming journey in Maplestory.</p>
                <p class="text-justify">Currently, two options are available - Ko-Fi or PayPal. If there's other options you'd wish for me to add please do let me know too. Once again, many thanks for supporting this site and its development!</p>

                <div class="single-social col-6 col-md-4 d-flex flex-column align-items-center mb-3 py-1">
                    <a href="https://ko-fi.com/whackybeanz" target="_blank" class="w-100 d-flex flex-column align-items-center text-decoration-none py-2 rounded-lg">
                        <div class="w-100 single-logo-div d-flex justify-content-center align-items-center">
                            <div class="about-logo single-logo w-100 h-100 ko-fi-logo"></div>
                        </div>
                        <div class="horz-partition my-1"></div>
                        ko-fi.com/whackybeanz
                    </a>
                </div>
                <div class="single-social col-6 col-md-4 d-flex flex-column align-items-center text-center mb-3">
                    <a href="https://paypal.me/whackybeanz" target="_blank" class="w-100 d-flex flex-column align-items-center text-decoration-none py-2 rounded-lg">
                        <div class="w-100 single-logo-div d-flex justify-content-center align-items-center">
                            <img src="https://www.paypalobjects.com/webstatic/en_US/i/buttons/PP_logo_h_150x38.png" alt="PayPal logo" />
                        </div>
                        <div class="horz-partition my-1"></div>
                        Paypal (paypal.me/whackybeanz)
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>