<div class="font-content w-100 d-flex justify-content-center align-items-center flex-column">
    <div class="w-100 d-flex flex-column justify-content-center px-3 py-3">
        <div class="exp-stack-section rounded-sm mb-5">
            <div class="exp-stack-section-subheader text-center">
                <h2 class="font-subsubheader font-weight-bold d-flex justify-content-center align-items-center py-1 mb-0">
                    <img src="<%= icons['symbol-rte'].imgUrl %>" class="mr-2"> EXP Table
                </h2>
            </div>
            <div class="exp-stack-section-content font-form d-flex flex-wrap justify-content-center pt-3">
                <div class="w-100 d-flex flex-column justify-content-start align-items-center px-3">
                    <div class="w-100 d-flex flex-wrap justify-content-center" id="symbol-exp-tables"></div>
                </div>
            </div>
        </div>
    </div>
</div>