<div class="font-content w-100 d-flex justify-content-center align-items-center flex-column">
    <div class="w-100 d-flex flex-column justify-content-center px-3 py-3">
        <div class="pill-section rounded-sm mb-5">
            <div class="pill-section-subheader text-center py-1">
                <h2 class="font-subsubheader font-weight-bold d-flex justify-content-center align-items-center py-1 mb-0">
                     <img src="<%= icons['default-icon'].imgUrl %>" class="mr-2" width="35" height="35" alt="<%= icons['default-icon'].name %>"> Credits
                </h2>
            </div>
            <div class="pill-section-content font-form d-flex flex-wrap justify-content-center py-3">
                <div class="w-100 d-flex flex-column justify-content-start align-items-center px-3">
                    <div class="w-100 mb-3">
                        <h2 class="font-subsubheader font-weight-bold text-underline mb-2" id="credits-ack">Acknowledgements</h2>
                        <div class="font-content w-100 mb-3">
                            <p class="text-justify">Credits to <a href="https://namu.wiki/w/%EC%95%84%EC%BC%80%EC%9D%B8%ED%8F%AC%EC%8A%A4?from=%EC%95%84%EC%BC%80%EC%9D%B8%20%ED%8F%AC%EC%8A%A4#s-5.2" target="_blank">Namu Wiki's</a> and <a href="https://strategywiki.org/wiki/MapleStory/Arcane_River#Arcane_Symbols">StrategyWiki's</a> Arcane Symbol pages for detailed breakdowns of cost data and symbol EXP data seen on this page.</p>
                        </div>
                    </div>
                    <div class="w-100 mb-0">
                        <h2 class="font-subsubheader font-weight-bold text-underline mb-2" id="credits-contact">Contact</h2>
                        <div class="font-content w-100">
                            <p class="text-justify mb-0">If you spot any errors, please contact <a href="https://www.discord.com/users/119446116843388929">whacky#7051 on Discord</a> with the list of corrections to make. Thank you!</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>