<div class="font-content w-100 d-flex justify-content-center align-items-center flex-column">
    <div class="w-100 d-flex flex-column justify-content-center py-3">
        <div class="pill-section rounded-sm mb-5">
            <div class="pill-section-subheader text-center py-1">
                <h2 class="font-subsubheader font-weight-bold d-flex justify-content-center align-items-center py-1 mb-0">
                    Credits
                </h2>
            </div>
            <div class="pill-section-content font-form d-flex flex-wrap justify-content-center py-3">
                <div class="w-100 d-flex flex-column justify-content-start align-items-center px-3">
                    <div class="w-100 mb-3">
                        <h2 class="font-subsubheader font-weight-bold text-underline mb-2" id="credits-ack">Acknowledgements</h2>
                        <div class="font-content w-100 mb-3">
                            <p>Credits to <a href="https://namu.wiki/w/HEXA%20%EB%A7%A4%ED%8A%B8%EB%A6%AD%EC%8A%A4">Namu Wiki</a> for the breakdown of HEXA skill / HEXA stat material costs and boss Sol Erda Energy rewards.</p>
                        </div>
                    </div>
                    <div class="w-100 mb-0">
                        <h2 class="font-subsubheader font-weight-bold text-underline mb-2" id="credits-contact">Contact</h2>
                        <div class="font-content w-100">
                            <p class="text-justify mb-0">If you spot any errors, please contact <a href="https://www.discord.com/users/119446116843388929">@whackybeanz on Discord</a> with the list of corrections to make. Thank you!</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>