<div class="font-content w-100 d-flex justify-content-center align-items-center flex-column">
    <div class="w-100 d-flex flex-column justify-content-center px-3 py-3">
        <div class="pill-section rounded-sm mb-5">
            <div class="pill-section-subheader text-center py-1">
                <h2 class="font-subsubheader font-weight-bold d-flex justify-content-center align-items-center py-1 mb-0">
                     <img src="<%= icons['default-icon'].imgUrl %>" class="mr-2" width="35" height="35" alt="<%= icons['default-icon'].name %>"> Credits
                </h2>
            </div>
            <div class="pill-section-content font-form d-flex flex-wrap justify-content-center py-3">
                <div class="w-100 d-flex flex-column justify-content-start align-items-center px-3">
                    <div class="w-100 mb-3">
                        <h2 class="font-subsubheader font-weight-bold text-underline mb-2" id="credits-ack">Acknowledgements</h2>
                        <div class="font-content w-100 mb-3">
                            <p class="text-justify mb-1">Credits go to the following individuals:</p>
                            <ul>
                                <li class="mb-2"><span class="text-custom font-weight-bold">AoiYume / Gary</span> - For his hard work on compiling the original Google Sheets document, which made the Monster Life journey for many Maplers significantly easier. The document was also the inspiration for this webpage you see here. Check out the original document by <a href="https://tinyurl.com/aoifarm" target="_blank">clicking here</a>!</li>
                                <li class="mb-2"><span class="text-custom font-weight-bold">iLoveHTC, WTFEven, Ginseng, ChiChae, RaspberyJeli</span> - For their work helping to edit and maintain the Google Sheets document</li>
                                <li class="mb-2"><span class="text-custom font-weight-bold">mushroomgame</span> - For the crawler that allowed for up-to-date data on individual monster expiry, adding a treasure trove of farm data to the Google Sheets document</li>
                                <li class="mb-2"><span class="text-custom font-weight-bold">vireys / amph</span> - For the intermediary database site holding all the monster data as retrieved from the crawler. Check out the site by <a href="https://tinyurl.com/mseamonlife" target="_blank">clicking here</a>!</li>
                                <li class="mb-2"><span class="text-custom font-weight-bold">pastel</span> - For the Google Sheets document breaking down individual monster effects, as well as the detailed pathways to achieve respective fusions. Check out the document by <a href="https://docs.google.com/spreadsheets/d/1xgoOQJqD_HiaudXmdorkVmTtQIDdBjWgjWY2vDdoMd0/edit#gid=1745777476" target="_blank">clicking here</a>!</li>
                            </ul>
                        </div>
                    </div>
                    <div class="w-100 mb-0">
                        <h2 class="font-subsubheader font-weight-bold text-underline mb-2" id="credits-contact">Contact</h2>
                        <div class="font-content w-100">
                            <p class="text-justify mb-0">If you spot any errors, please contact <a href="https://www.discord.com/users/119446116843388929">whacky#7051 on Discord</a> with the list of corrections to make. Thank you!</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>