<div class="font-content w-100 d-flex justify-content-center align-items-center flex-column">
    <div class="w-100 d-flex flex-column justify-content-center px-3 py-3">
        <div class="pill-section rounded-sm mb-5">
            <div class="pill-section-subheader text-center pb-2">
                <h2 class="font-subsubheader font-weight-bold d-flex justify-content-center align-items-center py-1 mb-0">
                    <img src="<%= icons['default-icon'].imgUrl %>" class="mr-2" width="35" height="35" alt="<%= icons['default-icon'].name %>"> Bookmarked Farms
                </h2>
                <p class="mb-0">
                    Click on any farms to automatically copy to your clipboard<br>Double click to add/remove bookmark for any farm
                </p>
            </div>
            <div class="pill-section-content font-form d-flex flex-column align-items-center px-2 py-3">
                <div class="bookmark-list w-100 d-flex justify-content-start flex-wrap" id="bookmarked-farms">
                    <p class="w-100 text-custom text-center mb-0">- No farms bookmarked currently -</p>
                </div>
            </div>
        </div>
    </div>
</div>