<div class="sidebar font-sidebar col-md-2 d-none d-md-block p-0 pt-4 mt-2" id="sidebar">
	<div class="font-button sidebar-btn active d-flex justify-content-center align-items-center text-center p-2 my-3" data-tab="equip-list">
		<a href="/" class="stretched-link text-decoration-none">Equipment List</a>
	</div>
	<div class="font-button sidebar-btn d-flex justify-content-center align-items-center text-center p-2 mb-3" data-tab="add-set">
		<a href="/addSet" class="stretched-link text-decoration-none">Add New Set</a>
	</div>
	<div class="font-button sidebar-btn d-flex justify-content-center align-items-center text-center p-2 mb-3" data-tab="add-item">
		<a href="/addItem" class="stretched-link text-decoration-none">Add New Item</a>
	</div>
</div>