<%- include("../partials/header") %>
<%- include("../partials/navbar") %>

<div class="container-fluid content d-flex flex-column flex-md-row p-0">
    <%- include("../partials/sidebar") %>
    <div class="main-content-div col p-0 position-relative">
        <div class="w-100 align-items-center flex-column px-4 pt-4" id="calculator">
            <div class="w-100 d-flex justify-content-center align-items-center flex-column px-lg-4 pb-3">
                <div class="w-100 d-flex justify-content-center align-items-center position-relative mb-2">
                    <div class="w-100 flex-grow-1 border-top border-dark"></div>
                    <h1 class="font-header w-100 text-center m-0 px-0">EXP Stacking Calculator</h1>
                    <div class="w-100 flex-grow-1 border-top border-dark"></div>
                </div>
                <div class="w-100 mb-3">
                    <h2 class="font-subheader w-100 font-weight-bold text-underline mb-2">Instructions</h2>
                    <div class="font-content w-100 d-flex justify-content-center align-items-center flex-column mb-4">
                        <p class="w-100 text-justify">This calculator helps you quickly determine your current EXP multiplier, and expected EXP gains on certain content.</p>
                    </div>
                    <div class="font-content w-100 d-flex justify-content-center align-items-center flex-column mb-4">
                        <h3 class="w-100 font-subsubheader font-italic mb-0">Step 1: Enter initial details</h3>
                        <div class="w-100 d-flex justify-content-center align-items-center flex-column position-relative">
                            <div class="w-100 d-flex justify-content-center align-items-center py-3">
                                <form class="font-form size-720 w-100 d-flex flex-column justify-content-center align-items-start">
                                    <div class="col-12">
                                        <div class="form-group row d-flex align-items-start">
                                            <label for="exp-table-used" class="col-3 col-form-label font-weight-bold text-left pl-0">EXP Table to Use</label>
                                            <div class="col-9 col-lg-6 px-0 d-flex flex-column">
                                                <select class="form-control px-2" id="exp-table-used">
                                                    <option value="neo" selected>NEO</option>
                                                    <option value="rise">RISE</option>
                                                    <option value="glory">GLORY</option>
                                                    <option value="black">BLACK</option>
                                                </select>
                                                <small id="patch-details" class="form-text text-info">
                                                    - Released in KMS in December 2020<br/>
                                                    - Level cap raised to 300<br/>
                                                    - Level 210 to 250 EXP reductions
                                                </small>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-12">
                                        <div class="form-group row d-flex align-items-start">
                                            <label for="gear-level" class="col-3 col-form-label font-weight-bold text-left pl-0">Character Level</label>
                                            <div class="col-9 col-lg-6 px-0 d-flex flex-column">
                                                <input class="font-small w-100 form-control text-left rounded-sm" type="number" id="char-level" value="200" min="50" max="300">
                                                <small id="invalid-level" class="form-text d-none text-danger">The level specified is invalid for the EXP Table selected. Allowed values: 50 to <span id="max-level"></span></small>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-12">
                                        <div class="form-group row">
                                            <button type="submit" class="btn col-12 col-lg-9 action-button py-1 px-2 rounded-sm font-weight-bold text-center" id="btn-start-calc">Begin</button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>

                    <div class="font-content w-100 d-flex justify-content-center align-items-center flex-column mb-4" id="select-exp-sources-div">
                        <h3 class="w-100 font-subsubheader font-italic mb-0">Step 2: Select EXP sources</h3>
                        <p class="w-100 text-justify">Click on any EXP coupons/items/buffs you use during training. Class-specific skills that give extra EXP, and buffs lasting for a very short duration (e.g. V Matrix special core) are not selectable.</p>

                        <div class="w-100 d-flex justify-content-center align-items-center flex-column position-relative">
                            <table class="font-table size-720 table table-sm table-bordered table-hover mb-2">
                                <thead>
                                    <tr>
                                        <th></th>
                                        <th class="text-center" scope="col">Notes</th>
                                        <th class="text-center" scope="col">Sources</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <th class="table-cols-50 text-center table-cols-header align-middle">
                                            Category 1<br/>
                                            <span class="font-weight-normal">Cash shop coupons</span>
                                        </th>
                                        <td class="table-cols-125 text-center align-middle">
                                            -
                                        </td>
                                        <td class="text-center align-middle">
                                            <p class="mb-0">Select <span class="text-underline">one</span></p>
                                            <div class="d-flex justify-content-center">
                                                <div class="item-square border rounded-sm mx-1 my-2" data-toggle="tooltip" data-placement="bottom" title="Premium Cafe / Premium Service Coupon (+20% EXP)"></div>
                                                <div class="item-square border rounded-sm mx-1 my-2" data-toggle="tooltip" data-placement="bottom" title="2x EXP Active Card (x2 EXP)"></div>
                                                <div class="item-square border rounded-sm mx-1 my-2" data-toggle="tooltip" data-placement="bottom" title="Special Cash Coupons (x2 EXP)"></div>
                                                <div class="item-square border rounded-sm mx-1 my-2" data-toggle="tooltip" data-placement="bottom" title="Special Cash Coupons (x3 EXP)"></div>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <th class="table-cols-50 text-center table-cols-header align-middle">
                                            Category 2<br/>
                                            <span class="font-weight-normal">Use coupons (non-cash)</span>
                                        </th>
                                        <td class="table-cols-125 text-center align-middle">
                                            Stacks with Category 3 (only for GMS)
                                        </td>
                                        <td class="text-center align-middle">
                                            <p class="mb-0">Select <span class="text-underline">one</span> (if applicable)</p>
                                            <div class="d-flex justify-content-center">
                                                <div class="item-square border rounded-sm mx-1 my-2" data-toggle="tooltip" data-placement="bottom" title="Happy Winter (x1.2 EXP)"></div>
                                                <div class="item-square border rounded-sm mx-1 my-2" data-toggle="tooltip" data-placement="bottom" title="1.5x EXP Coupon / Enjoyable Winter (x1.5 EXP)"></div>
                                                <div class="item-square border rounded-sm mx-1 my-2" data-toggle="tooltip" data-placement="bottom" title="2x EXP Coupon / Union's EXP / 2x MVP EXP Coupon / Dojo EXP Coupon (x2 EXP)"></div>
                                                <div class="item-square border rounded-sm mx-1 my-2" data-toggle="tooltip" data-placement="bottom" title="3x EXP Coupon (x3 EXP)"></div>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <th class="table-cols-50 text-center table-cols-header align-middle">
                                            Category 3<br/>
                                            <span class="font-weight-normal">Server events</span>
                                        </th>
                                        <td class="table-cols-125 text-center align-middle">
                                            Stacks with Category 2 (only for GMS)
                                        </td>
                                        <td class="text-center align-middle">
                                            <p class="mb-0">Select <span class="text-underline">one</span> (if applicable)</p>
                                            <div class="d-flex justify-content-center">
                                                <div class="item-square border rounded-sm mx-1 my-2" data-toggle="tooltip" data-placement="bottom" title="1.5x EXP server event (x1.5 EXP)"></div>
                                                <div class="item-square border rounded-sm mx-1 my-2" data-toggle="tooltip" data-placement="bottom" title="2x EXP server event (x2 EXP)"></div>
                                                <div class="item-square border rounded-sm mx-1 my-2" data-toggle="tooltip" data-placement="bottom" title="3x EXP server event (x3 EXP)"></div>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <th class="table-cols-50 text-center table-cols-header align-middle">
                                            Category 4<br/>
                                            <span class="font-weight-normal">Penance Ring</span>
                                        </th>
                                        <td class="table-cols-125 text-center align-middle">-</td>
                                        <td class="text-center align-middle">
                                            <div class="d-flex justify-content-center">
                                                <div class="item-square border rounded-sm mx-1 my-2" data-toggle="tooltip" data-placement="bottom" title="Penance Ring (x1.15 EXP)"></div>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <th class="table-cols-50 text-center table-cols-header align-middle">
                                            Category 5<br/>
                                            <span class="font-weight-normal">Additive Buffs</span>
                                        </th>
                                        <td class="table-cols-125 text-center align-middle">-</td>
                                        <td class="text-center align-middle py-2">
                                            <div class="d-flex justify-content-center flex-wrap my-2">
                                                <div class="item-square border rounded-sm mx-1 mb-2" data-toggle="tooltip" data-placement="bottom" title="EXP Accumulation Potion (+20% EXP)"></div>
                                                <div class="item-square border rounded-sm mx-1 mb-2" data-toggle="tooltip" data-placement="bottom" title="Extreme Gold (+10% EXP)"></div>
                                                <div class="item-square border rounded-sm mx-1 mb-2" data-toggle="tooltip" data-placement="bottom" title="MVP Plus Weather Effect / MVP Additional 50% EXP Coupon / Mu Gong's Stamina Tonic (+50% EXP)"></div>
                                                <div class="item-square border rounded-sm mx-1 mb-2" data-toggle="tooltip" data-placement="bottom" title="Ursun's Gift Buff (+50% EXP)"></div>
                                                <div class="item-square border rounded-sm mx-1 mb-2" data-toggle="tooltip" data-placement="bottom" title="Lightning's Gift Buff (+100% EXP)"></div>
                                                <div class="item-square border rounded-sm mx-1 mb-2" data-toggle="tooltip" data-placement="bottom" title="EXP Buff (+50% EXP)"></div>
                                                <div class="item-square border rounded-sm mx-1 mb-2" data-toggle="tooltip" data-placement="bottom" title="Party EXP Booster (+10% EXP)"></div>
                                                <div class="item-square border rounded-sm mx-1 mb-2" data-toggle="tooltip" data-placement="bottom" title="Welcome Back Ring (+80% EXP)"></div>
                                                <div class="item-square border rounded-sm mx-1 mb-2" data-toggle="tooltip" data-placement="bottom" title="Returning Mapler Ring (+20% EXP)"></div>
                                                <div class="item-square border rounded-sm mx-1 mb-2" data-toggle="tooltip" data-placement="bottom" title="Guild Know-how (+5% EXP, level 101 to 200 monsters only)"></div>
                                                <div class="item-square border rounded-sm mx-1 mb-2" data-toggle="tooltip" data-placement="bottom" title="E.X.P Entropy (+50% EXP, Kritias monsters only)"></div>
                                                <div class="item-square border rounded-sm mx-1 mb-2" data-toggle="tooltip" data-placement="bottom" title="Monster Life Petite Orchid (+3% EXP)"></div>
                                                <div class="item-square border rounded-sm mx-1 mb-2" data-toggle="tooltip" data-placement="bottom" title="Monster Life Petite Mercedes (+3% EXP)"></div>
                                            </div>
                                            <div>
                                                <div class="d-flex align-items-center mb-1">
                                                    <span class="col-5 text-right">Elven Blessing</span>
                                                    <select class="font-table col-4 form-control px-2" id="elven-blessing">
                                                        <option value="0" selected>N/A</option>
                                                        <option value="10">+10% EXP (Level 1)</option>
                                                        <option value="15">+15% EXP (Level 2)</option>
                                                        <option value="20">+20% EXP (Level 3, GMS only)</option>
                                                    </select>
                                                </div>
                                                <div class="d-flex align-items-center mb-1">
                                                    <span class="col-5 text-right">Zero Union Attacker</span>
                                                    <select class="font-table col-4 form-control px-2" id="zero-union">
                                                        <option value="0" selected>N/A</option>
                                                        <option value="4">+4% EXP (B-rank)</option>
                                                        <option value="6">+6% EXP (A-rank)</option>
                                                        <option value="8">+8% EXP (S-rank)</option>
                                                        <option value="10">+10% EXP (SS-rank)</option>
                                                        <option value="12">+12% EXP (SSS-rank)</option>
                                                    </select>
                                                </div>
                                                <div class="d-flex align-items-center mb-1">
                                                    <span class="col-5 text-right">Spirit Pendant</span>
                                                    <select class="font-table col-4 form-control px-2" id="spirit-pendant">
                                                        <option value="0" selected>N/A</option>
                                                        <option value="10">+10% EXP (B-rank)</option>
                                                        <option value="20">+20% EXP (A-rank)</option>
                                                        <option value="30">+30% EXP (S-rank)</option>
                                                    </select>
                                                </div>
                                                <div class="d-flex align-items-center mb-1">
                                                    <span class="col-5 text-right">Ring of Clan<sup class="text-info">[1]</sup></span>
                                                    <select class="font-table col-4 form-control px-2" id="ring-of-clan">
                                                        <option value="0" selected>N/A</option>
                                                        <option value="10">+10% EXP (Player wears ring)</option>
                                                        <option value="15">+15% EXP (1 extra ring wearer in party)</option>
                                                        <option value="20">+20% EXP (2 extra ring wearers in party)</option>
                                                        <option value="25">+25% EXP (3 extra ring wearers in party)</option>
                                                        <option value="30">+30% EXP (4 extra ring wearers in party)</option>
                                                    </select>
                                                </div>
                                                <div class="d-flex align-items-center mb-1">
                                                    <span class="col-5 text-right">Burning Field</span>
                                                    <select class="font-table col-4 form-control px-2" id="burning-field">
                                                        <option value="0" selected>N/A</option>
                                                        <option value="10">+10% EXP (Stage 1)</option>
                                                        <option value="20">+20% EXP (Stage 2)</option>
                                                        <option value="30">+30% EXP (Stage 3)</option>
                                                        <option value="40">+40% EXP (Stage 4)</option>
                                                        <option value="50">+50% EXP (Stage 5)</option>
                                                        <option value="60">+60% EXP (Stage 6)</option>
                                                        <option value="70">+70% EXP (Stage 7)</option>
                                                        <option value="80">+80% EXP (Stage 8)</option>
                                                        <option value="90">+90% EXP (Stage 9)</option>
                                                        <option value="100">+100% EXP (Stage 10)</option>
                                                    </select>
                                                </div>
                                                <div class="d-flex align-items-center mb-1">
                                                    <span class="col-5 text-right">Liberated Rune</span>
                                                    <select class="font-table col-4 form-control px-2" id="rune-exp">
                                                        <option value="0" selected>N/A</option>
                                                        <option value="100">+100% EXP</option>
                                                        <option value="150">+150% EXP (Events)</option>
                                                        <option value="200">+200% EXP (Events)</option>
                                                    </select>
                                                </div>
                                                <div class="d-flex align-items-center mb-1">
                                                    <span class="col-5 text-right">Union Board EXP tiles</span>
                                                    <input type="number" class="font-table col-2 form-control mr-2" id="union-board-tiles" value="0">%
                                                </div>
                                                <div class="d-flex align-items-center mb-1">
                                                    <span class="col-5 text-right">Event Titles</span>
                                                    <input type="number" class="font-table col-2 form-control mr-2" id="event-titles" value="0">%
                                                </div>
                                                <div class="d-flex align-items-center mb-1">
                                                    <span class="col-5 text-right">Hyper Stats</span>
                                                    <input type="number" class="font-table col-2 form-control mr-2" id="hyper-stats" value="0">%
                                                </div>
                                                <div class="d-flex align-items-center mb-1">
                                                    <span class="col-5 text-right">(Decent) Holy Symbol</span>
                                                    <input type="number" class="font-table col-2 form-control mr-2" id="holy-symbol" value="0">%
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                            <div class="font-footnote size-720 w-100 text-justify">
                                <p class="mb-0"><span class="text-info font-weight-bold">[1]</span> The player MUST be wearing the Ring of Clan for any EXP buff to take effect first. If player does not wear the Ring but other party members do, the EXP buff will not take place.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="w-100 d-flex align-items-center flex-column px-4 pt-4" id="credits">
            <div class="w-100 d-flex justify-content-center align-items-center flex-column px-lg-4 pb-3">
                <div class="w-100 d-flex justify-content-center align-items-center position-relative mb-2">
                    <div class="w-100 border-top border-dark"></div>
                    <h1 class="font-header w-100 text-center m-0">Credits</h1>
                    <div class="w-100 border-top border-dark"></div>
                </div>
                <div class="w-100 mb-3">
                    <h2 class="font-subheader font-weight-bold text-underline mb-2" id="credits-ack">Acknowledgements</h2>
                    <div class="font-content w-100 mb-4">
                        <p class="text-justify">Many thanks to the respective Inven threads, StrategyWiki's <a href="https://strategywiki.org/wiki/MapleStory/EXP_and_Pet_Closeness" target="_blank">EXP Table</a> and <a href="https://strategywiki.org/wiki/MapleStory/Formulas#EXP_stacking">EXP Stacking formulas</a>, and Bready from the <a href="https://discord.gg/NNpqZsZ" target="_blank">MapleSEA Discord</a> for EXP table data across the various patches.</p>

                        <p class="text-justify mb-1">EXP table data over the years:</p>
                        <ul>
                            <li><a href="http://m.inven.co.kr/board/maple/2304/24769">NEO</a> (Level cap raised to 300, Level 210 to 250 EXP reductions)</li>
                            <li><a href="http://m.inven.co.kr/board/maple/2304/18454">RISE</a> (Level 170 to 199 EXP reductions)</li>
                            <li><a href="http://m.inven.co.kr/board/maple/2304/16215">GLORY</a> (Level 220 to 234 EXP reductions)</li>
                            <li><a href="http://m.inven.co.kr/board/maple/2304/11072">BLACK</a> (Level 201 to 219 EXP reductions, Level cap raised to 275)</li>
                            <li><a href="http://m.inven.co.kr/board/maple/2304/13331">Complete EXP Table post-BLACK patch changes</a></li>
                        </ul>
                    </div>
                </div>
                <div class="w-100 mb-3">
                    <h2 class="font-subheader font-weight-bold text-underline mb-2" id="credits-contact">Contact</h2>
                    <div class="font-content w-100">
                        <p class="text-justify">If you spot any errors, please contact whacky#7051 on Discord with the list of corrections to make. Thank you!</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript" src="./public/scripts/commonScript.js"></script>
<script type="text/javascript" src="./public/scripts/expStackingScript.js"></script>
<%- include("../partials/footer") %>