<%- include("../partials/header") %>
<%- include("../partials/navbar") %>

<div class="container-fluid content d-flex flex-column flex-md-row p-0">
    <%- include("../partials/sidebar") %>
    <div class="main-content-div col p-0 position-relative">
        <div class="w-100 align-items-center flex-column px-4 pt-4">
            <div class="w-100 d-flex justify-content-center align-items-center flex-column px-lg-4 pb-3">
                <div class="w-100 d-flex justify-content-center align-items-center position-relative mb-2">
                    <div class="w-100 flex-grow-1 border-top border-dark"></div>
                    <h1 class="font-header w-100 text-center m-0 px-0">List of Potentials</h1>
                    <div class="w-100 flex-grow-1 border-top border-dark"></div>
                </div>
                <div class="w-100 mb-3">
                    <h2 class="font-subheader w-100 font-weight-bold text-underline mb-2">Instructions</h2>
                    <div class="font-content w-100 d-flex justify-content-center align-items-center flex-column mb-4">
                        <p class="w-100 text-justify">This info sheet contains the full list of possible potentials for each item part. To begin, click on an item part in the Equip window.</p>

                        <div class="w-100 d-flex justify-content-center">
                            <div class="position-relative">
                                <img src="https://whacky-website.s3-ap-southeast-1.amazonaws.com/images/equips/equip-tab.png">
                                <div class="w-100 h-100 position-absolute" id="equip-grid">
                                    <a href="#" class="equip-slot" id="ring-1-slot"></a>
                                    <div class="equip-slot disabled" id="ring-2-slot"></div>
                                    <div class="equip-slot disabled" id="ring-3-slot"></div>
                                    <div class="equip-slot disabled" id="ring-4-slot"></div>
                                    <div class="equip-slot disabled" id="pocket-slot"></div>

                                    <div class="equip-slot disabled" id="pendant-2-slot"></div>
                                    <a href="#" class="equip-slot" id="pendant-1-slot"></a>
                                    <a href="#" class="equip-slot" id="weapon-slot"></a>
                                    <a href="#" class="equip-slot" id="belt-slot"></a>

                                    <a href="#" class="equip-slot" id="hat-slot"></a>
                                    <a href="#" class="equip-slot" id="face-slot"></a>
                                    <a href="#" class="equip-slot" id="eye-slot"></a>
                                    <a href="#" class="equip-slot" id="top-slot"></a>
                                    <a href="#" class="equip-slot" id="bottom-slot"></a>
                                    <a href="#" class="equip-slot" id="shoes-slot"></a>

                                    <a href="#" class="equip-slot" id="earring-slot"></a>
                                    <a href="#" class="equip-slot" id="shoulder-slot"></a>
                                    <a href="#" class="equip-slot" id="gloves-slot"></a>
                                    <div class="equip-slot disabled" id="android-slot"></div>

                                    <a href="#" class="equip-slot" id="emblem-slot"></a>
                                    <div class="equip-slot disabled" id="badge-slot"></div>
                                    <div class="equip-slot disabled" id="medal-slot"></div>
                                    <a href="#" class="equip-slot" id="secondary-slot"></a>
                                    <a href="#" class="equip-slot" id="cape-slot"></a>
                                    <a href="#" class="equip-slot" id="heart-slot"></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<%- include("../partials/footer") %>